﻿body {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.partner {
    background-color: #00224f;
    color: #ffffff;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 46px 100px;
    align-items: center;
}

.partner-left {
    font-size: 30px;
    padding-right: 60px;
    line-height: 1.3;
}

    .partner-left .text {
        color: #0095ff;
        font-size: 40px;
        font-weight: bolder;
    }

    .partner-left span {
        font-size: 18px;
    }

.partner-right {
    margin-left: 70px;
}

    .partner-right .partner-right-frame {
        width: 415px;
        height: 550px;
        padding: 20px;
        border: 1px solid #000000;
        background-color: #ffffff;
        border-radius: 5px;
        /* color: #252424; */
        font-size: 14px;
        color: #333;
        line-height: 1.4;
    }

.partner-right-frame .partner-right-header {
    margin-bottom: 20px;
    margin-left: 4px;
}

.partner-right-frame .partner-right-list {
    margin-bottom: 20px;
}

.partner-right-list li {
    display: flex;
    text-align: center;
    margin-bottom: 15px;
}

    .partner-right-list li i {
        color: green;
    }

    .partner-right-list li i {
        margin-right: 5px;
    }

.partner-right-frame .partner-right-account {
    margin-bottom: 20px;
    padding: 25px 0;
    border-top: 1px solid #575757;
    border-bottom: 1px solid #575757;
}

.partner-right-account span {
    margin-bottom: 10px;
    font-weight: bold;
}

.partner-right-account p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
}

.partner-right-account .btnGetstarted {
    background-color: #2277b4;
    padding: 12px 16px;
    width: 100%;
    color: #fff;
}

.btnGetstarted:hover {
    background-color: #0065ad;
    width: 100%;
    cursor: pointer;
}

.partner-right-register {
    line-height: 1.1;
    font-size: 14px;
}

    .partner-right-register p {
        margin-bottom: 10px;
    }

    .partner-right-register a {
        text-decoration: underline;
        color: #0071c2;
    }

.fa-arrow-right {
    margin-left: 5px;
}
