.container{
    display: flex;
    flex-direction: column;
    height: 600px;
}

.title{
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(80, 80, 80);
}

.roomsetup-header{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.roomsetup-content{
    display: flex;
    justify-content: space-between;
}

.basic-info{
    margin-top: 20px;
    background-color: white;
    border: 1px solid #adadad;
    width: 100%;
    border-radius: 1px;
    
}

.title-setting{
    display: flex;
    background-color: #49d5ff;
    width: 100%;
    height: 36px;
    justify-content: space-around;
    border-bottom: 1px solid #696969;
    font-weight: bold;
    color: rgb(105, 105, 105);
    align-items: center;
}
/* new */
.content-setting{
    margin: 10px;
    margin-top: 20px;
}

.content-setting-addnew{
    display: flex;
    margin: 10px auto;
}
.content-setting-addnew-new{
    display: flex;
    margin: 10px auto;
}
/* .content-setting-device{
    display: flex;
    margin: 10px auto;

} */
/* .content-setting-service{
    display: flex;
    margin: 10px auto;

} */
/*  */
.input-group-select{
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.input-group-select .selectpicker{
    margin: 0px;
}

.input-group-select:hover{
    cursor: pointer;
}

.content-setting select{
    border: 1px solid #ced4da;
    width: 440px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.room-image-setting{
    display: flex;
    background-color: #d4d4d4;
    padding: 5px;
    justify-content: space-evenly;
}

.image-upload-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step{
    margin-left: 300px;
}

.preview1,
.preview2,
.preview3,
.preview4,
.preview5{
    width: 100px;
}

.room-image-title{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.mb-3 #select{
    width: 500px;
}
.dropdown {
    width: 100% !important;
}
.show{
    
    width: 100% !important;
    min-width: 0 !important;
}
.mrt-02{
    margin-top: 20px;
}
.bag-div{
    margin-bottom: 34px;
}
.selectSearch {
    width: 470px;
    display: flex;

}

.Service-Option {
    width: 700px!important;
    display: flex;
}

.selectSearch input{
    width: 440px;
    border: 1px solid #cacaca;
    box-shadow: rgb(10 10 10 / 10%) 0px 1px 2px inset;
    height: 40px;
    border-radius: 2px;
    padding: 0 10px;
}
.selectSearch option{
    width: 100%;
}
.hotel-width{
    width: 440px !important;

}
#map {
    height: 500px;
    width: 100%;
  }
  
 
  
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #target {
    width: 345px;
  }
  #pac-input{
      
  }
  /* new */
  .packaging{
      text-align: center;
  }
  .remove-content{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
  }
.title-enter-add{
    margin-top: 10px;
    margin-left: 20px;
}
  .remove-content:hover{
      cursor: pointer;
      background-color: rgb(255, 78, 78);
      border-color: rgb(255, 78, 78);
      color: white;
  }
  .packaging-all-btn{
    width: 100%;
    display: flex;
}
.btn-p{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin-right: 5px;
    align-items: center;
}

.packaging-btn{
    width: 50%;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-in-p{
margin-top: 8px;
}
  .add-content{
    width: 40px;
      height: 40px;
      border: 1px solid black;
  }
  .add-content:hover{
      cursor: pointer;
      background-color: aquamarine;
      border-color: aquamarine;
  }
  .fa-plus, .fa-times{
        font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .new-content{
      margin-top: 5px;
  }
  /*  */

.map-display {
    display: flex;
    align-items: center;
}

.map-display-left {
    padding: 2px 4px;
}

    .map-display-left img {
        width: 70px;
        height: 70px;
    }

.map-display-right {
    padding: 2px 4px;
}

    .map-display-right .hotelPoint {
        display: flex;
        align-items: center;
    }

    .map-display-right .hotelStar {
        margin-left: 2px;
        display: flex;
        align-items: center;
        margin-right: 3px;
    }

        .map-display-right .hotelStar i {
            width: 20px;
            color: #ffa726;
        }
.hotelPoint:last-child p{
    margin: 0 !important;
}
#map {
    height: 500px;
    width: 100%;
}

.ServiceDefault{
    position:absolute;
}

.room-map-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}