@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap') ;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(117, 12, 12, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(43, 0, 0, 0.11);
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 0, 0, 0.1);
    }

html {
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1;
}

input,
button,
textarea,
select {
    font-size: 14px;
    outline: none;
    border: 0;
    box-sizing: border-box;
    background-color: transparent;
}

input {
    line-height: normal;
}

    input[type="file"] {
        display: none;
    }

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

#toast {
    position: fixed;
    top: 50px;
    right: 25px;
    z-index: 3009;
}

.toastMess {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #fff;
    border-radius: 2px;
    min-width: 400px;
    max-width: 450px;
    min-height: 50px;
    padding: 20px 0px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0,0,0,0.08);
}

@keyframes msgInleft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 25px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes closemsg {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864;
}

    .toast--success .toast__icon {
        color: #47d864;
    }

.toast--error {
    border-color: #ff632d;
}

    .toast--error .toast__icon {
        color: #ff632d;
    }

.toast--warning {
    border-color: #ffc021;
}

    .toast--warning .toast__icon {
        color: #ffc021;
    }

.toast--info {
    border-color: #2f86eb;
}

    .toast--info .toast__icon {
        color: #2f86eb;
    }

.toast + .toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon, .toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0,0,0,.3);
    cursor: pointer;
}