.site-footer {
    background-color: #ffffff;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

    .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5;
    }

        .site-footer hr.small {
            margin: 20px 0;
        }

    .site-footer h6 {
        color: #000000;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px;
    }

    .site-footer a {
        color: #737373;
    }

        .site-footer a:hover {
            color: #3366cc;
            text-decoration: none;
        }

.footer-links {
    padding-left: 0;
    list-style: none;
}

    .footer-links li {
        display: flex;
        align-items: center;
    }

        .footer-links li i {
            margin-right: 16px;
        }

    .footer-links.inline li {
        display: inline-block;
    }

.site-footer .social-icons {
    text-align: right;
}

    .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border: 1px solid #000000;
        border-radius: 100%;
        background-color: #ffffff;
    }

.copyright-text {
    margin: 0;
}

@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }

        .site-footer .copyright-text,
        .site-footer .social-icons {
            text-align: center;
        }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

    .social-icons li {
        display: inline-block;
        margin-bottom: 4px;
    }

        .social-icons li.title {
            margin-right: 15px;
            text-transform: uppercase;
            color: #96a2b2;
            font-weight: 700;
            font-size: 13px;
        }

    .social-icons a {
        background-color: #eceeef;
        color: #818a91;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

.footerMail {
    margin-top: 40px;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}

#toast {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 3009;
}

.toast {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #fff;
    border-radius: 2px;
    min-width: 400px;
    max-width: 450px;
    min-height: 50px;
    padding: 20px 0px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0,0,0,0.08);
}

@keyframes msgInleft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 25px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes closemsg {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864;
}

    .toast--success .toast__icon {
        color: #47d864;
    }

.toast--error {
    border-color: #ff632d;
}

    .toast--error .toast__icon {
        color: #ff632d;
    }

.toast--warning {
    border-color: #ffc021;
}

    .toast--warning .toast__icon {
        color: #ffc021;
    }

.toast--info {
    border-color: #2f86eb;
}

    .toast--info .toast__icon {
        color: #2f86eb;
    }

.toast + .toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon, .toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0,0,0,.3);
    cursor: pointer;
}
