.give-price-main {
    height: 100%;
    width: 100%;
    /* border: solid red; */
}

/* code header */
.give-price-header {
    width: 100%;
    height: 76px;
    /*box-shadow: gray 0px 0px 8px 2px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.give-price-image {
    /* border: solid red; */
    display: inline;
    width: 200px;
}

    .give-price-image img {
        height: 50px;
        width: 200px;
    }

.give-price-header .give-price-status {
    /* border: solid black; */
    height: 76px;
    width: 771px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.give-price-status-crossbar-one {
    border: solid #bec2c9 0.1px;
    background-color: gray;
    width: 229px;
    height: 4px;
    opacity: 0.4;
    position: relative;
    left: 35px;
}

.give-price-status-crossbar-two {
    border: solid #bec2c9 0.1px;
    background-color: gray;
    width: 229px;
    height: 4px;
    opacity: 0.4;
    position: relative;
    right: 35px;
}

.give-price-status-number-one {
    background-color: #5392f9;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
}

.give-price-status-number-two {
    background-color: #bec2c9;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
}

.give-price-status-number-three {
    background-color: #bec2c9;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
}

.give-price-status-text {
    font-size: 14px;
    font-weight: 200;
    display: inline;
    color: #5392f9;
}

.give-price-status-text-number-one {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    top: 6px;
    left: 57px;
}

.give-price-status-text-number-two {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    top: 6px;
}

.give-price-status-text-number-threes {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    top: 6px;
    right: 46px;
}



.give-price-status-text-two {
    font-size: 14px;
    font-weight: 200;
    display: inline;
    color: #737373;
}

.give-price-status-text-threes {
    font-size: 14px;
    font-weight: 200;
    display: inline;
    color: #737373;
}

.name-of-cus-image img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.give-price-name-of-cus {
    width: 179px;
    height: 35px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    border-left: solid rgba(128, 128, 128, 0.2) 0.1px;
    border-right: solid rgba(128, 128, 128, 0.2) 0.1px;
}

.name-of-cus-user-name {
    display: inline;
    margin-left: 10px;
    font-size: 14px;
}



/* phan than  */
.give-price-dear {
    display: flex;
    height: auto;
    width: 100%;
    padding-left: 200px;
    padding-top: 10px;
}

.give-price-dear-left {
    /* border: solid red; */
    flex-grow: 0;
}

.give-price-dear-right {
    flex-grow: 1;
    /* border: solid rgb(27, 255, 103); */
    margin-left: 10px;
}

.dear-left-element-one {
    box-shadow: gray 0px 1px 3px 1px;
    background-color: white;
    border: solid #dddfe2 1px;
    width: 756px;
    height: 50px;
    display: flex;
}

.dear-left-element-icon i {
    color: white;
    font-size: 24px;
    line-height: 42px;
}

.dear-left-element-icon {
    background-color: #5392f9;
    border-radius: 10px;
    margin-top: 1px;
    margin-left: 2px;
    height: 46px;
    width: 46px;
    text-align: center;
}

.dear-left-element-one span {
    color: #5392f9;
    font-size: 14px;
    line-height: 49px;
    padding-left: 20px;
}

.dear-left-element-one a {
    text-decoration: underline;
}





/* ================================ */





.dear-left-element-two {
    background-color: white;
    border: solid #dddfe2 1px;
    box-shadow: gray 0px 1px 3px 1px;
    border-left: solid #32a923 4.5px;
    width: 756px;
    height: 50px;
    display: flex;
    margin-top: 8px;
}

.dear-left-element-two-text {
    line-height: 46px;
    font-size: 14px;
    margin-left: 14px;
}

.dear-element-two-text-one {
    color: #32a923;
    display: inline;
    font-weight: 500;
}

.dear-element-two-text-two {
    display: inline;
}

.dear-element-two-text-threes {
    display: inline;
    color: #32a923;
}

.dear-left-element-two i {
    font-size: 14px;
    color: #32a923;
    line-height: 45px;
    padding-left: 10px;
}

/* ====================== */
.dear-left-element-threes {
    border: solid #dddfe2 1px;
    background-color: #eef4f9;
    width: 756px;
    height: 50px;
    box-shadow: gray 0px 1px 3px 1px;
    border-radius: 2px;
    font-size: 14px;
    margin-top: 8px;
}

    .dear-left-element-threes p {
        display: inline;
        line-height: 46px;
        margin-left: 42px;
        color: #737373;
    }






/* +++++++++++++++ */









.give-price-dear-right-element-one {
    border: solid #dddfe2 1px;
    height: 328px;
    width: 348px;
    box-shadow: gray 0px 1px 3px 1px;
    border-radius: 2px;
    background-color: white;
}

.dear-right-element-one-image-and-title {
    /* border: solid black; */
    display: flex;
    padding: 12px;
}

.right-element-one-image {
    width: 140px;
    height: 150px;
}

    .right-element-one-image img {
        width: 140px;
        height: 150px;
        object-fit: cover;
        border-radius: 3px;
    }

.right-element-one-title {
    width: 200px;
}

    .right-element-one-title p {
        font-size: 18px;
        line-height: 28px;
        color: black;
        /* border: solid red; */
        margin-left: 10px;
        height: 127px;
    }

.dear-right-element-one-starsss-location {
    /* border: solid rgb(17, 0, 255); */
    height: 60px;
}

.right-element-one-house {
    font-size: 14px;
    background-color: #2aa864;
    display: inline-flex;
    height: 17px;
    border-radius: 16px;
    width: 102px;
    /* line-height: 21px; */
}

    .right-element-one-house i {
        font-size: 10px;
        padding-top: 4px;
        padding-left: 8px;
        color: white;
    }

    .right-element-one-house p {
        font-size: 11px;
        padding-left: 7px;
        padding-top: 3px;
        font-weight: 600;
        color: white;
    }

.right-element-one-sologan {
    /* border: solid black; */

    font-size: 14px;
    display: inline-flex;
    width: 240px;
    border-radius: 16px;
    height: 17px;
    background-color: #2aa864;
    margin-left: 48px;
}

    .right-element-one-sologan i {
        color: white;
        font-size: 10px;
        padding-left: 7px;
        padding-top: 3px;
    }

    .right-element-one-sologan .hola-title {
        font-size: 11px;
        padding-left: 7px;
        padding-top: 3px;
        font-weight: 600;
        color: white;
    }

    .right-element-one-sologan .hola-sologan {
        font-size: 11px;
        padding-left: 4px;
        padding-top: 3px;
        font-weight: 100;
        color: white;
    }

.right-element-one-starsss {
    /* border: solid black; */
    display: inline;
    color: #ecc43a;
    margin-left: 118px;
}

.right-element-one-location {
    font-size: 12px;
    width: 224px;
    display: block;
    font-weight: 300;
    color: #737373;
    margin-left: 60px;
}

.dear-right-element-one-cheat {
    /* border: solid black; */
    font-size: 14px;
    width: 334px;
    height: 58px;
    background-color: #f9d8d8;
    padding: 8px;
    display: inline-block;
    margin-top: 32px;
    margin-left: 6px;
}

    .dear-right-element-one-cheat span {
        display: inline;
        font-weight: bold;
        color: #e12d2d;
    }





/* ++++++++++++++++ */



.give-price-dear-right-element-two {
    border: solid #dddfe2 1px;
    height: 340px;
    width: 348px;
    box-shadow: gray 0px 1px 3px 1px;
    border-radius: 2px;
    background-color: white;
    margin-top: 8px;
}
.right-element-two-time-and-day-change-time {
    height: 124px;
    width: 330px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    left: 975px;
    top: 504px;
    padding:10px 7px;
    z-index:10;
    display:none;
}
.right-element-two-time-and-day-change-time-check-out{
    margin-top:30px;
}
    .right-element-two-time-and-day-change-time-check-out input{
        margin-left:29px;
    }
    .right-element-two-time-and-day-change-time-check-out span{
        font-weight:500;
    }
    .right-element-two-time-and-day-change-time-check-in input {
        margin-left: 35px;
    }
    .right-element-two-time-and-day-change-time-check-in span{
    font-weight:500;
}
#Click-change-date-type {
    margin-left: 118px;
    margin-top: 14px;
    background-color: #5392f9;
    color:white;
    font-weight:500;
    width:40px;
    height:20px;
    border-radius:4px;
}
    #Click-change-date-type:hover {
        background-color: #2aa864;
    }
    #Click-change-date-type:active {
        width: 35px;
        height: 15px;
    }

        .right-element-two-first-head {
            width: 127px;
            height: 20px;
            font-size: 12px;
            text-align: center;
            background-color: #5392f9;
            border-radius: 2px;
        }

    .right-element-two-first-head span {
        color: white;
        font-weight: 700;
        line-height: 20px;
    }

.right-element-two-time-and-day {
    /* border: solid black; */
    display: flex;
    height: 45px;
}

.right-element-two-all-time {
    /* border: solid black 0.1px; */
    padding-left: 8px;
    padding-top: 13px;
    width:200px;
}

    .right-element-two-all-time span {
        /* border: solid red 0.1px; */
        font-size: 14px;
        font-weight: 600;
    }

#right-element-two-day {
    /* border: solid red 0.1px; */
    margin-left: -10px;
    font-size: 12px;
    font-weight: 600;
}

.right-element-two-type-roomate {
    font-size: 14px;
    padding-left: 8px;
}

.right-element-two-time-and-day button {
    margin-left: 18px;
    color: #179dfd;
    text-decoration: underline;
    font-weight:500;
}

.right-element-two-vote {
    display: flex;
    /* border: solid black; */
    height: 50px;
    padding-top: 10px;
}

.right-element-vote-score {
    display: inline;
}

    .right-element-vote-score i {
        font-size: 40px;
        color: #5392f9;
    }

    .right-element-vote-score span {
        color: white;
        font-weight: 500;
        z-index: 1;
        position: relative;
        left: 37px;
        bottom: 7px;
    }

#right-element-two-vote-fake {
    color: #5392f9;
    margin-left: 65px;
    padding-top: 15px;
    font-size: 14px;
    font-weight: 600;
}

.right-element-two-image-and-service {
    /* border: solid black; */
    display: flex;
    margin-top: 28px;
}

.right-element-two-image img {
    width: 140px;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
    margin-left: 10px;
}

.right-element-two-service {
    /* border: solid red; */
    margin-left: 44px;
}

    .right-element-two-service i {
        font-size: 12px;
        color: #32a923;
        font-weight: bold;
    }

.right-element-two-service-one {
    margin-top: 7px;
}

.right-element-two-service-two {
    margin-top: 7px;
}

.right-element-two-service-three {
    margin-top: 7px;
}

.right-element-two-service-four {
    margin-top: 7px;
}

.right-element-two-service-one span {
    font-size: 14px;
    color: gray;
}

.right-element-two-service-two {
    font-size: 14px;
    color: gray;
}

.right-element-two-service-three {
    font-size: 14px;
    color: gray;
}

.right-element-two-service-four {
    font-size: 14px;
    color: gray;
}

.right-element-line-make-color-first {
    border: solid #bec2c9 0.01px;
    background-color: gray;
    width: 286px;
    height: 0.1px;
    opacity: 0.4;
    position: relative;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.right-element-line-make-color-second {
    border: solid #bec2c9 0.01px;
    background-color: gray;
    width: 286px;
    height: 0.1px;
    opacity: 0.4;
    position: relative;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
}

.give-price-dear-right-element-threes {
    height: 170px;
    box-shadow: gray 0px 1px 3px 1px;
    border-left: solid #e12d2d 4.5px;
    border-radius: 2px;
    width: 348px;
    margin-top: 8px;
}

.give-price-dear-right-element-threes-icon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

    .give-price-dear-right-element-threes-icon i {
        color: #e12d2d;
        font-size: 24px;
    }

.give-price-dear-right-element-threes-text {
    font-size: 14px;
    width: 220px;
    margin-left: 54px;
    margin-top: -6px;
    height: 133px;
    line-height: 22px;
}

#give-price-dear-right-element-threes-text-one {
    color: #e12d2d;
    font-weight: 600;
}

#give-price-dear-right-element-threes-text-pagarap-one {
    color: gray;
    font-size: 13px;
}

#give-price-dear-right-element-threes-text-threes {
    color: #e12d2d;
    font-weight: 600;
    font-size: 14px;
}

#give-price-dear-right-element-threes-text-two {
    color: gray;
    font-size: 13px;
}



/* ++++++++++++++ */
.give-price-dear-right-element-four {
    height: 128px;
    width: 348px;
    box-shadow: gray 0px 1px 3px 1px;
    border-left: solid #32a923 4.5px;
    margin-top: 8px;
    border-radius: 2px;
    display: flex;
}

.give-price-dear-right-element-four-icon {
    height: 24px;
    width: 24px;
    position: relative;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

    .give-price-dear-right-element-four-icon i {
        font-size: 30px;
        color: #32a923;
    }

.give-price-dear-right-element-four-text {
    font-size: 14px;
    width: 220px;
    padding-top: 22px;
    margin-left: 37px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 133px;
    line-height: 22px;
}

#give-price-dear-right-element-four-text-one {
    font-size: 13px;
    color: #737373;
}

#give-price-dear-right-element-four-text-paragap-one {
    font-size: 13px;
    color: #737373;
}

#give-price-dear-right-element-four-text-two {
    color: #32a923;
    font-weight: 600;
}

.give-price-dear-right-element-five {
    border: solid #dddfe2 1px;
    height: 428px;
    width: 348px;
    box-shadow: gray 0px 1px 3px 1px;
    margin-top: 8px;
    border-radius: 2px;
}

.give-price-dear-right-element-five-first {
    height: 258px;
    background-color: #f9f9f9;
    border-bottom: rgba(160, 160, 160, 0.2) solid 1px;
}

.give-price-dear-right-element-five-first-text-one {
    padding-left: 12px;
    padding-top: 33px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#give-price-dear-right-element-five-first-text-one-span-two {
    font-size: 14px;
    color: gray;
}

#give-price-dear-right-element-five-first-text-one-span-one {
    font-size: 14px;
    font-weight: 600;
}




.give-price-dear-right-element-five-first-text-two {
    padding-left: 12px;
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#give-price-dear-right-element-five-first-text-two-span-one {
    font-size: 14px;
    font-weight: 600;
}

#give-price-dear-right-element-five-first-text-two-span-two {
    font-size: 14px;
    color: gray;
}


.give-price-dear-right-element-five-first-text-threes {
    padding-left: 12px;
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#give-price-dear-right-element-five-first-text-threes-span-one {
    font-size: 14px;
    font-weight: 600;
}

#give-price-dear-right-element-five-first-text-threes-span-two {
    color: gray;
    font-size: 14px;
}


.give-price-dear-right-element-five-first-text-four {
    padding-left: 12px;
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#give-price-dear-right-element-five-first-text-four-span-two {
    font-size: 16px;
    color: #488bf8;
}

#give-price-dear-right-element-five-first-text-four-span-one {
    font-size: 14px;
    font-weight: 600;
}

.give-price-dear-right-element-five-first-text-four-five {
    width: 300px;
    font-size: 14px;
    background-color: #2aa864;
    display: inline-flex;
    width: 240px;
    height: 17px;
    border-radius: 16px;
    margin-left: 47px;
    margin-top: 10px;
}

    .give-price-dear-right-element-five-first-text-four-five i {
        font-size: 10px;
        padding-top: 4px;
        padding-left: 4px;
        color: white;
    }

.give-price-dear-right-element-five-first-text-four-five-logo {
    font-size: 11px;
    padding-left: 7px;
    padding-top: 4px;
    font-weight: 600;
    color: white;
}

.give-price-dear-right-element-five-first-text-four-five-sologan {
    font-size: 11px;
    padding-left: 6px;
    padding-top: 4px;
    color: white;
}

.give-price-dear-right-element-five-second-text-one {
    margin-top: 18px;
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#give-price-dear-right-element-five-second-text-one-span-one {
    font-size: 17px;
    font-weight: 500;
}

#give-price-dear-right-element-five-second-text-one-span-two {
    font-size: 14px;
    color: gray;
}

.give-price-dear-right-element-five-second-text-two {
    font-size: 11px;
    margin-top: 21px;
    padding-left: 12px;
}

    .give-price-dear-right-element-five-second-text-two p {
        color: gray;
    }

    .give-price-dear-right-element-five-second-text-two span {
        color: black;
        font-weight: 600;
    }

.give-price-dear-right-element-five-second-text-threes {
    background-color: #2aa864;
    color: white;
    padding-top: 18px;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
    height: 50px;
    margin-left: 24px;
    width: 300px;
    z-index: 1;
}

.give-price-dear-right-element-five-second-text-four {
    border: solid white;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    position: relative;
    top: -57px;
    left: 287px;
    z-index: -1;
    background-color: #2aa864;
}

.dear-left-element-four {
    margin-top: 8px;
    box-shadow: gray 0px 1px 3px 1px;
    background-color: white;
    border: solid #dddfe2 1px;
    height: 200px;
    width: 756px;
}

    .dear-left-element-four button {
        background-color: #5392f9;
        color: white;
        cursor: pointer;
        height: 30px;
        width: 115px;
        margin-left: 250px;
        border-radius: 10px;
        font-weight: 500;
        font-size: 14px;
        margin-top: 10px;
        padding: 8px 5px;
    }

        .dear-left-element-four button:hover {
            background-color: #32a923;
        }

.dear-left-element-four-extra button {
    background-color: #5392f9;
    color: white;
    cursor: pointer;
    height: 30px;
    width: 124px;
    margin-left: 582px;
    margin-top: 0px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 5px;
}

    .dear-left-element-four-extra button:hover {
        background-color: #32a923;
    }

.dear-left-element-four-all-of-first-line {
    margin-top: 16px;
    display: flex;
}

.dear-left-element-four-icon-and-information {
    position: relative;
    left: 12px;
    width: 200px;
    line-height: 39px;
}

    .dear-left-element-four-icon-and-information span {
        font-size: 20px;
    }

    .dear-left-element-four-icon-and-information i {
        font-size: 24px;
        color: #32a923;
        font-size: 24px;
    }

.dear-left-element-four-information-of-name {
    position: relative;
    left: 130px;
    width: 133px;
    font-size: 14px;
    padding-top: 21px;
}

.dear-left-element-four-link-to-remake {
    margin-left: 290px;
    padding-top: 17px;
    color: #179dfd;
    text-decoration: underline;
}

.dear-left-element-four-mail {
    display: inline;
    position: relative;
    left: 327px;
    top: 15px;
    font-size: 14px;
}

.dear-left-element-four-line-one {
    border: solid rgba(128, 128, 128, 0.2) 1px;
    background-color: rgba(rgb(82, 82, 82), green, blue, alpha);
    width: 365px;
    margin-left: 326px;
    margin-top: 53px;
}

.dear-left-element-four-number-phone {
    position: absolute;
    top: 320px;
    left: 108px;
    width: 525px;
}

    .dear-left-element-four-number-phone input {
        border: solid #ced0d4 1px;
        border-radius: 4px;
        height: 40px;
        width: 300px;
        cursor: pointer;
        position: relative;
        left: 138px;
    }

        .dear-left-element-four-number-phone input:hover {
            border: solid #179dfd 1px;
        }

        .dear-left-element-four-number-phone input:focus {
            border: solid #32a923 1px;
        }

    .dear-left-element-four-number-phone span {
        position: relative;
        left: 63px;
        font-size: 14px;
    }



.dear-left-element-four-extra {
    margin-top: 8px;
    box-shadow: gray 0px 1px 3px 1px;
    background-color: white;
    border: solid #dddfe2 1px;
    height: 413px;
    width: 756px;
    display: none;
}

.dear-left-element-four-extra-title-hochieu {
    width: 100%;
    height: auto;
    margin-top: 33px;
}

.dear-left-element-four-extra-hochieu {
    border: solid 1px rgb(50, 169, 35);
    width: 720px;
    height: 40px;
    border-radius: 2px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 18px;
    margin-top: 10px;
}

    .dear-left-element-four-extra-hochieu input {
        font-size: 18px;
    }

.dear-left-element-four-extra-title-hochieu span {
    font-size: 14px;
    font-weight: 400;
    margin-left: 18px;
    margin-bottom: 2px;
}

.dear-left-element-four-extra-icon-and-information {
    width: 400px;
    margin-left: 12px;
    margin-top: 10px;
}

    .dear-left-element-four-extra-icon-and-information i {
        color: #5392f9;
        font-size: 32px;
    }

    .dear-left-element-four-extra-icon-and-information span {
        font-size: 20px;
    }

.dear-left-element-four-extra-title-email {
    width: 100%;
    height: auto;
    margin-top: 33px;
}

.dear-left-element-four-extra-email {
    border: solid 1px rgb(50, 169, 35);
    width: 720px;
    height: 40px;
    border-radius: 2px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 18px;
    margin-top: 10px;
}

    .dear-left-element-four-extra-email input {
        font-size: 18px;
    }

.dear-left-element-four-extra-title-email span {
    font-size: 14px;
    font-weight: 400;
    margin-left: 18px;
    margin-bottom: 2px;
}

.dear-left-element-four-extra-title-phone {
    width: 100%;
    height: auto;
    margin-top: 33px;
}

.dear-left-element-four-extra-phone {
    border: solid 1px rgb(50, 169, 35);
    width: 360px;
    height: 40px;
    border-radius: 2px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 18px;
    margin-top: 10px;
}

    .dear-left-element-four-extra-phone input {
        font-size: 18px;
    }

#dear-left-element-four-extra-title-phone-spanone {
    font-size: 14px;
    font-weight: 400;
    margin-left: 18px;
    margin-bottom: 2px;
}

#dear-left-element-four-extra-title-phone-spantwo {
    margin-left: 280px;
}

.dear-left-element-four-extra-title-selectLocation {
    border: solid 1px rgb(50, 169, 35);
    width: 341px;
    height: 40px;
    border-radius: 2px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 18px;
    margin-top: 10px;
}

.dear-left-element-four-extra-title-phone-and-location {
    display: flex;
}

































.dear-left-element-five {
    height: 320px;
    width: 756px;
    background-color: white;
    border: solid #dddfe2 1px;
    box-shadow: gray 0px 1px 3px 1px;
    margin-top: 8px;
}

#dear-left-element-five-span-in-head {
    font-weight: 700;
    font-size: 18px;
    position: relative;
    left: 12px;
    top: 20px;
}

#dear-left-element-five-span-in-next-head {
    position: relative;
    top: 51px;
    margin-left: -225px;
    font-size: 14px;
}

.dear-left-element-five-chose-service {
    border: solid white 1px;
    background-color: #f9f9f9;
    width: 722px;
    height: 172px;
    position: relative;
    left: 50%;
    top: 77px;
    transform: translateX(-50%);
}

#dear-left-element-five-chose-service-pagragrap-one {
    display: inline;
    margin-left: 12px;
    position: relative;
    top: 18px;
}

.dear-left-element-five-chose-service-choice-one {
    display: grid;
    grid-template-columns: repeat(3, 245px);
    line-height:30px;

}
.dear-left-element-five-chose-service-choice-one-readio-one-and-icon{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:228px;

}
    .dear-left-element-five-chose-service-choice-one-readio-one-and-icon p {
        margin-top:12px;
        margin-left:8px;
    }
    .dear-left-element-five-chose-service-choice-one-readio-one-and-icon span {
        font-size: 14px;
        margin-left: 6px;
    }

    .dear-left-element-five-chose-service-choice-one-readio-one-and-icon i {
        font-size: 22px;
    }

    .dear-left-element-five-chose-service-choice-one-readio-one-and-icon input {
        cursor: pointer;
    }


    .dear-left-element-five-chose-service-choice-one-readio-two-and-icon span {
        font-size: 14px;
    }

    .dear-left-element-five-chose-service-choice-one-readio-two-and-icon i {
        font-size: 22px;
    }

    .dear-left-element-five-chose-service-choice-one-readio-two-and-icon input {
        cursor: pointer;
    }



    .dear-left-element-five-chose-service-choice-one-readio-threes-and-icon span {
        font-size: 14px;
    }

#dear-left-element-five-chose-service-pagragrap-two {
    display: inline;
    position: relative;
    top: 52px;
    margin-left: 12px;
}

.dear-left-element-five-chose-service-choice-two {
    display: flex;
    position: relative;
    top: 65px;
    margin-left: 12px;
    height: 30px;
}


    .dear-left-element-five-chose-service-choice-two-readio-two-and-icon span {
        font-size: 14px;
    }

    .dear-left-element-five-chose-service-choice-two-readio-two-and-icon i {
        font-size: 22px;
        margin-left: 14px;
        position: relative;
        top: 3px;
    }

    .dear-left-element-five-chose-service-choice-two-readio-two-and-icon input {
        cursor: pointer;
    }

.dear-left-element-five-chose-service-choice-two-readio-two-and-icon {
    display: inline;
}

.dear-left-element-five-chose-service-choice-two-readio-one-and-icon span {
    font-size: 14px;
    margin-left: 14px;
}

.dear-left-element-five-chose-service-choice-two-readio-one-and-icon i {
    font-size: 22px;
    margin-left: 14px;
    position: relative;
    top: 3px;
}

.dear-left-element-five-chose-service-choice-two-readio-one-and-icon input {
    cursor: pointer;
}


    .dear-left-element-five-chose-service-choice-two-readio-threes-and-icon span {
        font-size: 14px;
    }

    .dear-left-element-five-chose-service-choice-two-readio-threes-and-icon input {
        cursor: pointer;
    }

.dear-left-element-six {
    border: solid #dddfe2 1px;
    box-shadow: gray 0px 1px 3px 1px;
    height: 213px;
    width: 756px;
    margin-top: 8px;
}
.dear-left-element-six-gift-and-title-gift{
    margin-left:12px;
    margin-top:12px;
    display:flex;
}
    .dear-left-element-six-gift-and-title-gift span{
        font-size:24px;
        margin-left:10px;
        font-weight:500;
    }
    .dear-left-element-six-gift-and-title-gift i {
        font-size: 24px;
        color: #5794f9;
    }
.dear-left-element-six-all-of-money {
    border: solid white 1px;
    background-color: #f9f9f9;
    height: 120px;
    width: 722px;
    border-radius: 8px;
    margin: auto;
    margin-top: 40px;
    padding: 12px 16px;
}
.dear-left-element-six-money{
    display:flex;
}
.dear-left-element-six-money i {
    font-size: 24px;
    color: #704dff;
}
.dear-left-element-six-money-element-one{
    display:flex;
}
.dear-left-element-six-money-element{
    margin-left:10px;
}
.dear-left-element-six-money-element-one-logo {
    margin-left: 18px;
    border-radius: 4px;
    display: inline;
    font-size: 14px;
    padding: 4px 8px;
    background-color: #32a923;
    color:white;
}
.dear-left-element-six-money-element-one span{
    font-weight:500;
}
.dear-left-element-six-money-element-two{
    width:423px;
    font-size:12px;
}
.dear-left-element-six-money-only-money{
    display:block;
    margin-left:128px;
}
    .dear-left-element-six-money-only-money span {
        color: #704dff;
        font-weight:500;
    }
    .dear-left-element-six-money-only-money p {
        font-weight:500;
        font-size:12px;
        line-height:30px;
    }






    .dear-left-element-seven {
        border: solid #dddfe2 1px;
        box-shadow: gray 0px 1px 3px 1px;
        height: 181px;
        width: 756px;
        margin-top: 8px;
    }

#dear-left-element-seven-pagragap-one {
    font-size: 12px;
    margin-left: 183px;
    margin-top: 12px;
}

    #dear-left-element-seven-pagragap-one a {
        color: #179dfd;
    }

.dear-left-element-seven h3 {
    font-size: 14px;
    margin-top: 19px;
    margin-left: 266px;
    color: #e12d2d;
}

.dear-left-element-seven button {
    font-size: 14px;
    color: white;
    line-height: 21px;
    box-shadow: gray 0px 1px 3px 1px;
    background-color: #5794f9;
    width: 315px;
    height: 45px;
    border-radius: 4px;
    position: relative;
    left: 375px;
    top: 19px;
    cursor: pointer;
}

.dear-left-element-seven-make-color {
    font-size: 14px;
    font-weight: 500;
    color: #28871c;
    height: 20px;
    width: 214px;
    background-color: #f3f9f2;
    line-height: 20px;
    margin-left: 440px;
    margin-top: 36px;
    padding-left: 10px;
}
.dear-left-element-eight{

border: solid #dddfe2 1px;
box-shadow: gray 0px 1px 3px 1px;
height: 181px;
width: 756px;
margin-top: 8px;
}
