﻿@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/css/Booking/Booking.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="give-price-main">
    <div class="give-price-header">
        <div class="give-price-image">
            <img src="/image/Booking/259083805_311548410937130_8580219888112472436_n.jpg" alt="">
        </div>
        <div class="give-price-status">
            <div class="give-price-status-text-number-one">
                <span class="give-price-status-text">Information</span>

                <div class="give-price-status-number-one">
                    1
                </div>
            </div>
            <div class="give-price-status-crossbar-one">
            </div>
            <div class="give-price-status-text-number-two">
                <span class="give-price-status-text-two">Payment details</span>

                <div class="give-price-status-number-two">
                    2
                </div>
            </div>
            <div class="give-price-status-crossbar-two">
            </div>
            <div class="give-price-status-text-number-threes">
                <span class="give-price-status-text-threes">Confirm</span>
                <div class="give-price-status-number-three">
                    3
                </div>
            </div>
        </div>
        <div class="give-price-name-of-cus">
            <div class="name-of-cus-image">
                <img src="@ViewBag.Profile.Avatar" alt="">
            </div>
            <div class="name-of-cus-user-name">
                <p>@ViewBag.Profile.Firstname @ViewBag.Profile.Lastname</p>
            </div>
        </div>
    </div>
    <div class="give-price-dear">
        <div class="give-price-dear-left">
            <div class="dear-left-element-one">
                <div class="dear-left-element-icon">
                    <i class="fa-solid fa-user"></i>
                </div>
                <span>Hello @ViewBag.Profile.Firstname @ViewBag.Profile.Lastname! (if you not @ViewBag.Profile.Firstname @ViewBag.Profile.Lastname? <a href="#">out</a>)</span>
            </div>
            <div class="dear-left-element-two">

                <i class="fa-solid fa-check"></i>
                <div class="dear-left-element-two-text">
                    <span class="dear-element-two-text-one">
                        Great choice of accommodation
                    </span>
                    <span class="dear-element-two-text-two">- with an average guest score of up to</span>
                    <span class="dear-element-two-text-threes">@ViewBag.Hotel.Point</span>
                    <span class="dear-element-two-text-four">from the reviews</span>
                </div>
            </div>
            <div class="dear-left-element-threes">
                <p>this is something new in the future</p>
            </div>
            <div class="dear-left-element-four" id="xuathien">
                <div class="dear-left-element-four-all-of-first-line">
                    <div class="dear-left-element-four-icon-and-information">
                        <i class="fa-solid fa-check"></i>
                        <span>Communications</span>
                    </div>
                    <div class="dear-left-element-four-information-of-name">
                        <span>@ViewBag.Profile.Firstname @ViewBag.Profile.Lastname</span>
                    </div>
                    <button onclick="MyToggle()">Edit information</button>
                </div>
                <div class="dear-left-element-four-mail">
                    <span>@ViewBag.Profile.Email</span>
                </div>
                <div class="dear-left-element-four-line-one">
                </div>
            </div>
            <div class="dear-left-element-four-extra" id="myDIV">
                <div class="dear-left-element-four-extra-icon-and-information">
                    <i class="fa-solid fa-user"></i>
                    <span>Communications</span>
                </div>
                <button onclick="MyToggle()">Close information</button>
                <div class="dear-left-element-four-extra-title-hochieu">
                    <span>Current username</span>
                    <div class="dear-left-element-four-extra-hochieu">
                        <input type="text" placeholder="@ViewBag.Profile.Firstname @ViewBag.Profile.Lastname">
                    </div>
                </div>
                <div class="dear-left-element-four-extra-title-email">
                    <span>Email</span>
                    <div class="dear-left-element-four-extra-email">
                        <input type="text" placeholder="@ViewBag.Profile.Email">
                    </div>
                </div>
                <div class="dear-left-element-four-extra-title-phone">
                    <span id="dear-left-element-four-extra-title-phone-spanone">Phone Number</span>
                    <span id="dear-left-element-four-extra-title-phone-spantwo">Location</span>
                    <div class="dear-left-element-four-extra-title-phone-and-location">
                        <div class="dear-left-element-four-extra-phone">
                            <input type="text" placeholder="@ViewBag.Profile.Phone">
                        </div>
                        <select name="cars" id="cars" class="dear-left-element-four-extra-title-selectLocation">
                            <option value="volvo">Viet Nam</option>
                            <option value="saab">USTRALIA</option>
                            <option value="opel">pilipine</option>
                            <option value="audi">Dong lao</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="dear-left-element-five">
                <span id="dear-left-element-five-span-in-head">Let us know what you need</span>
                <span id="dear-left-element-five-span-in-next-head">
                    We will notify the hotel or host right away
                    after you make a reservation!
                </span>
                <div class="dear-left-element-five-chose-service">
                    <div class="dear-left-element-five-chose-service-choice-one">
                        @if (ViewBag.Room.ListServices != null)
                        {
                            @foreach (var item in ViewBag.Room.ListServices)
                            {
                                @if (!item.ServiceDefault)
                                {
                                    <div class="dear-left-element-five-chose-service-choice-one-readio-one-and-icon">
                                        <input type="checkbox">
                                        <p class="service-id-item" id="@item.ServiceId">@item.ServiceName <span>@item.ServicePrice $</span> </p>
                                    </div>
                                }
                            }
                        }


                    </div>
                </div>
            </div>
            <div class="dear-left-element-six">
                <div class="dear-left-element-six-gift-and-title-gift">
                    <i class="fa-solid fa-gift"></i>
                    <span>The gift</span>
                </div>
                <div class="dear-left-element-six-all-of-money">
                    <div class="dear-left-element-six-money">
                        <i class="fa-solid fa-comment-dollar"></i>
                        <div class="dear-left-element-six-money-element">
                            <div class="dear-left-element-six-money-element-one">
                                <span>Money HolaBooking</span>
                                <div class="dear-left-element-six-money-element-one-logo">Included</div>
                            </div>
                            <div class="dear-left-element-six-money-element-two">
                                <span>HolaCash 7,739 will be credited to your account 7 days after check out and used before 24 Apr 2022</span>
                            </div>
                        </div>
                        <div class="dear-left-element-six-money-only-money">
                            <span>7.229 đ</span>
                            <p>Hola Money</p>
                        </div>

                    </div>

                </div>
            </div>
            <div class="dear-left-element-seven">
                <p id="dear-left-element-seven-pagragap-one">
                    Taking the next step means that you accept to comply <a href="#"> terms of use</a> and <a href="#"> Policy </a> Agoda's security.
                </p>
                <h3>Hurry up! Our last room at this price for the date of your choice</h3>
                <button id="payment" roomid=@ViewBag.Room.RoomId  status ="@ViewBag.BookingStatus">NEXT: FINAL STEP</button>
                <div class="dear-left-element-seven-make-color">
                    Instant booking confirmation!
                </div>
            </div>
            @* <div class = "dear-left-element-eight">

                </div>*@
        </div>
        <div class="give-price-dear-right">
            <div class="give-price-dear-right-element-one">
                <div class="dear-right-element-one-image-and-title">
                    <div class="right-element-one-image">
                        <img src="@ViewBag.Hotel.Img1" alt="">
                    </div>
                    <div class="right-element-one-title">
                        <p>@ViewBag.Hotel.Name</p>
                    </div>
                </div>
                <div class="dear-right-element-one-starsss-location">
                    <div class="right-element-one-house">
                        <i class="fa-solid fa-house"></i>
                        <p>HolaBooking</p>
                    </div>
                    <div class="right-element-one-starsss">
                        @for (var i = 0; i < ViewBag.Hotel.Star; i++)
                        {
                            <i class="fa-solid fa-star"></i>
                        }

                    </div>
                    <div class="right-element-one-location">
                        <p>
                            @ViewBag.Hotel.Address, @ViewBag.Hotel.District, @ViewBag.Hotel.Country
                        </p>
                    </div>
                    <div class="right-element-one-sologan">
                        <i class="fa-solid fa-house"></i>
                        <p class="hola-title">HolaBooking</p>
                        <p class="hola-sologan">we allway try for your best</p>
                    </div>
                </div>
                <div class="dear-right-element-one-cheat">

                    <span>Selling very fast!</span>
                    <p>5 seats like that are already sold out! Hurry up to book before it runs out!</p>

                </div>
            </div>
            <div class="give-price-dear-right-element-two">
                <div class="right-element-two-first-head">
                    <span>CHEAPEST ROOM</span>
                </div>
                <div class="right-element-two-time-and-day">
                    <div class="right-element-two-all-time">
                        <span class="checkin" id = "room-check-in">date come</span>
                        -
                        <span class="checkout" id = "room-check-out">date go</span>
                    </div>
                    <span id="right-element-two-day">1 night</span>
                    <button onclick="MyClickShow()" id="Click-change-name">Change Date</button>
                </div>
                <div class="right-element-two-time-and-day-change-time" id="ShowDiv">
                    <div class="right-element-two-time-and-day-change-time-check-in">
                        <span> Check in :</span>
                        <input type="date" id="Check-in"/>
                    </div>
                    <div class="right-element-two-time-and-day-change-time-check-out">
                        <span> Check out:</span>
                        <input type="date" id="Check-out"/>
                    </div>
                     <button onclick="MyClickShowtwo()" id="Click-change-date-type">save</button>
                </div>
                <div class="right-element-two-type-roomate">
                    <span>1 x Quadruple Room with 2 Queen Beds</span>
                </div>
                <div class="right-element-two-vote">
                    <div class="right-element-vote-score">
                        <span>9.6</span>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <span id="right-element-two-vote-fake">Extremely clean</span>
                </div>
                <div class="right-element-line-make-color-first"></div>
                <div class="right-element-two-image-and-service">
                    <div class="right-element-two-image">
                        <img src="@ViewBag.Room.Image1" alt="">
                    </div>
                    <div class="right-element-two-service">
                        <div class="right-element-two-service-one">
                            <i class="fa-solid fa-check"></i>
                            <span>@ViewBag.Room.Bed @ViewBag.Room.BedName</span>
                        </div>
                        <div class="right-element-two-service-two">
                            <i class="fa-solid fa-check"></i>
                            <span>@ViewBag.Room.Sleep people</span>
                        </div>
                        @if (ViewBag.Room.ListServices != null)
                        {
                            @foreach (var item in ViewBag.Room.ListServices)
                            {
                                @if (item.ServiceDefault)
                                {
                                    <div class="right-element-two-service-three">
                                        <i class="fa-solid fa-check"></i>
                                        <span>@item.ServiceName</span>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="right-element-line-make-color-second"></div>
            </div>
            @*<div class="give-price-dear-right-element-threes">
                <div class="give-price-dear-right-element-threes-icon">
                <i class="fa-solid fa-clock-rotate-left"></i>
                </div>
                <div class="give-price-dear-right-element-threes-text">
                <span id="give-price-dear-right-element-threes-text-one">
                Hurry up! Finally our room, I stay at
                this price for the date you choose
                </span>
                <span id="give-price-dear-right-element-threes-text-two">
                You need to check in today - book now
                to reserve this room.
                </span>
                <p id="give-price-dear-right-element-threes-text-pagarap-one">
                <span id="give-price-dear-right-element-threes-text-threes">
                Book now to secure a room.
                </span> Last minute discount!
                </p>
                </div>
                </div>*@
            @* <div class="give-price-dear-right-element-four">
                <div class="give-price-dear-right-element-four-icon">
                <i class="fa-brands fa-keycdn"></i>
                </div>
                <div class="give-price-dear-right-element-four-text">
                <span id="give-price-dear-right-element-four-text-one">
                Special offer!! - Special weekend. Super
                special promotion
                </span>
                <p id="give-price-dear-right-element-four-text-paragap-one">
                <span id="give-price-dear-right-element-four-text-two">That's great, @ViewBag.Profile.Firstname!</span> You are
                getting the cheapest property price!
                </p>
                </div>
                </div>*@
            <div class="give-price-dear-right-element-five">
                <div class="give-price-dear-right-element-five-first">
                    <div class="give-price-dear-right-element-five-first-text-one">
                        <span id="give-price-dear-right-element-five-first-text-one-span-one">
                            Original price (1 room x 1 night)
                        </span>
                        <span id="give-price-dear-right-element-five-first-text-one-span-two" class="OriginalPrice">@ViewBag.Room.Price $</span>
                    </div>
                    <div class="give-price-dear-right-element-five-first-text-two">
                        <span id="give-price-dear-right-element-five-first-text-two-span-one">
                            Sevice
                        </span>
                        <span id="give-price-dear-right-element-five-first-text-two-span-two" class="servicePrice">0$</span>
                    </div>
                   
                    <div class="give-price-dear-right-element-five-first-text-four">
                        <span id="give-price-dear-right-element-five-first-text-four-span-one">
                            Reservation
                            fee
                        </span>
                        <span id="give-price-dear-right-element-five-first-text-four-span-two">FREE</span>
                    </div>
                </div>
                <div class="give-price-dear-right-element-five-first-text-four-five">
                    <i class="fa-solid fa-house"></i>
                    <p class="give-price-dear-right-element-five-first-text-four-five-logo">HolaBooking</p>
                    <p class="give-price-dear-right-element-five-first-text-four-five-sologan">
                        cheaper than you
                        thinks
                    </p>
                </div>
                <div class="give-price-dear-right-element-five-second">
                    <div class="give-price-dear-right-element-five-second-text-one">
                        <span id="give-price-dear-right-element-five-second-text-one-span-one">
                            Total
                        </span>
                        <span id="give-price-dear-right-element-five-second-text-one-span-two total" class="amount">@ViewBag.Room.Price $ </span>
                    </div>
                    <div class="give-price-dear-right-element-five-second-text-two">
                        <p><span>Price includes: </span>Service fee 5%, Tax 8%</p>
                    </div>
                    <div class="give-price-dear-right-element-five-second-text-threes">
                        <p>We match prices. Find a lower price, we'll match it!</p>
                    </div>
                    <div class="give-price-dear-right-element-five-second-text-four">
                    </div>

                </div>
            </div>






        </div>
    </div>
</div>

<script src="/js/Booking/Booking.js"></script>
