﻿@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Help/Help.css">

<script src="https://kit.fontawesome.com/7efa7aef92.js" crossorigin="anonymous"></script>
<link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet" />

<div class="help-1">
    <img id="home-screen" class="img_h2" src="~/image/Other/Holabooking_Help.png" alt="">
    <h1 class="block-effect" style="--td: 1.2s">
        <div class="block-reveal" style="--bc: #6FB98F; --d: .1s">Do you need help?</div>
        <div class="block-reveal" style="--bc: #2C7873; --d: .5s">We are here...!</div>
    </h1>
    <div class="info">
        <p class="slogan-p">
            We offer <span style="font-weight: bold;">premium support</span> and
            <span style="font-weight: bold;">efficient solutions</span>
        </p>
    </div>
    <div class="list">
        <div id="list-a1" class="all_list">
            <i id="tick" class="far fa-check-square"></i>
            <a class="list-auto" href="#title-1">Booking details</a>
        </div>
        <div class="all_list">
            <i class="fa-solid fa-arrows-rotate"></i>
            <a class="list-auto" href="#title-2">Cancel</a>
        </div>
        <div class="all_list">
            <i class="gg-notes"></i>
            <a class="list-auto" href="#title-3">Change The Reservation</a>
        </div>
        <div class="all_list">
            <i class="fa-solid fa-bell-concierge"></i>
            <a class="list-auto" href="#title-4">Special requirements</a>
        </div>
        <div class="all_list">
            <i class="fa-solid fa-notes-medical"></i>
            <a class="list-auto" href="#title-5">COVID-19</a>
        </div>
    </div>

</div>
<div class="help-2">
    <a href="#home-screen" class="all-freeze"><i id="freeze" class="fa-solid fa-circle-arrow-up"></i></a>
    <div id="title-1" class="title">Booking Details</div>
    <div class="all_one">
        <div class="help2-list">
            <button id="list-list-button-js" class="list-list-button">
                <p class="list-list-button-p">
                    Làm thế nào tôi có được thêm thông tin về phòng hoặc cơ sở vật chất
                    của chỗ nghỉ?
                </p>
                <div id="angle-down" class="list-list-button-lable-down">
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div id="angle-up" class="list-list-button-lable-up"><i class="fa-solid fa-angle-up"></i></div>
            </button>
            <div id="list-list-p-js" class="list-list-p-all">
                <p class="list-list-p">
                    Quý khách có thể tìm thấy chi tiết về chỗ nghỉ trong thư điện tử xác nhận của
                    mình hoặc trên trang
                    chi tiết chỗ nghỉ. Về bất cứ điều gì khác, quý khách cũng có thể liên hệ trực tiếp với chỗ nghỉ.
                </p>
            </div>
        </div>

        <div class="help2-list">
            <button id="list-list-button-js-1" class="list-list-button">
                <p class="list-list-button-p">How can I get more information about the property's rooms or facilities?</p>
                <div id="angle-down-1" class="list-list-button-lable-down">
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div id="angle-up-1" class="list-list-button-lable-up"><i class="fa-solid fa-angle-up"></i></div>
            </button>
            <div id="list-list-p-js-1" class="list-list-p-all">
                <p class="list-list-p">
                    You can find the property details in your confirmation email or on the property details page. For anything else, you can also contact the property directly.
                </p>
            </div>
        </div>

        <div class="help2-list">
            <button id="list-list-button-js-2" class="list-list-button">
                <p class="list-list-button-p">
                    How do I know my current Location?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-2" class="list-list-p-all">
                <p class="list-list-p">
                    You can find your address information in the profile section, Or you can contact directly for more information.
                </p>
            </div>
        </div>

        <div class="help2-list">
            <button id="list-list-button-js-3" class="list-list-button">
                <p class="list-list-button-p">
                    Can I update my other address again?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-3" class="list-list-p-all">
                <p class="list-list-p">
                    You can update your current location by clicking on your profile picture on the left hand side, and make edits to your profile.
                </p>
            </div>
        </div>
        @***************************************************************************************@
        <div class="help2-list">
            <button id="list-list-button-js-20" class="list-list-button">
                <p class="list-list-button-p">
                    How can I request additional hotel notes?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-20" class="list-list-p-all">
                <p class="list-list-p">
                    Please contact Hola Booking for direct inquiries, or contact the homepage to connect to the hotels
                </p>
            </div>
        </div>
        @***********************************************@
        <div class="help2-list">
            <button id="list-list-button-js-21" class="list-list-button">
                <p class="list-list-button-p">
                    How to change check-in date and time?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-21" class="list-list-p-all">
                <p class="list-list-p">
                    In the booking details section, there will be a section for you to choose a check-in date and time
                </p>
            </div>
        </div>
        @***********************************************@
        <div class="help2-list">
            <button id="list-list-button-js-22" class="list-list-button">
                <p class="list-list-button-p">
                    How do I find out about my offers?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-22" class="list-list-p-all">
                <p class="list-list-p">
                    You can find vouchers in the booking detail , there may not be vouchers for certain locations .
                </p>
            </div>
        </div>
    </div>
    <div id="title-2" class="title1">Cancel</div>
    <div class="all_one">
        <div class="help2-list">
            <button id="list-list-button-js-4" class="list-list-button">
                <p class="list-list-button-p">
                    How can I cancel the room I am booking?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-4" class="list-list-p-all">
                <p class="list-list-p">
                    You just need to click on the new page , or return to the home page if you are only on the Booking Detail page, otherwise please see the question below.
                </p>
            </div>
        </div>

        <div class="help2-list">
            <button id="list-list-button-js-5" class="list-list-button">
                <p class="list-list-button-p">
                    How do I cancel my reservation when I clicked on booking?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-5" class="list-list-p-all">
                <p class="list-list-p">
                    In case you click on booking but want to cancel, if you have not paid you can cancel in the booking section immediately, if you have already paid, please contact the admin to handle this issue.
                </p>
            </div>
        </div>

        <div class="help2-list">
            <button id="list-list-button-js-6" class="list-list-button">
                <p class="list-list-button-p">
                    I chose the wrong date to check in, how do I change it?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-6" class="list-list-p-all">
                <p class="list-list-p">
                    Similar to canceling a room, you need to cancel the booked room, and proceed to rebook another room.
                </p>
            </div>
        </div>

        <div class="help2-list">
            <button id="list-list-button-js-7" class="list-list-button">
                <p class="list-list-button-p">
                    I want to cancel the selected services, what should I do?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-7" class="list-list-p-all">
                <p class="list-list-p">
                    You need to go back to the booking page and check the services you need, in case you have already paid, please contact the hotel or admin side directly.
                </p>
            </div>
        </div>
        @**********************************************@
        <div class="help2-list">
            <button id="list-list-button-js-23" class="list-list-button">
                <p class="list-list-button-p">
                    Will all the money after I have made a deposit be refunded after cancellation?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-23" class="list-list-p-all">
                <p class="list-list-p">
                    All deposit will be refunded if you follow the correct cancellation procedure.
                </p>
            </div>
        </div>
    </div>
    <div id="title-3" class="title1">Change The Reservation</div>
    <div class="all_one">
        <div class="help2-list">
            <button id="list-list-button-js-8" class="list-list-button">
                <p class="list-list-button-p">
                    How can I change my hotel review?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-8" class="list-list-p-all">
                <p class="list-list-p">
                    You need to evaluate directly at the hotel, and change at the hotel directly.
                </p>
            </div>
        </div>

        <div class="help2-list">
            <button id="list-list-button-js-9" class="list-list-button">
                <p class="list-list-button-p">
                    How do I change my room number?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-9" class="list-list-p-all">
                <p class="list-list-p">
                    The number of rooms booked will not be changed , if you can , need to cancel and rebook , please note that the deposit is not refundable in some cases
                </p>
            </div>
        </div>

        <div class="help2-list">
            <button id="list-list-button-js-10" class="list-list-button">
                <p class="list-list-button-p">
                    How can I change my personal voucher?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-10" class="list-list-p-all">
                <p class="list-list-p">
                    Currently, HolaBooking does not apply vouchers or any other promotions.
                </p>
            </div>
        </div>

        <div class="help2-list">
            <button id="list-list-button-js-11" class="list-list-button">
                <p id="list-list-button-p-id" class="list-list-button-p">
                    I want to change the way of contact when booking?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-11" class="list-list-p-all">
                <p class="list-list-p">
                    In the interface of room information and reservation, you will see the section to change personal information, please click on that interface.
                </p>
            </div>
        </div>
        @***************************************************@
        <div class="help2-list">
            <button id="list-list-button-js-24" class="list-list-button">
                <p id="list-list-button-p-id" class="list-list-button-p">
                    How do I change the Room Type I want to stay in according to my preferences?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-24" class="list-list-p-all">
                <p class="list-list-p">
                    Room type and room classification will be selected in the search bar, you can use by searching to choose the type of room you like best.
                </p>
            </div>
        </div>
    </div>
    <div id="title-4" class="title1">Special Requirements</div>
    <div class="all_one">
        <div class="help2-list">
            <button id="list-list-button-js-12" class="list-list-button">
                <p class="list-list-button-p">
                    Can I request to smoke in the hotel?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-12" class="list-list-p-all">
                <p class="list-list-p">
                    You can choose the type of room with smoking service (note: there will be rooms with or without.
                </p>
            </div>
        </div>

        <div class="help2-list">
            <button id="list-list-button-js-13" class="list-list-button">
                <p class="list-list-button-p">
                    I would like to have breakfast prepared daily in my room?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-13" class="list-list-p-all">
                <p class="list-list-p">
                    Directly at the hotel counter you can talk to the manager or the receptionist
                </p>
            </div>
        </div>

        <div class="help2-list">
            <button id="list-list-button-js-14" class="list-list-button">
                <p class="list-list-button-p">
                    Am I cleaned every day?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-14" class="list-list-p-all">
                <p class="list-list-p">
                    The room will always be cleaned daily without having to ask
                </p>
            </div>
        </div>

        <div class="help2-list">
            <button id="list-list-button-js-15" class="list-list-button">
                <p class="list-list-button-p">
                    Are all requirements met?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-15" class="list-list-p-all">
                <p class="list-list-p">
                    Will be divided by type of hotel
                </p>
            </div>
        </div>
        @***************************************************@
        <div class="help2-list">
            <button id="list-list-button-js-25" class="list-list-button">
                <p class="list-list-button-p">
                    How do I know what kind of service the hotel I choose has?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-25" class="list-list-p-all">
                <p class="list-list-p">
                    The booking interface will let customers see the service they have selected.
                </p>
            </div>
        </div>
    </div>
    <div id="title-5" class="title1">COVID-19</div>
    <div class="all_one">
        <div class="help2-list">
            <button id="list-list-button-js-16" class="list-list-button">
                <p class="list-list-button-p">
                    Am I safe to stay at this hotel with the current covid situation?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-16" class="list-list-p-all">
                <p class="list-list-p">
                    Every hotel location is always listed with a certain covid parameter.
                </p>
            </div>
        </div>

        <div class="help2-list">
            <button id="list-list-button-js-17" class="list-list-button">
                <p class="list-list-button-p">
                    Do I need a test to book a hotel?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-17" class="list-list-p-all">
                <p class="list-list-p">
                    You will be asked if the hotel will contact you directly based on your current profile information.
                </p>
            </div>
        </div>

        <div class="help2-list">
            <button id="list-list-button-js-18" class="list-list-button">
                <p class="list-list-button-p">
                    Where will I see the covid situation?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-18" class="list-list-p-all">
                <p class="list-list-p">
                    Right in our hotel Booking page, you will see the covid numbers for that area.
                </p>
            </div>
        </div>
        <div class="help2-list">
            <button id="list-list-button-js-19" class="list-list-button">
                <p class="list-list-button-p">
                    Does the hotel party guarantee responsibility when I am exposed?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-19" class="list-list-p-all">
                <p class="list-list-p">
                    This is a personal matter as well as a personal responsibility, so you need to protect yourself.
                </p>
            </div>
        </div>
        <div class="help2-list">
            <button id="list-list-button-js-26" class="list-list-button">
                <p class="list-list-button-p">
                    Is the hotel premises sterile or not?
                </p>
                <div class="list-list-button-lable"><i class="fa-solid fa-angle-down"></i></div>
            </button>
            <div id="list-list-p-js-26" class="list-list-p-all">
                <p class="list-list-p">
                    The room will always be cleaned and disinfected regularly, so don't worry.
                </p>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Help/Help.js"></script>



