* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.01);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  html {
    scroll-behavior: smooth;
    font-family: mallory,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  body {
    font-size: 16px;
    line-height: 1;
   }
  input,
  button,
  textarea,
  select {
    font-size: 14px;
    outline: none;
    border: 0;
    box-sizing: border-box;
  }
  
  input {
    line-height: normal;
  }
  input[type="file"] {
    display: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  ul,
  li {
    list-style-type: none;
  }
/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img_h2{
  margin-left: 980px;
  z-index: -0;
  margin-top: -10px;
}
.help-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 720px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* other */
.info {
  text-align: left;
margin-left: -500px;
margin-top: 100px;
}

.slogan-p {
  color: #2e2e2e;
  margin-bottom: 20px;
  font-size: 30px;
}


/* block-$ */
.block-effect {
  font-size: calc(8px + 4vw);
  margin-top: -400px;
  margin-left: -350px;
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
  100% {
    color: #0f0f0f;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}
.all_list{
  display: flex;
  margin-top: 20px;
}
.list-auto{
  margin-left: 6px;
  margin-top: 1px;
}
.list{
  margin-left: -900px;
margin-top: 70px;
}
.help-2{
  margin-top: 2%;
  background-color: #FFFAFA;
}
.all_one{
  width: 80%;
  margin-left: 10%;
background-color: #f8f7f9;
}
.title{
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 240px;
}
.title1{
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 240px;
  margin-top: 50px;
}
.list-h2-1{
  margin: auto;
  height: 150px;
  border: 1px solid goldenrod;
}
.help2-list{
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px 4px #A0A0A0;
}
.list-list-button{
  width: 100%;
  text-align: left;
  height: 80px;
  font-size: 20px;
  background-color: #fff;
  display: flex;
}
.list-list-button-p{
  font-size: 20px;
  margin: auto;
  margin-left: 5%;
  width: 90%;
}
.list-list-p{
  font-size: 16px;
  background-color: #fff;
  margin-left: 5%;
  width: 90%;
  margin-bottom: 30px;
}
.list-list-p-all{
  border: 1px solid white;
}
.list-list-button-p:hover{
  cursor: pointer;
}
.all-freeze{position: fixed;
z-index: 1;
left: 1450px;
top: 700px;
}
.list-list-button-lable{
  width: 6%;
  margin-top: 2.5%;
}
.list-list-button-lable:hover{
  cursor: pointer;
}
.list-list-button-lable-down{
  width: 6%;
  margin-top: 2.5%;
}
.list-list-button-lable-down:hover{
  cursor: pointer;
}
.list-list-button-lable-up{
  width: 6%;
  margin-top: 2.5%;
}
.list-list-button-lable-up:hover{
  cursor: pointer;
}
.aaa{
  width: 50px;
}
  