﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Common/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Common/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Common/base.css" asp-append-version="true" />
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet" />
    <link rel="icon" href="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/hotel.png"
          type="image/x-icon" />
</head>

<body>
    @using Microsoft.AspNetCore.Http
    @{
        var userID = Context.Session.GetString("userID");
        var name = Context.Session.GetString("name");
        var img = Context.Session.GetString("img");
        var permissionID = Context.Session.GetString("permissionID");

    }

    <!-- Site header -->
    <header>
        <div class="header-left">
            <a href="/">
                <div class="logo">
                    <img src="/image/Logo/Logo.jpg" alt="Logo" />
                </div>
            </a>
        </div>
        <div class="header-middle">
            <div class="nav">
                <a href="/" class="nav-item">Home</a>
                <a href="/about" class="nav-item">About</a>
                <a href="/help" class="nav-item">Help</a>
                @*<a href="/process/tool" class="nav-item">Tool</a>*@
            </div>
        </div>
        <div class="header-right">

            <a href="/partner">List your place </a>
            @if (userID == null)
            {
                <div class="header-right-on">
                    <a href="/register">Register</a>
                    <a href="/login">Login</a>
                </div>
            }
            else
            {
                <div class="header-right-of">
                    <a href="/account/profile" class="avatar"><img src="@img" alt="" /></a>
                    <a id="header-profile" href="/account/profile">@name</a>
                    <i class="fas fa-caret-down "></i>
                    <div class="header-drop-down">
                        <h4>My Account</h4>
                       
                        <div class="header-profile-link">
                            <a href="/account/MyBooking">My booking</a>
                            <a href="/account/statistical"> Statistical</a>
                            <a href="/account/profile">My Profile</a>

                            @if (permissionID == "1")
                            {
                                <a href="/account/allAcount">View All Acount</a>
                                <a href="/account/allHotel">View All Hotel</a>
                            }
                            @if (permissionID == "2")
                            {
                                <a href="/account/myhotel">My hotel</a>
                            }



                        </div>
                        <div class="sign-out">
                            <button>Sign out</button>
                        </div>
                    </div>
                </div>
            }


        </div>
    </header>

    @RenderBody()


    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img src="~/image/Logo/Logo.jpg" alt="" />
                    <p class="text-justify">
                        HolaBookingoking that you can choose the most satisfactory hotel services. Security for you fast. All domestic and foreign hotels are here. Always ensure safety in every hotel. The payment method is fast and fast, you just need to transfer and scan the QR. Please choose for yourself the hotel you like and the type of hotel you like best. Don't wait any longer, everything is here, enjoy.
                        HolaBooking sent to you!

                    </p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6 class="mb-12">Online support</h6>
                    <ul class="footer-links">
                        <li>
                            <i class="fas fa-phone-alt fa-3x"></i>
                            <div>
                                <h5>0123456789</h5>
                                <p>Hotline & support 24/7</p>
                            </div>
                        </li>
                        <li>
                            <i class="fas fa-phone-office fa-3x"></i>
                            <div>
                                <h5>0123456789</h5>
                                <p>Customer care</p>
                            </div>
                        </li>
                        <li>
                            <i class="far fa-clock fa-3x"></i>
                            <div>
                                <h5>Working time</h5>
                                <p>From 7h to 9h daily</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <div class="footerMail">
                        <h6>SEND EMAIL RECEIVE PROMOTION</h6>
                        <p>Enjoy discounts up to 80%</p>
                        <div class="footer-mail">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Enter your mail"
                                       aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append ">
                                    <button class="btn btn-outline-secondary ml-12" type="button">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright © 2022 All Rights Reserved by HolaBooking.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li>
                            <a class="facebook" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a>
                        </li>
                        <li>
                            <a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div>
        <div id="toast">
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8wBXD1LVs-OQ7S0ZzLnzQ1bhBmqZkUyA" async></script>
    <script src="~/js/Common/query.js" async></script>
    <script src="~/js/Common/toast.js" async></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" async></script>
    @*<script src="~/lib/jquery/dist/jquery.js" async></script>*@
    <script src="~/js/Common/header.js" async></script>
    <script src="~/js/Common/CurentAddress.js" async></script>
    <script src="~/js/Common/RenderMap.js" async></script>
</body>

</html>
