﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="~/css/Error/error.css">
    <script src="https://kit.fontawesome.com/a40604e638.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="body_error">
        <img class="img-error" src="~/image/Other/error404.png" alt="">
        <div class="all-error-message"> 
        <div class="error-message">
            <h1>Oopsie! Something's Missing...</h1>
            <br>
            <p class="p-error">It seems like we donut find what you searched. The page you were <br> look for doesn't exist, isn't
                available or was loading incorrectly.</p>
        </div>
    </div>
        <div class="back_to_home">
            <div class="all_go_home">
                <div class="go_home">
                    <i class="fa-solid fa-house"></i>
                    <a class="a-go-home" href="https://localhost:7251/">Back To Home</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
</body>

</html>