header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  max-height: 60px;
  font-size: 15px;
  margin-top: 10px;
}
.header-left {
  margin-left: 20px;
  padding: 0 5px;
}
.header-left .logo img {
  max-height: 40px;
  object-fit: cover;
  object-position: center;
  
}
.header-middle {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.header-middle .navigation-links a {
  padding: 10px 20px;
}
.header-middle .navigation-links a:hover {
  color: #5392f9;
}
.header-right {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 525px;
}
.header-right .header-right-on a {
  padding: 10px 40px;
  margin-right: 10px;
  border: 1px solid #7592fa;
  border-radius: 5px;
  color: #7592fa;
}
.header-right-on {
  display: flex;
  text-align: center;
  /* display: none; */
}
.header-right-on a:hover {
  background-color: #5392f9;
  color: #ffffff;
}
.header-right > a {
  margin-right: 60px;
  padding: 10px 40px;
  border: 1px solid;
  border-radius: 5px;
  color: #ff567d;
  border-color: #ff567d;
}
.header-right > a:hover {
  background-color: #ff567d;
  color: #ffffff;
}
.header-right-of {
  display: flex;
  text-align: center;
  align-items: center;
  margin-right: 10px;
  position: relative;
  display: none;
}
.header-right-of img {
  height: 35px;
  width: 35px;
  border: 1px solid #000000;
  object-fit: cover;
  object-position: center;
  border-radius: 50% !important;
}
.header-right-of .avatar {
  margin-right: 2px;
  margin-left: 20px;
}
.header-right-of .avatar:hover {
  cursor: pointer;
}
.header-right-of #header-profile {
  margin-right: 10px;
  white-space: nowrap;
  width: 140px;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
}
.header-right-of #header-profile:hover {
  cursor: pointer;
}
.header-drop-down {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 5px;
  width: 240px;
  border: 1px solid #000000;
  display: none;
}
.header-drop-down h4 {
  padding: 14px 26px;
  text-align: start;
  text-transform: uppercase;
  font-size: 90%;
  display: block;
  font-weight: 400;
  line-height: 1.1;
  color: grey;
  background-color: #f8f7f9;
  height: 40px;
}
.header-profile-link {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
}
.header-profile-link a {
  line-height: 1.9rem;
  font-size: 14px;
  padding: 9px 12px;
  text-align: start;
}
.header-profile-link a:hover{
  background-color: #f8f7f9;
  color: #5392f9;
}
.sign-out{
  padding: 12px 16px;
  
}
.sign-out button{
  width: 100%;
  padding: 9px 12px;
  background-color: #ffffff;
  border: 1px solid #5392f9;
  border-radius: 5px;
}
.sign-out button:hover{
  background-color: #5392f9;
  color: #ffffff;
}
.header-drop-down::after {
  content: " ";
  position: absolute;
  bottom: 100%; 
  left: 50%;
  margin-left: 50px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #b4aeae transparent;
}
