.give-price-main {
    height: 100%;
    width: 100%;
    /* border: solid red; */
}

/* code header */
.give-price-header {
    position: relative;
    width: 100%;
    height: 76px;
    box-shadow: gray 0px 0px 8px 2px;

}

.give-price-image {
    /* border: solid red; */
    position: absolute;
    display: inline;
    left: 16%;
    top: 16%;
    transform: translateX(-50%);
    width: 110px;

}

.give-price-image img {
    height: 50px;
    width: 200px;

}

.give-price-header .give-price-status {
    /* border: solid black; */
    height: 76px;
    width: 535px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.give-price-status-crossbar-one {
    border: solid #bec2c9 0.1px;
    background-color: gray;
    width: 229px;
    height: 4px;
    opacity: 0.4;
    position: relative;
    top: 30%;

}

.give-price-status-crossbar-two {
    border: solid #bec2c9 0.1px;
    background-color: gray;
    width: 229px;
    height: 4px;
    opacity: 0.4;
    position: relative;
    top: 30%;

}

.give-price-status-number-one {
    background-color: #5392f9;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: relative;
    top: 16%;
    text-align: center;
    padding-top: 3px;
}

.give-price-status-number-two {

    background-color: #bec2c9;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: relative;
    top: 16%;
    text-align: center;
    padding-top: 3px;

}

.give-price-status-number-three {
    background-color: #bec2c9;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: relative;
    top: 16%;
    text-align: center;
    padding-top: 3px;
}

.give-price-status-text {
    position: absolute;
    font-size: 14px;
    font-weight: 200;
    display: inline;
    top: 40px;
    right: 480px;
    color: #5392f9;
}

.give-price-status-text-two {
    position: absolute;
    font-size: 14px;
    font-weight: 200;
    display: inline;
    color: #737373;
    top: 40px;
    left: 210px;
}

.give-price-status-text-threes {
    position: absolute;
    font-size: 14px;
    font-weight: 200;
    display: inline;
    color: #737373;
    top: 40px;
    left: 494px;
}

.name-of-cus-image img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.give-price-name-of-cus {
    position: relative;
    width: 179px;
    height: 35px;
    left: 1100px;
    top: 16px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    border-left: solid rgba(128, 128, 128, 0.2) 0.1px;
    border-right: solid rgba(128, 128, 128, 0.2) 0.1px;

}

.name-of-cus-user-name {
    display: inline;
    margin-left: 10px;
    font-size: 14px;
}



/* phan than  */
.give-price-dear {
    display: flex;
    position: absolute;
    left: 50%;
    top: 93px;
    transform: translateX(-50%);
    /* border: solid black; */
    height: auto;
    width: 1128px;
}

.give-price-dear-left {
    /* border: solid red; */
    flex-grow: 0;
}

.give-price-dear-right {
    flex-grow: 1;
    /* border: solid rgb(27, 255, 103); */
    margin-left: 10px;
}

.dear-left-element-one {
    box-shadow: gray 0px 1px 3px 1px;
    background-color: white;
    border: solid #dddfe2 1px;
    width: 756px;
    height: 50px;
    display: flex;

}

.dear-left-element-icon i {
    color: white;
    font-size: 24px;
    line-height: 42px;
}

.dear-left-element-icon {
    background-color: #5392f9;
    border-radius: 10px;
    margin-top: 1px;
    margin-left: 2px;
    height: 46px;
    width: 46px;
    text-align: center;
}

.dear-left-element-one span {

    color: #5392f9;
    font-size: 14px;
    line-height: 49px;
    padding-left: 20px;
}

.dear-left-element-one a {
    text-decoration: underline;
}





/* ================================ */





.dear-left-element-two {
    background-color: white;
    border: solid #dddfe2 1px;
    box-shadow: gray 0px 1px 3px 1px;
    border-left: solid #32a923 4.5px;
    width: 756px;
    height: 50px;
    display: flex;
    margin-top: 8px;

}

.dear-left-element-two-text {

    line-height: 46px;
    font-size: 14px;
    margin-left: 14px;
}

.dear-element-two-text-one {
    color: #32a923;
    display: inline;
    font-weight: 500;
}

.dear-element-two-text-two {
    display: inline;
}

.dear-element-two-text-threes {
    display: inline;
    color: #32a923;
}

.dear-left-element-two i {
    font-size: 14px;
    color: #32a923;
    line-height: 45px;
    padding-left: 10px;

}

/* ====================== */
.dear-left-element-threes {
    border: solid #dddfe2 1px;
    background-color: #eef4f9;
    width: 756px;
    height: 50px;
    box-shadow: gray 0px 1px 3px 1px;
    border-radius: 2px;
    font-size: 14px;
    margin-top: 8px;

}

.dear-left-element-threes p {
    display: inline;
    line-height: 46px;
    margin-left: 42px;
    color: #737373;
}






/* +++++++++++++++ */









.give-price-dear-right-element-one {
    border: solid #dddfe2 1px;
    height: 328px;
    width: 348px;
    box-shadow: gray 0px 1px 3px 1px;
    border-radius: 2px;
    background-color: white;
}

.dear-right-element-one-image-and-title {
    /* border: solid black; */
    display: flex;
    padding: 12px;
}

.right-element-one-image img {
    width: 87px;
    height: 127px;
    object-fit: cover;
    border-radius: 3px;
}

.right-element-one-title {
    width: 200px;
}

.right-element-one-title p {
    font-size: 18px;
    line-height: 28px;
    color: black;
    /* border: solid red; */
    margin-left: 10px;
    height: 127px;
}

.dear-right-element-one-starsss-location {
    /* border: solid rgb(17, 0, 255); */
    height: 60px;

}

.right-element-one-house {
    top: 145px;
    left: 876px;
    position: absolute;
    font-size: 14px;
    background-color: #2aa864;
    display: inline-flex;
    height: 17px;
    border-radius: 16px;
    width: 102px;
    /* line-height: 21px; */
}

.right-element-one-house i {
    font-size: 10px;
    padding-top: 4px;
    padding-left: 8px;
    color: white;

}

.right-element-one-house p {
    font-size: 11px;
    padding-left: 7px;
    padding-top: 3px;
    font-weight: 600;
    color: white;
}

.right-element-one-sologan {
    /* border: solid black; */
    position: absolute;
    top: 228px;
    left: 810px;
    font-size: 14px;
    display: inline-flex;
    width: 240px;
    border-radius: 16px;
    height: 17px;
    background-color: #2aa864;
}

.right-element-one-sologan i {
    color: white;
    font-size: 10px;
    padding-left: 7px;
    padding-top: 3px;
}

.right-element-one-sologan .hola-title {
    font-size: 11px;
    padding-left: 7px;
    padding-top: 3px;
    font-weight: 600;
    color: white;
}

.right-element-one-sologan .hola-sologan {
    font-size: 11px;
    padding-left: 4px;
    padding-top: 3px;
    font-weight: 100;
    color: white;
}

.right-element-one-starsss {
    /* border: solid black; */
    display: inline;
    position: absolute;
    top: 144px;
    left: 982px;
    color: #ecc43a;
}

.right-element-one-location {
    position: absolute;
    left: 884px;
    top: 173px;
    /* border: solid rgb(187, 255, 0); */
    font-size: 12px;
    width: 224px;
    display: block;
    font-weight: 300;
    color: #737373;
}

.dear-right-element-one-cheat {
    position: relative;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    /* border: solid black; */
    font-size: 14px;
    width: 334px;
    height: 58px;
    background-color: #f9d8d8;
    padding: 8px;
    display: inline-block;

}

.dear-right-element-one-cheat span {
    display: inline;
    font-weight: bold;
    color: #e12d2d;
}





/* ++++++++++++++++ */



.give-price-dear-right-element-two {
    border: solid #dddfe2 1px;
    height: 340px;
    width: 348px;
    box-shadow: gray 0px 1px 3px 1px;
    border-radius: 2px;
    background-color: white;
    margin-top: 8px;
}

.right-element-two-first-head {
    width: 127px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    background-color: #5392f9;
    border-radius: 2px;
}

.right-element-two-first-head span {
    color: white;
    font-weight: 700;
    line-height: 20px;
}

.right-element-two-time-and-day {
    /* border: solid black; */
    display: flex;
    height: 45px;
}

.right-element-two-all-time {
    /* border: solid black 0.1px; */
    padding-left: 8px;
    padding-top: 13px;
}

.right-element-two-all-time span {
    /* border: solid red 0.1px; */
    font-size: 14px;
    font-weight: 600;
}

#right-element-two-day {
    /* border: solid red 0.1px; */
    margin-left: 58px;
    font-size: 12px;
    font-weight: 600;
}

.right-element-two-type-roomate {
    font-size: 14px;
    padding-left: 8px;
}

.right-element-two-type-roomate a {
    margin-left: 18px;
    color: #179dfd;
    text-decoration: underline;

}

.right-element-two-vote {
    display: flex;
    /* border: solid black; */
    height: 50px;
    padding-top: 10px;
}

.right-element-vote-score {
    display: inline;
}

.right-element-vote-score i {
    font-size: 40px;
    position: absolute;
    top: 427px;
    left: 785px;
    color: #5392f9;
}

.right-element-vote-score span {
    position: absolute;
    color: white;
    left: 796px;
    top: 440px;
    font-weight: 500;
    z-index: 1;
}

#right-element-two-vote-fake {
    color: #5392f9;
    margin-left: 65px;
    padding-top: 15px;
    font-size: 14px;
    font-weight: 600;
}

.right-element-two-image-and-service {
    /* border: solid black; */
    display: flex;
    margin-top: 28px;

}

.right-element-two-image img {
    width: 87px;
    height: 127px;
    object-fit: cover;
    border-radius: 3px;
    margin-left: 10px;
}

.right-element-two-service {
    /* border: solid red; */
    margin-left: 44px;
}

.right-element-two-service i {
    font-size: 12px;
    color: #32a923;
    font-weight: bold;
}

.right-element-two-service-one {
    margin-top: 7px;
}

.right-element-two-service-two {
    margin-top: 7px;
}

.right-element-two-service-three {
    margin-top: 7px;
}

.right-element-two-service-four {
    margin-top: 7px;
}

.right-element-two-service-one span {
    font-size: 14px;
    color: gray;

}

.right-element-two-service-two {
    font-size: 14px;
    color: gray;
}

.right-element-two-service-three {
    font-size: 14px;
    color: gray;
}

.right-element-two-service-four {
    font-size: 14px;
    color: gray;
}

.right-element-line-make-color-first {
    border: solid #bec2c9 0.01px;
    background-color: gray;
    width: 286px;
    height: 0.1px;
    opacity: 0.4;
    position: relative;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.right-element-line-make-color-second {
    border: solid #bec2c9 0.01px;
    background-color: gray;
    width: 286px;
    height: 0.1px;
    opacity: 0.4;
    position: relative;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
}

.give-price-dear-right-element-threes {
    height: 170px;
    box-shadow: gray 0px 1px 3px 1px;
    border-left: solid #e12d2d 4.5px;
    border-radius: 2px;
    width: 348px;
    margin-top: 8px;
}

.give-price-dear-right-element-threes-icon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.give-price-dear-right-element-threes-icon i {
    color: #e12d2d;
    font-size: 24px;
}

.give-price-dear-right-element-threes-text {
    font-size: 14px;
    width: 220px;
    margin-left: 54px;
    margin-top: -6px;
    height: 133px;
    line-height: 22px;
}

#give-price-dear-right-element-threes-text-one {
    color: #e12d2d;
    font-weight: 600;
}

#give-price-dear-right-element-threes-text-pagarap-one {
    color: gray;
    font-size: 13px;
}

#give-price-dear-right-element-threes-text-threes {
    color: #e12d2d;
    font-weight: 600;
    font-size: 14px;
}

#give-price-dear-right-element-threes-text-two {
    color: gray;
    font-size: 13px;
}



/* ++++++++++++++ */
.give-price-dear-right-element-four {
    height: 128px;
    width: 348px;
    box-shadow: gray 0px 1px 3px 1px;
    border-left: solid #32a923 4.5px;
    margin-top: 8px;
    border-radius: 2px;
    display: flex;
}

.give-price-dear-right-element-four-icon {
    height: 24px;
    width: 24px;
    position: relative;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.give-price-dear-right-element-four-icon i {
    font-size: 30px;
    color: #32a923;
}

.give-price-dear-right-element-four-text {
    font-size: 14px;
    width: 220px;
    padding-top: 22px;
    margin-left: 37px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 133px;
    line-height: 22px;
}

#give-price-dear-right-element-four-text-one {
    font-size: 13px;
    color: #737373;
}

#give-price-dear-right-element-four-text-paragap-one {
    font-size: 13px;
    color: #737373;
}

#give-price-dear-right-element-four-text-two {
    color: #32a923;
    font-weight: 600;
}

.give-price-dear-right-element-five {
    border: solid #dddfe2 1px;
    height: 416px;
    width: 348px;
    box-shadow: gray 0px 1px 3px 1px;
    margin-top: 8px;
    border-radius: 2px;
}

.give-price-dear-right-element-five-first {
    height: 258px;
    background-color: #f9f9f9;
    border-bottom: rgba(160, 160, 160, 0.2) solid 1px;
}

.give-price-dear-right-element-five-first-text-one {
    padding-left: 12px;
    padding-top: 33px;
}

#give-price-dear-right-element-five-first-text-one-span-two {
    font-size: 14px;
    margin-left: 6px;
    color: gray;
}

#give-price-dear-right-element-five-first-text-one-span-one {
    font-size: 14px;
    font-weight: 600;
}




.give-price-dear-right-element-five-first-text-two {
    padding-left: 12px;
    margin-top: 21px;
}

#give-price-dear-right-element-five-first-text-two-span-one {
    font-size: 14px;
    font-weight: 600;
}

#give-price-dear-right-element-five-first-text-two-span-two {
    font-size: 14px;
    color: gray;
    margin-left: 167px;
}


.give-price-dear-right-element-five-first-text-threes {
    padding-left: 12px;
    margin-top: 21px;
}

#give-price-dear-right-element-five-first-text-threes-span-one {
    font-size: 14px;
    font-weight: 600;
}

#give-price-dear-right-element-five-first-text-threes-span-two {
    color: gray;
    font-size: 14px;
    margin-left: 38px;
}


.give-price-dear-right-element-five-first-text-four {
    padding-left: 12px;
    margin-top: 21px;
}

#give-price-dear-right-element-five-first-text-four-span-two {
    font-size: 16px;
    margin-left: 126px;
    color: #488bf8;
}

#give-price-dear-right-element-five-first-text-four-span-one {
    font-size: 14px;
    font-weight: 600;
}

.give-price-dear-right-element-five-first-text-four-five {
    position: absolute;
    top: 1201px;
    left: 823px;
    width: 300px;
    font-size: 14px;
    background-color: #2aa864;
    display: inline-flex;
    width: 240px;
    height: 17px;
    border-radius: 16px;
}

.give-price-dear-right-element-five-first-text-four-five i {
    font-size: 10px;
    padding-top: 4px;
    padding-left: 4px;
    color: white;
}
.give-price-dear-right-element-five-first-text-four-five-logo{
    font-size: 11px;
    padding-left: 7px;
    padding-top: 4px;
    font-weight: 600;
    color: white;
}
.give-price-dear-right-element-five-first-text-four-five-sologan{
    font-size: 11px;
    padding-left: 6px;
    padding-top: 4px;
    color: white;
}
.give-price-dear-right-element-five-second-text-one{
    margin-top: 18px;
    padding-left: 12px;
    display: flex;
}
#give-price-dear-right-element-five-second-text-one-span-one{
    font-size: 17px;
    font-weight: 500;
    flex-grow: 1;
}
#give-price-dear-right-element-five-second-text-one-span-two{
    font-size: 14px;
    color: gray;
    padding-left: 131px;
    flex-grow: 1;
}
.give-price-dear-right-element-five-second-text-two{
    font-size: 11px;
    margin-top: 21px;
    padding-left: 12px;
}
.give-price-dear-right-element-five-second-text-two p{
    color: gray;
}
.give-price-dear-right-element-five-second-text-two span{
    color: black;
    font-weight: 600;
} 
.give-price-dear-right-element-five-second-text-threes {
    background-color: #2aa864;
    color: white;
    padding-top: 18px;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
    height: 50px;
    position: absolute;
    top: 1347px;
    left: 796px;
    width: 300px;
    z-index: 1;
}
.give-price-dear-right-element-five-second-text-four{
    border: solid white;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    position: absolute;
    top: 1341px;
    left: 1059px;
    z-index: 0;
    background-color: #2aa864;
}
.dear-left-element-four{
    margin-top: 8px;
    box-shadow: gray 0px 1px 3px 1px;
    background-color: white;
    border: solid #dddfe2 1px;
    height: 200px;
    width: 756px;
}
.dear-left-element-four button{
    background-color: #5392f9;
    color: white;
    cursor: pointer;
    height: 20px;
    width: 115px;
    margin-left: 250px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
}
.dear-left-element-four button:hover{
    background-color:#32a923 ;
}
.dear-left-element-four-extra button{
    background-color: #5392f9;
    color: white;
    cursor: pointer;
    height: 20px;
    width: 115px;
    margin-left: 582px;
    margin-top: 0px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
}
.dear-left-element-four-extra button:hover{
   background-color: #32a923;
}
.dear-left-element-four-all-of-first-line{
    margin-top: 16px;
    display: flex;
}
.dear-left-element-four-icon-and-information{
    position: relative;
    left: 12px;
    width: 200px;
    line-height: 39px;
}
.dear-left-element-four-icon-and-information span{
    font-size: 20px;
}
.dear-left-element-four-icon-and-information i{
    font-size: 24px;
    color: #32a923;
    font-size: 24px;
}
.dear-left-element-four-information-of-name{
    position: relative;
    left: 130px;
    width: 133px;
    font-size: 14px;
    padding-top: 21px;
}
.dear-left-element-four-link-to-remake{
    margin-left: 290px;
    padding-top: 17px;
    color: #179dfd;
    text-decoration: underline;
}
.dear-left-element-four-mail{
    display: inline;
    position: relative;
    left: 327px;
    top: 15px;
    font-size: 14px;
}
.dear-left-element-four-line-one{
    border: solid rgba(128, 128, 128, 0.2) 1px;
    background-color: rgba(rgb(82, 82, 82), green, blue, alpha);
    width: 365px;
    position: absolute;
    top: 290px;
    left: 333px;
} 
.dear-left-element-four-number-phone{
    position: absolute;
    top: 320px;
    left: 108px;
    width: 525px;
}  
.dear-left-element-four-number-phone input{
    border: solid #ced0d4 1px ;
    border-radius: 4px;
    height: 40px;
    width: 300px;
    cursor: pointer;
    position: relative;
    left: 138px;
}
.dear-left-element-four-number-phone input:hover{
    border: solid #179dfd 1px;
}
.dear-left-element-four-number-phone input:focus{
    border: solid #32a923 1px;
}
.dear-left-element-four-number-phone span{
    position: relative;
    left: 63px;
    font-size: 14px;
}



.dear-left-element-four-extra{
    margin-top: 8px;
    box-shadow: gray 0px 1px 3px 1px;
    background-color: white;
    border: solid #dddfe2 1px;
    height: 384px;
    width: 756px;
    display: none;
}
.dear-left-element-four-extra-title-hochieu{
    width: 100%;
    height: auto;
    margin-top: 33px;
    
}
.dear-left-element-four-extra-hochieu{
    border: solid 1px rgb(50, 169, 35);
    width: 720px;
    height: 40px;
    border-radius: 2px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 18px;
    margin-top: 10px;
}
.dear-left-element-four-extra-hochieu input{
    font-size: 18px;
}
.dear-left-element-four-extra-title-hochieu span{
    font-size: 14px;
    font-weight: 400;
    margin-left: 18px;
    margin-bottom: 2px;

}
.dear-left-element-four-extra-icon-and-information{
    width: 400px;
    margin-left: 12px;
    margin-top: 10px;
}
.dear-left-element-four-extra-icon-and-information i{
    color: #5392f9;
    font-size: 32px;
    
}
.dear-left-element-four-extra-icon-and-information span{
    font-size: 20px;
}
.dear-left-element-four-extra-title-email{
    width: 100%;
    height: auto;
    margin-top: 33px;
    
}
.dear-left-element-four-extra-email{
    border: solid 1px rgb(50, 169, 35);
    width: 720px;
    height: 40px;
    border-radius: 2px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 18px;
    margin-top: 10px;
}
.dear-left-element-four-extra-email input{
    font-size: 18px;
}
.dear-left-element-four-extra-title-email span{
    font-size: 14px;
    font-weight: 400;
    margin-left: 18px;
    margin-bottom: 2px;

}

.dear-left-element-four-extra-title-phone{
    width: 100%;
    height: auto;
    margin-top: 33px;
    
}
.dear-left-element-four-extra-phone{
    border: solid 1px rgb(50, 169, 35);
    width: 360px;
    height: 40px;
    border-radius: 2px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 18px;
    margin-top: 10px;
}
.dear-left-element-four-extra-phone input{
    font-size: 18px;
}
#dear-left-element-four-extra-title-phone-spanone{
    font-size: 14px;
    font-weight: 400;
    margin-left: 18px;
    margin-bottom: 2px;

}
#dear-left-element-four-extra-title-phone-spantwo
{
    margin-left: 280px;
}
.dear-left-element-four-extra-title-selectLocation{
    border: solid 1px rgb(50, 169, 35);
    width: 341px;
    height: 40px;
    border-radius: 2px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 18px;
    margin-top: 10px;
}
.dear-left-element-four-extra-title-phone-and-location{
    display: flex;
}

































.dear-left-element-five{
    height: 320px;
    width: 756px;
    background-color: white;
    border: solid #dddfe2 1px;
    box-shadow: gray 0px 1px 3px 1px;
    margin-top: 8px;

}
#dear-left-element-five-span-in-head{
    font-weight: 700;
    font-size: 18px;
    position: relative;
    left: 12px;
    top: 20px;
}
#dear-left-element-five-span-in-next-head{
    position: relative;
    top: 51px;
    margin-left: -225px;
    font-size: 14px;
}
.dear-left-element-five-chose-service{
    border: solid white 1px;
    background-color: #f9f9f9;
    width: 722px;
    height: 172px;
    position: relative;
    left: 50%;
    top: 77px;
    transform: translateX(-50%);
}
#dear-left-element-five-chose-service-pagragrap-one{
    display: inline;
    margin-left: 12px;
    position: relative;
    top: 18px;
}

.dear-left-element-five-chose-service-choice-one{
    position: relative;
    top: 33px;
    margin-left: 12px;
    height: 30px;
    display: flex;
}
.dear-left-element-five-chose-service-choice-one-readio-one-and-icon{
    display: inline;
}
.dear-left-element-five-chose-service-choice-one-readio-one-and-icon span{
    font-size: 14px;
    margin-left: 14px;
}
.dear-left-element-five-chose-service-choice-one-readio-one-and-icon i{
    font-size: 22px;
    margin-left: 14px;
    position: relative;
    top: 2px;
}
.dear-left-element-five-chose-service-choice-one-readio-one-and-icon input{
    cursor: pointer;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #488bf8;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.dear-left-element-five-chose-service-choice-one-readio-two-and-icon{
    margin-left: 237px;
    display: inline;
}
.dear-left-element-five-chose-service-choice-one-readio-two-and-icon span{
    font-size: 14px;
    margin-left: 14px;
}
.dear-left-element-five-chose-service-choice-one-readio-two-and-icon i{
    font-size: 22px;
    margin-left: 14px;
    position: relative;
    top: -3px;
}
.dear-left-element-five-chose-service-choice-one-readio-two-and-icon input{
    cursor: pointer;
}
.dear-left-element-five-chose-service-choice-one-readio-threes-and-icon{
    margin-left: 182px;
}
.dear-left-element-five-chose-service-choice-one-readio-threes-and-icon span{
    font-size: 14px;
    margin-left: 14px;
}

#dear-left-element-five-chose-service-pagragrap-two{
    display: inline;
    position: relative;
    top: 52px;
    margin-left: 12px;
}
.dear-left-element-five-chose-service-choice-two{
    display: flex;
    position: relative;
    top: 65px;
    margin-left: 12px;
    height: 30px;
}
.dear-left-element-five-chose-service-choice-two-readio-two-and-icon{
    margin-left: 237px;
    display: inline;
}
.dear-left-element-five-chose-service-choice-two-readio-two-and-icon span{
    font-size: 14px;
    margin-left: 14px;
}
.dear-left-element-five-chose-service-choice-two-readio-two-and-icon i{
    font-size: 22px;
    margin-left: 14px;
    position: relative;
    top: 3px;
}
.dear-left-element-five-chose-service-choice-two-readio-two-and-icon input{
    cursor: pointer;
}
.dear-left-element-five-chose-service-choice-two-readio-two-and-icon{
    display: inline;
}
.dear-left-element-five-chose-service-choice-two-readio-one-and-icon span{
    font-size: 14px;
    margin-left: 14px;
}
.dear-left-element-five-chose-service-choice-two-readio-one-and-icon i{
    font-size: 22px;
    margin-left: 14px;
    position: relative;
    top: 3px;
}
.dear-left-element-five-chose-service-choice-two-readio-one-and-icon input{
    cursor: pointer;
}
.dear-left-element-five-chose-service-choice-two-readio-threes-and-icon{
    margin-left: 182px;
}
.dear-left-element-five-chose-service-choice-two-readio-threes-and-icon span{
    font-size: 14px;
    margin-left: 14px;
}
.dear-left-element-five-chose-service-choice-two-readio-threes-and-icon input{
    cursor: pointer;
}

.dear-left-element-six{
    border: solid #dddfe2 1px;
    box-shadow: gray 0px 1px 3px 1px;
    height: 155px;
    width: 756px;
    margin-top: 8px;
}
.dear-left-element-six-gift-and-title-gift{
    display: inline;
    margin-left: 12px;
    position: relative;
    top: 12px;
}
.dear-left-element-six-gift-and-title-gift span{
    font-size: 20px;
    font-weight: 600;
    margin-left: 12px;
}
.dear-left-element-six-gift-and-title-gift i{
    font-size: 24px;
    color: #179dfd;
}
.dear-left-element-six-all-money{
    background-color:#f9f9f9 ;
    height: 87px;
    width: 722px;
    position: relative;
    left: 50%;
    top: 24px;
    transform: translateX(-50%);
}
.dear-left-element-six-all-money i{
    color: #704dff;
    font-size: 32px;
    position: relative;
    top: 12px;
    left: 12px;
}
.dear-left-element-six-all-money-comment{
    height: 63px;
    width: 473px;
    position: relative;
    left: 40%;
    top: -20px;
    transform: translateX(-50%);
}
#dear-left-element-six-all-money-comment-one{
    font-size: 14px;
    font-weight: 600;

}
.dear-left-element-six-all-money-comment-two{
    font-size: 12px;
    height: 27px;
    width: 85px;
    color: white;
    text-align: center;
    position: relative;
    left: 82px;
    top: -23px;
    padding-top: 6px;
    background-color: #32a923;
    border-radius: 4px;
}
#dear-left-element-six-all-money-and-money{
    font-size: 12px;
    width: 451px;
    position: absolute;
    top: 36px;
    left: 54px;
    line-height: 21px;
}
.dear-left-element-six-all-money-price{
    display: inline;
    position: absolute;
    top: 30px;
    left: 592px;
}
.dear-left-element-six-all-money-price h1{
    color: #704dff;
    font-size: 18px;
    font-weight: 500;
}
.dear-left-element-six-all-money-price p{
    font-size: 10px;
}
.dear-left-element-seven{
    border: solid #dddfe2 1px;
    box-shadow: gray 0px 1px 3px 1px;
    height: 181px;
    width: 756px;
    margin-top: 8px;
}
#dear-left-element-seven-pagragap-one{
    font-size: 12px;
    margin-left: 183px;
    margin-top: 12px;
}
#dear-left-element-seven-pagragap-one a{

    color: #179dfd;
}
.dear-left-element-seven h3{
    font-size: 14px;
    margin-top: 19px;
    margin-left:266px;
    color:  #e12d2d;
   
    
}
.dear-left-element-seven button{
    font-size: 14px;
    color: white;
    line-height: 21px;
    box-shadow: gray 0px 1px 3px 1px;
    background-color:  #5794f9;
    width: 315px;
    height: 45px;
    border-radius: 4px;
    position: relative;
    left: 375px;
    top: 19px;
    cursor: pointer;
   
}
.dear-left-element-seven-make-color{
    font-size: 14px;
    font-weight: 500;
    color: #28871c;
    height: 20px;
    width: 190px;
    background-color: #f3f9f2;
    line-height: 20px;
    margin-left: 440px;
    margin-top: 36px;
    padding-left: 10px;
}