﻿@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Failed</title>
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Payment/PaymentFailed.css">
    <link rel="icon" href="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/hotel.png"
          type="image/x-icon" />
</head>

<body>

    <div class="all_failed">
        <div class="failed_icon">
            <div class="failed_circle">
            </div>
            <div class="failed_checkIcon">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="failed_messenger">
            <h1 class="failed_messenger_h1">Failed!</h1>
            <h2 class="failed_messenger_h2">Your payment has not been processed successfully</h2>
            <p class="failed_messenger_p">Oh no! An error occurred during the payment process...Please contact admin for
                assistance.</p>
        </div>
        <div class="failed_continueBooking">
            <a id="id_continue" href="/">Continue Booking <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>

</body>

</html>
