﻿@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Success</title>
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Payment/PaymentSuccess.css">
    <link rel="icon" href="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/hotel.png"
          type="image/x-icon" />
</head>

<body>
    <div class="all_success">
        <div class="success_icon">
            <div class="success_circle">
            </div>
            <div class="success_checkIcon">
                <i id="checkIcon" class="far fa-check"></i>
            </div>
        </div>
        <div class="success_messenger">
            <h1 class="success_messenger_h1">Success!</h1>
            <h2 class="success_messenger_h2">Your payment has been processed successfully</h2>
            <p class="success_messenger_p">Great! Your payment has been successful, please return to the homepage to
                continue booking now.</p>
        </div>
        <div class="success_continueBooking">
            <a id="id_continue" href="/">Continue Booking <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</body>

</html>
