* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.01);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  html {
    scroll-behavior: smooth;
    font-family: mallory,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  body {
    font-size: 16px;
    line-height: 1;
   }
  input,
  button,
  textarea,
  select {
    font-size: 14px;
    outline: none;
    border: 0;
    box-sizing: border-box;
  }
  
  input {
    line-height: normal;
  }
  input[type="file"] {
    display: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  ul,
  li {
    list-style-type: none;
  }
/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.all_success{
    width: 100%;
    height: 595px;
    text-align: center;
}
.success_icon{
    width: 100%;
    height: 300px;
    border: 0.000000001px solid white;
}
.success_circle{
    content: "";
    width: 170px;
    height: 170px;
    border: 2px solid #99FF66;
    border-radius: 50%;
    position: absolute;
    left: 670px;
    top: 68px;
    border-left-color: green;
    animation: rotate 1.2s linear infinite;
}
@keyframes rotate {
    50%{
        border-left-color: #9b59b6;
    }
    75%{
        border-left-color: #e67e22;
    }
    100%{
        transform: rotate(360deg);
    }
}
.success_checkIcon{
    font-size: 120px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    color: green;
    animation: leap 0.8s linear infinite;
}
@keyframes leap {
    20%{
        margin-top: 100px;
        margin-right: auto;
    }       

    40%{
        margin-top: 95px;
        margin-right: 3px;
    }

    60%{
        margin-top: 100px;
        margin-right: auto;
    }

    80%{
        margin-top: 95px;
        margin-right: 3px;
    }

    100%{
        margin-top: 100px;
        margin-right: auto;
    }
}

.success_continueBooking{
    margin-left: 620px;
    margin-top: 80px;
    border: 1px solid white;
    font-size: 20px;
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow:0 0 10px 4px rgba(69, 69, 69, 0.5);
}
.success_continueBooking a{
    height: 40px;
    width: 200px;
    margin-top: 22px;
}
.success_continueBooking:hover{
    background-color: green;
    border: 1px solid green;
    cursor: pointer;
    color: white;
}
.fa-arrow-right:hover{
    background-color: green;
    cursor: pointer;
    color: white;
}
/* .success_messenger{
  border: 1px solid red;
} */
.success_messenger_h1{
    color: green;
    font-size: 50px;
    font-weight: bold;
}
.success_messenger_h2{
    font-size: 40px;
    margin-top: 20px;
    font-weight: lighter;
}
.success_messenger_p{
    font-size: 25px;
    margin-top: 20px;
    font-weight: lighter;
}
.fa-arrow-right{
    cursor: pointer;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.6);
}