﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var a = ViewBag.User;

   
}

<h1>a:@ViewBag.Session</h1>
<img src="@ViewBag.Image" style="width:150px" />
<img src="@ViewBag.QR" style="width:150px" />
<a href="@Url.Action("Payment","PayMent")" class="btn btn-primary">Thanh toán</a>

<div class="container text-center " style="margin-top:80px;margin-bottom:300px">
    <h1>Tool</h1>
    <h2>Code</h2>
    <div class="form-floating mb-3">
        <input type="text" class="form-control code" id="floatingInput" placeholder="">
        <label for="floatingInput">Code</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control result" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Result</label>
    </div>
    <div class="btn-group mt-1" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary encode">Encode</button>
        <button type="button" class="btn btn-outline-primary decode">Decode</button>
    </div>
</div>

<div class="container text-center " style="margin-top:40px;margin-bottom:300px">
    <h2>Upload Image </h2>

    <div class="edit-header-avatar">
        <label for="header-avatar-file">
            <i class="fas fa-camera fa-2x"></i>
        </label>
        <input type="file"
               name="photo-file"
               id="header-avatar-file"
               accept="image/*" />
    </div>
    <div class="form-floating">
        <input type="text" class="form-control result1" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Result</label>
    </div>
    <img src="~/image/Logo/Logo.jpg" alt="Image" class="image mt-1" style="width:200px" />
</div>
<div class="container text-center " style="margin-top:80px;margin-bottom:300px">
    <h1>Delete Image</h1>
    <div class="form-floating mb-3">
        <input type="text" class="form-control link" id="floatingInput" placeholder="">
        <label for="floatingInput">Link</label>
    </div>
    <div class="btn-group mt-1" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary delete">Delete</button>

    </div>
</div>

<script>
    //delete file
      let deletebtn = document.querySelector(".delete")
      let link = document.querySelector(".link")
      deletebtn.addEventListener("click",()=>{
          let query3 =new QueryFileUpload("delete/image");
          query3.addParam("path",link.value)
          query3.addEvent("load", function() {
                window.setTimeout(() => {
                   alert("Xóa thành công")
                }, 4000);
            });
          query3.send();
      })



    // upload file
    let result1 = document.querySelector(".result1")
      let name = "holabooking" + Date.now() ;

      let folder ="Profile";

      let inputFile = document.querySelector("#header-avatar-file")
      inputFile.addEventListener("change", () => {
      let render = new FileReader();
      render.readAsDataURL(inputFile.files[0]);
      console.log(inputFile.files[0])
      let query1 =new QueryFileUpload("upload/image");
      query1.addParam("files",inputFile.files[0])
      query1.addParam("folder",folder);
      query1.addParam("fileName",name);
       query1.addEvent("load", function() {
                window.setTimeout(() => {
                    document.querySelector(".image").src = `/image/${folder}/${name}.png`;
                     result1.value =`~/image/${folder}/${name}.png`;
                    //query2
                }, 4000);
            });

      query1.send();
    });
    // encode
        let btnEncode = document.querySelector(".encode")
        let btnDecode = document.querySelector(".decode")
        let code = document.querySelector(".code")
        let result = document.querySelector(".result")
        btnEncode.addEventListener("click", () => {
        let query2 = new QueryData("tool/encode");
        query2.addParam("code", code.value);
        query2.addEvent("load", function () {
            console.log(this.response)
            result.value =this.response;
        })

        query2.send("GET");

    })
    // decode
    btnDecode.addEventListener("click", () => {
        let query = new QueryData("tool/decode");
        query.addParam("code", code.value);
        query.addEvent("load", function () {
            console.log(this.response)
            result.value =this.response;
        })

        query.send("GET");

    })
</script>


