.search-box {
    width: 100%;
    height: 70px;
    background-color: #20274d;
    display: flex;
    align-items: center;
    padding: 11px 0px;
}

.Search-Box-Container{
    height: 48px;
    padding: 0 5px;
}

.search-text{
    width: 80%;
    height: 44px;
    line-height: 1.25;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 16px;
    border: none;
    text-overflow: ellipsis;
    cursor: pointer;
    align-items: center;
}

.Search-Box-Container .Search-box{
    background-color: #fff;
    width: 361px;
    border-radius: 6px;
    margin: 0 3px;
    padding: 0 5px;
    height: 48px;
}

.Search-Box-Container .check-In-box{
    background-color: #fff;
    border-right-color: #90949c;
    border-right-style: solid;
    border-right-width: 1px;
    width: 177px;
    height: 48px;
    padding: 0 5px;
    border-radius: 6px 0 0 6px;

}
.Search-Box-Container .check-Out-box {
    background-color: #fff;
    width: 177px;
    height: 48px;
    padding: 0 5px;
    border-radius: 0 6px 6px 0;
}
.Search-Box-Container .occupancy-box{
    height: 48px;
    padding: 0 5px;
    width: 240px;
    border-radius: 6px;
    margin: 0 3px;
    background-color: #fff;
}

.Searchbox__searchButton {
    color: #fff;
    background-color: #5392f9;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 15%);
    position: relative;
    overflow: hidden;
    width: 130px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.Searchbox__searchButton--active {
    z-index: 0;
}

.Search-Box-Container .Searchbox__searchButton{
    height: 48px;
    padding: 10px 0;
    
}

.Icon-Box {
    color: #333;
    padding: 13px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-family: icons;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.search-date{
    display: inline-block;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

/* -============Date========== */

.dropbtn {
    display: inline-block;
    color: #000000;
    width: 130px;
    border: none;
    cursor: pointer;
}
  
div .check-In-box:hover, .check-Out-box:hover, .occupancy-box:hover, .dropdown:hover .dropbtn {
    background-color: #a7a7a7;
}
  
div.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* =============Room================= */

.down-icon{
    margin-left: 85px;
}

/* ===========///=========== */

.container-ssr {
    padding-top: 24px;
    margin-top: 0;
    position: relative;
    width: 1100px;
    clear: both;
    margin: 0 auto;
}

.l-col-3 {
    width: 25%;
    padding-left: 16px;
}

.l-col-9 {
    width: 75%;
    padding-left: 16px;
}

.l-row {
    display: flex;
    margin-right: 5px;
    margin-left: -16px;
    justify-content: center;
}