.search-box {
    width: 100%;
    height: 70px;
    background-color: #20274d;
    display: flex;
    align-items: center;
    padding: 11px 0px;
}

.Search-Box-Container{
    height: 48px;
    padding: 0 5px;
}

.search-text{
    width: 80%;
    height: 44px;
    line-height: 1.25;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 16px;
    border: none;
    text-overflow: ellipsis;
    cursor: pointer;
    align-items: center;
}

.Search-Box-Container .Search-box{
    background-color: #fff;
    width: 361px;
    border-radius: 6px;
    margin: 0 3px;
    padding: 0 5px;
    height: 48px;
}

.Search-Box-Container .check-In-box{
    background-color: #fff;
    border-right-color: #90949c;
    border-right-style: solid;
    border-right-width: 1px;
    width: 177px;
    height: 48px;
    padding: 0 5px;
    border-radius: 6px 0 0 6px;

}
.Search-Box-Container .check-Out-box {
    background-color: #fff;
    width: 177px;
    height: 48px;
    padding: 0 5px;
    border-radius: 0 6px 6px 0;
}
.Search-Box-Container .occupancy-box{
    height: 48px;
    padding: 0 5px;
    width: 240px;
    border-radius: 6px;
    margin: 0 3px;
    background-color: #fff;
}

.Searchbox__searchButton {
    color: #fff;
    background-color: #5392f9;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 15%);
    position: relative;
    overflow: hidden;
    width: 130px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.Searchbox__searchButton--active {
    z-index: 0;
}

.Search-Box-Container .Searchbox__searchButton{
    height: 48px;
    padding: 10px 0;
    
}

.Icon-Box {
    color: #333;
    padding: 13px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-family: icons;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.search-date{
    display: inline-block;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

/* -============Date========== */

.dropbtn {
    display: inline-block;
    color: #000000;
    width: 130px;
    border: none;
    cursor: pointer;
}

  
div .check-In-box:hover, .check-Out-box:hover, .occupancy-box:hover, .dropdown:hover .dropbtn {
    background-color: #a7a7a7;
}

div .occupancy-box:active{
    background-color: #a7a7a7;
}

  
div.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* =============Room================= */

.down-icon{
    margin-left: 85px;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  left: 70%;
  top: 10%;
  transform: translateX(-50%);
  border-radius: 4px;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 0 rgb(0 0 0/50%);
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px 10px 0px 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container select, .form-container select{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container .people-count{
    display: flex;
    justify-content: space-between;
}

.form-container input[type="text"]{
    margin: 5px 0 22px 0;
    width: 50%;
    background: #f1f1f1;
    position: relative;
    align-items: center;
    align-content: center;
}

.form-container input[type="button"]{
    margin: 5px 0 22px 0;
    font-size: 25px;
    width: 50px;
    height: 50px;
    background: #f1f1f1;
}

.form-container input[type="text"]:focus{
    background-color: #e4e4e4;
    outline: none;
}

.form-container input[type="button"]:hover{
    background-color: #e4e4e4;
}

.form-container input[type="button"]:active{
    background-color: #00b7ff;
}

/* When the inputs get focus, do something */
.form-container select:hover, .form-container select:hover {
  background-color: rgb(207, 207, 207);
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: green;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/* ===========///=========== */

.container-ssr {
    padding-top: 24px;
    margin-top: 0;
    position: relative;
    width: 1100px;
    clear: both;
    margin: 0 auto;
}

.l-col-3 {
    width: 25%;
    padding-left: 16px;
}

.l-col-9 {
    width: 75%;
    padding-left: 16px;
}

.l-row {
    display: flex;
    margin-right: 5px;
    margin-left: -16px;
    justify-content: center;
}

/* =========Filter============= */

.filter-box{
    padding: 12px 8px;
}

.Box-list{
    display: block;
    box-sizing: border-box;
}

.Box-list .filter-menu{
    padding-right: 10px;
    color: #5a5b5b;
    background-color: transparent;
    overflow: visible;
    cursor: text;
    font-size: 20px;
    font-weight: 700;
    padding-top: 18px;
    padding-bottom: 7px;
    padding: 18px 10px 7px 0;
}

.Box-list .filter-items{
    position: relative;
    overflow: hidden;
}
.Box-list .filter-items .filter-list-item{
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    padding: 3px;
    list-style: none;
    outline: 0;
}
.Box-list .filter-list-item .filter-item-react{
    color: #5a5b5b;    
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 3px;
    font-size: 1rem;
    cursor: pointer;
}
.Box-list .filter-item-react .filter-item-info{
    display: block;
    position: relative;
    line-height: 1.8;
    cursor: pointer;
}

.filter-item-info input{
    background: #fff;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    align-items: center;
}

.Box-list .FilterSeparator{
    color: #dddfe2;
    margin-top: 20px;
    display: block;
    border-style: solid;
    border-width: 1px;
}

.Box-list .Filters__ExpansionButton .more-less-btn{
    color: #5392f9;
    font-size: 12px;
    padding: 0 14px;
    margin-top: 0;
    cursor: pointer;
    border-top: none;
    background-color: transparent;
    text-decoration: none;
}

.filter-item-body .filter-item-content i{
    color: #fdbd4a;
    margin-left: 0;
    font-size: 1rem;
}

#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}

/* ========= content ========= */

/* .content-box i{
    color: #fdbd4a;
} */

.JacketContent{
    color: #dddfe2;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%);
    min-height: 220px;
    transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
    border: 1px solid;
    margin-bottom: 9px;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.content-img{
    box-sizing: border-box;
    margin: 0px;
    display: block;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 33.3333%;
}

.Gallery{
    display: block;
    height: 234px;
}

.Overlay{
    position: relative;
}

.HeroImage{
    height: 182px;
    width: 100%;
    font-family: "object-fit:cover";
    object-fit: cover;
    vertical-align: middle;
    border: 0;
}

.Overlay-topleft{
    margin: 10px -5px;
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
}

.topleft-box{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 2px 6px;
    border-radius: 2px;
    color: rgb(249, 249, 250);
    background: rgb(55, 125, 66);
}

.Gallery-Thumbnail{
    width: calc(25% - 1px);
    height: 40px;
    margin-right: -3px;
    margin-top: 1px;
    display: inline-block;
}

.Thumbnail-Image{
    width: 100%;
    height: 100%;
    max-height: 40px;
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
}

/* see all */

.overlay-seeall{
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.seeall-container{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.seeall-text{
    color: #fff;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: normal;
    line-height: 1.1;
}

/* ======== */

/* ========text========= */
.content-text{
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #dddfe2;
    box-sizing: border-box;
    margin: 0px;
    display: block;
    flex-basis: 41.6667%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 41.6667%;
}

.text-box{
    padding: 8px 12px;
}

.box-info{
    margin-bottom: 8px;
}

.box-con{
    margin-bottom: 12px;
    margin: 9px 0 0;
    color: #fff;
    display: block;
}

.hotel-name{
    color: #000;
    cursor: pointer;
    display: inline;
    font-size: 1.6rem;
    line-height: 1;
    margin-block-start: 0;
    margin-block-end: 0;
    text-decoration: none;
    word-wrap: break-word;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
}

.box-location{
    display: block;
}

.Address-Container{
    color: #0283df;
    font-size: 1.2rem;
    font-weight: 700;
}

.Address-Icon{
    color: #5392f9;
    margin-right: 3px;
    margin-bottom: 2px;
    font-family: icons;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.box-sv{
    box-sizing: border-box;
    display: block;
}

.Pills{
    margin-bottom: 4px;
    opacity: 1;
    transition: all .3s linear;
    margin-top: 0;
    list-style: none;
    outline: 0;
    padding: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Pills-outlined{
    margin-left: 0;
    margin-right: 3px;
    color: #28871c;
    border-color: #28871c;
    height: 20px;
    font-size: 12px;
    padding: 3px 7px;
    max-width: 320px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
    background: transparent;
    display: inline-block;
    line-height: 1;
    font-weight: 700;
    border: 1px solid;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
}

.box-con{
    margin-bottom: 12px;
    margin: 9px 0 0;
    color: #ff5a5a;
    display: block;
    box-sizing: border-box;
}

.content-info{
    box-sizing: border-box;
    margin: 0px;
    display: block;
    flex-basis: 25%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 25%;
    text-align: right;
}

.content-info .box-info{
    padding: 8px;
    height: 100%;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    box-sizing: border-box;
}

.box-review .Review-Container .Review{
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: -2px;
    width: calc(100% + 4px);
}

.Review .text{
    padding: 8px 0px 0px;
    flex-direction: column;
    align-self: flex-start;
    display: flex;
    box-sizing: border-box;
}

.Review .stars{
    margin-top: 8px;
    padding: 0px;
    align-self: flex-start;
    display: flex;
    box-sizing: border-box;
}

.Review .review-evaluate{
    font-family: kite-mallory, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    display: block;
    color: rgb(42, 42, 46);
}

.Review .review-count{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    display: block;
    color: rgb(112, 112, 112);
}

.Review .star-number{
    margin-right: 0px;
    margin-left: 8px;
    width: 32px;
    height: 32px;
    position: relative;
    order: 1;
    display: flex;
}

.Review .star-number i{
    transform: none;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 2em;
    color: #fdbd4a;
}

.Review .star-number div{
    width: inherit;
    height: inherit;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: inherit;
    color: rgb(255, 255, 255);
}

.Review .star-number p{
    font-size: 15px;
    line-height: 14px;
    font-weight: 400;
    margin: 0px;
}

.box-room{
    width: 100%;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    color: #fff;
}

.box-room ul{
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    outline: 0;
    padding: 0;
}

.box-room li{
    float: none;
    text-align: right;
    margin-right: 0;
    margin-top: 4px;
}

.box-room .available{
    padding: 4px 8px;
    border-radius: 2px;
    width: 100%;
    background-color: rgb(225, 45, 45);
    color: rgb(255, 255, 255);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.box-room .available p{
    font-family: kite-mallory, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    margin: 0px;
}
.box-room .check-out{
    padding: 4px 8px;
    border-radius: 2px;
    width: 100%;
    background-color: rgb(249, 216, 216);
    color: rgb(180, 36, 36);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.box-room .check-out .icon{
    display: flex;
    margin-right: 4px;
}
.box-room .check-out p{
    font-family: kite-mallory, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    margin: 0px;
}

.box-price{
    max-width: 100%;
}

.box-price .price{
    text-align: right;
    color: #fff;
    display: block;
}

.box-price .price ul{
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    outline: 0;
    padding: 0;
}

.box-price .price li{
    margin: 4px 0 0;
    line-height: 0;
}

.box-price .price .final-price{
    direction: ltr;
    display: inline-block;

}
.box-price .price .final-price .cost{
    color: #e12d2d;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
}
.box-price .price .final-price .currency{
    color: #737373;
    font-size: 22px;
    line-height: 22px;
}


.box-booking{
    margin-top: 8px;
    margin-bottom: 8px;
}

.box-booking .booking-bnt{
    position: relative;
    border: none;
    user-select: none;
    padding: 12px;
    border-radius: 4px;
    background-color: rgb(62, 108, 234);
    color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 1px;
    transition: all 0.15s ease-in-out 0s;
    cursor: pointer;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
}

.box-booking .booking-bnt div{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.box-booking .booking-bnt .box-text{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}
.box-booking .booking-bnt .box-text span{
    font-family: kite-mallory, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-right: 8px;
    margin-left: 0px;
}
.box-booking .booking-bnt .box-text div{
    display: flex;
}

.box-booking .booking-bnt .box-text div i{
    overflow: hidden;
    font-size: 16px;
    width: 1em;
    height: 1em;
}


/* =============== */
.content-info{
    box-sizing: border-box;
    margin: 0px;
    display: block;
    flex-basis: 25%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 25%;
}