* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.01);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  html {
    scroll-behavior: smooth;
    font-family: mallory,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  body {
    font-size: 16px;
    line-height: 1;
   }
  input,
  button,
  textarea,
  select {
    font-size: 14px;
    outline: none;
    border: 0;
    box-sizing: border-box;
  }
  
  input {
    line-height: normal;
  }
  input[type="file"] {
    display: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  ul,
  li {
    list-style-type: none;
  }
/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}.body.error{
    width: 100%;
    height: auto;
}
.img-error{
    width: 100%;
    height: 747px;
    position: absolute;
    z-index: -1;
}
.all-error-message{
    height: auto;
    border: 1px solid white;
}
.error-message{
    z-index: 1;
    text-align: center;
    margin-top: 480px;
    width: 600px;
    margin-left: 450px;
}
.back_to_home{
    width: 100%;
    height: auto;
    border: 1px solid white;
    border-bottom: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.all_go_home{
    margin-top: 50px;
    border: 1px solid #5CE1E6;
    background-color: #5CE1E6;
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow:
    0 0 10px 4px #696969;
}
.all_go_home:hover{
    cursor: pointer;
    margin-top: 45px;
    margin-left: 5px;
    box-shadow:
    0 0 10px 4px #585858;
}
.go_home{
    text-align: center;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
}
.a-go-home{
    width: 100%;
    height: 100%;
    z-index: 1;
    /* border: 1px solid red; */
}
.p-error{
  text-align: left;
  margin-left: 65px;
}