.about-page {
  padding: 0 200px;
}

.about-page h1 {
  margin-top: 50px;
}

.about-content .about-items {
  font-size: large;
}

.about-contents {
  margin-left: 100px;
  width: 35%;
}

.about-content .about-items li {
  margin-bottom: 10px;
  color: rgb(67, 67, 224);
}

.about-content .about-items li:hover {
  color: rgb(106, 185, 255);
}

.about-content .about-items .terms-items {
  margin-left: 35px;
  font-size: medium;
}

.about-content h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.about-content p {
  margin-bottom: 5px;
  text-align: justify;
}

.column {
  float: left;
  width: 33.33%;
  margin-bottom: 16px;
  padding: 0 40px;
}
  
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.card img {
  height: 350px;
}

.card p {
  padding-top: 8px;
  font-size: smaller;
}

.card h2 {
  padding-top: 10px;
  font-size: medium;
}
  
.about-section {
  font-size: x-large;
  padding: 40px;
  text-align: center;
  background-color: #889eff;
  color: white;
  margin-bottom: 20px;
}
  
.container {
  padding: 0 16px;
}
  
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
  
.title {
  color: grey;
}
  
  .button {
  border-radius: 10px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(85, 102, 255);
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}
  
.button:hover {
  background-color: rgb(157, 199, 255);
}

.about-content h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.about-contact {
  display: grid;
  grid-template-columns: repeat(2,auto);
}

.about-contact li {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.about-contact li i {
  margin-left: 25px;
  margin-right: 20px;
}

.about-contact li div p {
  margin-top: 10px;
}

