* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(117, 12, 12, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(43, 0, 0, 0.11);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 0, 0.1);
}
html {
  scroll-behavior: smooth;
  font-family: mallory,Helvetica Neue,Helvetica,Arial,sans-serif;
}
body {
  font-size: 16px;
  line-height: 1;
 }
input,
button,
textarea,
select {
  font-size: 14px;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
}

input {
  line-height: normal;
}
input[type="file"] {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}



