@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");

.details {
    padding: 0 200px;
    margin-top: 30px;
    position: relative;
}

.details-photo {
    height: 310px;
    /* overflow: hidden; */
}

.hotel-photo {
    display: flex;
}

    .hotel-photo .main-photo:hover #overlay {
        display: block;
    }

    .hotel-photo .img-level:hover #overlay {
        display: block;
    }

#overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    cursor: pointer;
}

.main-photo {
    width: 500px;
    margin-right: 8px;
    position: relative;
}

    .main-photo img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        min-width: 500px;
        height: 100%;
        max-height: 300px;
        border-radius: 5px;
    }

.level-photo {
    width: 300px;
}

.level-photo {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 8px;
}

    .level-photo img {
        width: 305px;
        height: 145px;
        border-radius: 5px;
    }

.see-all {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 22px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px;
}

    .see-all:hover {
        cursor: pointer;
    }

    .see-all p {
        margin: 0;
        font-size: 12px;
        margin-left: 8px;
    }

.img-level {
    position: relative;
}

img {
    vertical-align: middle;
}

.photos-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #222;
    border-radius: 5px;
    padding-top: 50px;
}

.mySlides {
    display: none;
}

    .mySlides .rating img {
        height: 100px;
    }

    .mySlides .comment-left-item progress {
        width: 210px;
    }

    .mySlides .comment-point {
        background-color: #ffffff;
        width: 380px;
        padding-top: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

mySlides {
    display: none;
}

.myRoomSlides .rating img {
    height: 100px;
}

.myRoomSlides .comment-left-item progress {
    width: 210px;
}

.myRoomSlides .comment-point {
    background-color: #ffffff;
    width: 380px;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.exit-slide-show {
    position: absolute;
    top: 20px;
    right: 20px;
}

    .exit-slide-show:hover {
        cursor: pointer;
    }

.exit-room-slide-show {
    position: absolute;
    top: 20px;
    right: 20px;
}

    .exit-room-slide-show:hover {
        cursor: pointer;
    }

.mySlides .comment-point .comment-left-item {
    margin-bottom: 30px;
}

.mySlides img {
    width: 100%;
    height: 450px;
}

.myRoomSlides .comment-point .comment-left-item {
    margin-bottom: 30px;
}

.myRoomSlides img {
    width: 100%;
    height: 450px;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 290px;
    border-radius: 3px 0 0 3px;
}

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 70px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.photos-row:after {
    content: "";
    display: table;
    clear: both;
}

.photos-column {
    float: left;
    width: 20%;
}

.demo {
    opacity: 0.6;
    height: 150px;
}

    .active,
    .demo:hover {
        opacity: 1;
    }

.demoRoom {
    opacity: 0.6;
    height: 150px;
}

    .active,
    .demoRoom:hover {
        opacity: 1;
    }

.show-photos {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 11;
    transition: 1s;
    background-color: #080808;
}

.show-room-photos {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 11;
    transition: 1s;
    background-color: #080808;
}

.details-hotel-nav {
    height: 53px;
    padding: 7px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dddfe2;
    border-radius: 3px;
}

.hotel-nav-list a {
    padding: 13px 10px;
    margin-right: 10px;
}

    .hotel-nav-list a:hover {
        border-bottom: 4px solid #488bf8;
        color: #488bf8;
    }

.hotel-nav-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

    .hotel-nav-price .hotel-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

        .hotel-nav-price .hotel-price p {
            font-size: 10px;
            margin-right: 5px;
        }

.hotel-price p:nth-last-child(2) {
    color: #e12d2d;
    text-decoration: underline;
    font-size: 14px;
}

.hotel-nav-price .hotel-price span {
    font-size: 22px;
    color: #e12d2d;
}

.hotel-nav-price .hotel-view-price a {
    padding: 8px;
    height: 32px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    background-color: #488bf8;
    margin-left: 10px;
    color: #ffffff;
    font-weight: bold;
}

.details-hotel-information {
    display: flex;
    text-align: center;
    margin-top: 20px;
}

.details-hotel-info-left {
    flex-grow: 1;
    margin-right: 20px;
}

.hotel-infor {
    padding: 15px 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
}

.hotel-name-star {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.hotel-star {
    color: #ffa726;
    margin-left: 20px;
}

.hotel-address {
    display: flex;
    align-items: center;
    align-content: center;
}

    .hotel-address:hover {
        text-decoration: underline;
    }

    .hotel-address .line {
        margin: 0 10px;
    }

    .hotel-address span {
        color: #488bf8;
        cursor: pointer;
    }

.hotel-facilities {
    width: 100%;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    padding: 20px;
    margin-top: 10px;
}

.hotel-facilities-header {
    text-align: start;
    margin-bottom: 15px;
}

.hotel-facilities-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 8px;
}

.facilities-list-item {
    display: flex;
    text-align: center;
}

    .facilities-list-item i {
        margin-right: 10px;
        color: #32a923;
    }

.hotel-weather-covid {
    display: flex;
    text-align: center;
    margin-top: 20px;
    justify-content: space-between;
    /* background-color: #488bf8; */
}

.hotel-weather {
    width: 400px;
    height: 200px;
    margin-right: 20px;
}

.container-weather-covid {
    border-radius: 25px;
    color: #ffffff;
    height: 100%;
}

.weather-side {
    position: relative;
    height: 100%;
    border-radius: 5px;
    width: 100%;
}

.weather-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
    border-radius: 5px;
    opacity: 0.8;
}

.date-container {
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 16px;
}

.date-dayname {
    margin-bottom: 10px;
}

.date-container .location::first-letter {
    text-transform: capitalize !important;
}

.weather-container {
    position: absolute;
    top: 0;
    left: 0;
}

.weather-temp-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 25px;
}

.weather-other-container {
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 15px;
}

    .weather-other-container div {
        display: flex;
        align-items: center;
        text-align: start;
    }

        .weather-other-container div i {
            margin-right: 5px;
            width: 30px;
        }

        .weather-other-container div p {
            margin-right: 5px;
        }

.hotel-covid {
    width: 400px;
    height: 200px;
}

.covid-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(135deg, #e42908 10%, #dd0c1e 100%);
    /* background-image: url("https://vinmec-prod.s3.amazonaws.com/images/20200503_015421_962695_coronavirus-158625632.max-800x800.jpg"); */
    border-radius: 5px;
    opacity: 0.8;
}

.hotel-covid .date-container {
    left: 10px;
    right: inherit;
}

.covid-info {
    position: absolute;
    right: 36px;
    top: 36px;
}

.covid-info-item {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

    .covid-info-item span {
        margin-right: 20px;
        width: 70px;
        text-align: start;
    }

.covid-img {
    position: absolute;
    left: 55px;
    bottom: 25px;
}

    .covid-img img {
        width: 70px;
    }

.details-hotel-info-right {
    /* padding: 5px; */
}

.details-hotel-info-rw {
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 1.3;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    margin-bottom: 10px;
}

.rating-status h3 {
    font-weight: bold;
    font-size: 25px;
}

.rating-count {
    display: flex;
    font-size: 13px;
    text-align: center;
    align-items: center;
}

    .rating-count span {
        margin-right: 3px;
    }

    .rating-count p {
        margin-right: 3px;
    }

    .rating-count i {
        color: #32a923;
    }

.rating {
    width: 100px;
    position: relative;
}

    .rating img {
        width: inherit;
    }

    .rating .poin {
        width: 20px;
        position: absolute;
        left: 39%;
        top: 43%;
        font-weight: bold;
        font-size: 18px;
        color: #ffffff;
    }

.details-hotel-info-map {
    overflow: hidden;
    position: relative;
}

    .details-hotel-info-map img {
        width: 100%;
        height: 310px;
        transition: transform 1s;
    }

        .details-hotel-info-map img:hover {
            transform: scale(1.5);
        }

    .details-hotel-info-map span {
        position: absolute;
        left: 33%;
        bottom: 36px;
        font-size: 25px;
    }

.details-hotel-room {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hotel-room-item {
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    margin-bottom: 10px;
}

.room-header {
    width: 100%;
    margin-bottom: 20px;
}

.room-details {
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    display: flex;
    text-align: center;
}

.room-details-left {
    width: 220px;
}

.room-img .room-main-img img {
    width: 100%;
    height: 120px;
    margin-bottom: 3px;
}

.room-img .room-level-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .room-img .room-level-img img {
        width: 49.5%;
        height: 60px;
    }

.room-list-item1 {
    width: 320px;
}

.room-list-item2 {
    width: 80px;
}

.room-list-item3 {
    width: 180px;
}

.room-list-item4 {
    width: 80px;
}

.room-list-item5 {
    width: 170px;
}

.room-details-right {
    padding: 10px;
}

.room-list-header {
    display: flex;
    text-align: start;
    align-items: center;
    margin-bottom: 10px;
}

.benefits {
    border: 1px solid #000000;
}

.benefits-header {
    background-color: #f79911;
    margin-bottom: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.room-list-table {
    display: flex;
    background-color: #ffffff;
}

.benefits-list {
    text-align: start;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

    .benefits-list span {
        margin-bottom: 10px;
    }

.benefits-list-item {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}

    .benefits-list-item i {
        margin-right: 5px;
        margin-top: 10px;
        color: #32a923;
        margin-bottom: 5px;
    }

.sleeps {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 3px;
    border: 1px solid #000000;
}

    .sleeps p {
        margin-top: 20px;
    }

.price {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 3px;
    border: 1px solid #000000;
}

.room-price {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

    .room-price p {
        font-size: 20px;
        margin-right: 3px;
    }

    .room-price span {
        color: #e12d2d;
        font-size: 30px;
    }

.rooms {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 3px;
    border: 1px solid #000000;
}

    .rooms span {
        padding: 10px;
        background-color: #dddfe2;
        height: 40px;
        width: 45px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: not-allowed;
        margin-top: 20px;
    }

.booked {
    display: flex;
    text-align: center;
    padding: 3px;
    border: 1px solid #000000;
    flex-direction: column;
}

    .booked a {
        font-size: 12px;
        font-weight: 550;
        line-height: 16px;
        padding: 10px 15px;
        margin-bottom: 10px;
    }

.reserve {
    background-color: #488bf8;
    color: #ffffff;
    margin-top: 20px;
}

.addtocart {
    border: 1px solid #488bf8;
    color: #488bf8;
}

.room-infor {
    margin-top: 20px;
}

    .room-infor div {
        display: flex;
        text-align: center;
        margin-bottom: 15px;
    }

        .room-infor div i {
            margin-right: 5px;
            width: 30px;
        }

.rating-main-item {
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 1.3;
    padding: 10px;
    margin-bottom: 10px;
}

.hotel-review-header .details-hotel-info-rw {
    justify-content: space-between;
}

.rating-item {
    margin-right: 20px;
    padding-right: 40px;
    text-align: center;
}

    .rating-item h2 {
        color: #488bf8;
        font-size: 35px;
        font-weight: 200;
    }

.comment-point-item-left {
    width: 250px;
}

    .comment-point-item-left div {
        margin-bottom: 10px;
    }

.list-comment-item {
    display: flex;
    border-top: 1px solid #dddfe2;
    padding: 30px 15px;
    justify-content: space-between;
}

.comment-point-header {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

    .comment-point-header h2 {
        margin-right: 10px;
    }

.comment-left-item {
    max-width: 200px;
}

    .comment-left-item .comment-point-info {
        display: flex;
        justify-content: space-between;
    }

    .comment-left-item progress {
        width: 200px;
    }

.comment-point-item-right {
    flex-grow: 1;
    background-color: #f5f5f5;
    height: 100%;
    min-height: 215px;
    margin-left: 30px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 15px 20px;
    position: relative;
}

.comment-user-name {
    font-size: 20px;
    font-weight: bold;
}

.comment-user-content {
    margin-top: 30px;
    font-size: 15px;
    line-height: 1.1;
}

.comment-date {
    display: flex;
    margin-top: 70px;
    padding-top: 10px;
    border-top: 1px solid #8d8e8f;
}

    .comment-date span {
        margin-right: 10px;
    }

    .comment-date p {
        margin-right: 5px;
    }

.edit-comment {
    position: absolute;
    top: 15px;
    right: 15px;
}

    .edit-comment i {
        color: #818181;
    }

.edit-comment-list {
    position: absolute;
    top: 20px;
    right: 0;
    border: 1px solid transparent;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 5px 5px #979797;
    -moz-box-shadow: 0 0 5px 5px #979797;
    box-shadow: 0 0 5px 5px #979797;
    padding: 5px;
    visibility: hidden;
}

.edit-comment:hover .edit-comment-list {
    visibility: visible;
    cursor: pointer;
}

.edit-comment-list p {
    padding: 5px;
}

    .edit-comment-list p:hover {
        background-color: #488bf8;
        color: #f2f2f2;
    }

.review-create {
    border: 1px solid #dddfe2;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.review-create-left {
    width: 222px;
    padding: 10px;
    /* border: 1px solid #000000; */
    margin-right: 30px;
}

    .review-create-left .create-left-item {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        border-radius: 3px;
        align-items: center;
    }

.choose-poin {
    position: relative;
}

    .choose-poin .rating {
        max-width: 50px;
    }

        .choose-poin .rating i {
            color: #ff2c00;
        }

        .choose-poin .rating .poin {
            top: 17px;
            left: 17px;
            color: #ffffff;
            font-size: 15px;
            cursor: pointer;
            text-align: center;
            width: 18px;
        }

.list-star {
    display: flex;
    position: absolute;
    align-items: center;
    top: -35px;
    left: -225px;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    padding: 5px;
}

    .list-star .rating .poin {
        top: 10px;
        left: 8px;
    }

.choose-poin:hover .list-star {
    visibility: visible;
}

.choose-poin .list-star .rating i {
    color: #fdbd4a;
}

.choose-poin .list-star .rating:hover i {
    color: #ff2c00;
}

.review-create-right {
    flex-grow: 1;
    padding: 20px;
}

    .review-create-right .comment-user-name {
        margin-bottom: 10px;
    }

    .review-create-right textarea {
        background-color: #ffffff;
        resize: none;
        width: 100%;
        height: 165px;
        border-radius: 5px;
        border: 1px solid #000000;
        padding: 5px;
    }

    .review-create-right .comment-user-content {
        margin: 0;
    }

.comment-user-submit {
    margin-top: 10px;
    text-align: end;
}

    .comment-user-submit button {
        background-color: #5151e5;
        color: #ffffff;
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 5px;
        cursor: pointer;
    }

.details-hotel-description {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddfe2;
    margin-top: 10px;
    line-height: 1.5;
}

    .details-hotel-description h3 {
        margin-bottom: 20px;
        font-size: 24px;
    }

.show-map {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 11;
    transition: 1s;
    background-color: #080808;
}

    .show-map .map {
        padding: 70px 10px;
        width: 100%;
        height: 100%;
    }

        .show-map .map #map {
            width: 100%;
            height: 100%;
        }

.exit-map {
    top: 20px;
    right: 40px;
    position: absolute;
    color: #ffffff;
    cursor: pointer;
}

.map {
    height: 100%;
    width: 100%;
}

.noifor {
    display: flex;
    justify-content: center;
    width: 100%;
}

.map-display {
    display: flex;
    align-items: center;
}

.map-display-left {
    padding: 2px 4px;
}

    .map-display-left img {
        width: 70px;
        height: 70px;
        
    }

.map-display-right {
    padding: 2px 4px;
}
    .map-display-right span {
        font-weight: bold;
    }
    .map-display-right .hotelPoint {
        display: flex;
        align-items: center;
    }

    .map-display-right .hotelStar {
        margin-left: 2px;
        display: flex;
        align-items: center;
       
        margin-right:3px;
    }
        .map-display-right .hotelStar i {
            width: 20px;
            color: #ffa726;
        }
