﻿@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" href="~/css/Home/homepage.css">
<link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet" />


<div class="main">
    <div class="home-header-circle">
        <div class="home-header">
            <div class="home-header-title">
                <h1>
                    Find your next accommodation <span>
                        <br>Find hotel deals, home stays and more...
                    </span><br>
                </h1>

            </div>

            <div class="search-box">
                <div class="container Search-Box-Container">
                    <div class="l-row">
                        <div class="Search-box">
                            <div class="Icon-Box">
                                <i class="fas fa-search"></i>
                            </div>
                            <input type="search" id="form1" class="search-text" placeholder="Input text..." />
                        </div>
                        <div class="check-In-box dropdown dropbtn">

                            <span>Arrival date</span>

                            <div class="date-homepage">
                                <input type="date" id="form2" class="search-date-two" placeholder="date">
                            </div>

                        </div>
                        <div class="check-Out-box dropdown dropbtn">

                            <span>  Departure date</span>

                            <div class="date-homepage-check-out">
                                <input type="date" id="form2" class="search-date-two" placeholder="date">
                            </div>
                        </div>

                        <div class="occupancy-box dropdown dropbtn" onclick="openForm()">
                            <div class="Icon-Box">
                                <i class="fas fa-users"></i>
                            </div>
                            <span class="occupancy-box-title">Room</span>
                            <div class="Icon-Box down-icon">
                                <i class="fas fa-chevron-down"></i>
                            </div>
                        </div>

                        <button type="button" class="Searchbox__searchButton" id="SearchBoxClick">Search</button>
                    </div>

                    @* <div class="form-popup" id="myForm">
                        <div class="form-container">
                        <h5>Room setting</h5>
                        <label for="room">Room type</label>
                        <select id="choice-room-mate">
                        <option value="1">Standard Room</option>
                        <option value="2"> Superior Room</option>
                        <option value="3">Deluxe Room</option>
                        <option value="4">Suite Room</option>
                        </select>
                        <label for="people">People</label>
                        </div>
                        <div class="form-container">
                        <div id="input_div" class="people-count">
                        <input type="button" value="-" id="moins" onclick="minus()">
                        <input type="text" size="25" value="1" id="count-people">
                        <input type="button" value="+" id="plus" onclick="plus()">
                        </div>
                        <button type="button" class="btn cancel" onclick="closeForm()">Done</button>
                        </div>
                        </div>*@

                </div>
            </div>
        </div>
    </div>
    <div class="home-dear">
        <div class="home-dear-all-slick-slider">
            <div class="home-dear-slider">
                <div class="home-dear-items">
                    <div class="home-dear-img">
                        <img src="~/test/BuiTanNguyen/HomePage/Images/slider1.png" alt="">
                    </div>
                </div>
                <div class="home-dear-items">
                    <div class="home-dear-img">
                        <img src="~/test/BuiTanNguyen/HomePage/Images/slider2.png" alt="">
                    </div>
                </div>
                <div class="home-dear-items">
                    <div class="home-dear-img">
                        <img src="~/test/BuiTanNguyen/HomePage/Images/slider3.png" alt="">
                    </div>
                </div>
                <div class="home-dear-items">
                    <div class="home-dear-img">
                        <img src="~/test/BuiTanNguyen/HomePage/Images/slider4.png" alt="">
                    </div>
                </div>
                <div class="home-dear-items">
                    <div class="home-dear-img">
                        <img src="~/test/BuiTanNguyen/HomePage/Images/slider2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="home-dear-location">
                <h3>The most attractive destinations</h3>


                <div class="home-dear-location-image">
                    @foreach (var item in ViewBag.GetCity)
                    {

                        <div class="location-image">
                            <a href="#"> <img src="@item.Img1" alt=""> </a>
                            <h4 class="location-image-title"> <a href="#" class="Address-Name">@item.City</a></h4>
                            <h6 class="location-image-quanlity"> <a href="#"> @item.NumberOfCity Location </a></h6>
                        </div>
                    }
                </div>


            </div>
        </div>
        <div class="home-dear-tabs">
            <div class="tabs">

                <button class="tablinks" onclick="openCity(event, '@ViewBag.topHotel[0].City')" id="defaultOpen">@ViewBag.topHotel[0].City</button>
                <button class="tablinks" onclick="openCity(event, '@ViewBag.topHotel[1].City')">@ViewBag.topHotel[1].City</button>
                <button class="tablinks" onclick="openCity(event, '@ViewBag.topHotel[2].City')">@ViewBag.topHotel[2].City</button>
                <button class="tablinks" onclick="openCity(event, '@ViewBag.topHotel[3].City')">@ViewBag.topHotel[3].City</button>
                <button class="tablinks" onclick="openCity(event, '@ViewBag.topHotel[4].City')">@ViewBag.topHotel[4].City</button>
            </div>
            @* @{
                List<TopHotel> listTopHotel = ViewBag.topHotel;

                }*@
            <div class="Home-top-hotel-all">
                <div class="hometabcontent " id="@ViewBag.topHotel[0].City">
                    @foreach (var item2 in @ViewBag.topHotel[0].HotelList)
                    {
                        <div class="home-top-hotel-item" id="@item2.HotelID">
                            <div class="top-hotel-img">
                                <a href="#"><img src="@item2.Img1" alt=""></a>
                                <div class="top-hotel-rating">
                                    <div class="top-hotel-rating-star">
                                        <i class="fas fa-star fa-3x"></i>
                                        <p>@item2.Point</p>
                                    </div>

                                </div>
                            </div>
                            <div class="top-hotel-drs">

                                <a href="#">
                                    @if (@item2.Description.Length < 100)
                                    {
                                        <span>
                                            @item2.Description
                                            <span id="dotsreed"> ...... </span>
                                        </span>
                                    }
                                    @if (@item2.Description.Length > 100)
                                    {
                                        <span>
                                            @item2.Description.Substring(0, 100)
                                            <span id="dotsreed"> ...... </span>
                                        </span>
                                    }
                                </a>
                                <a href="#">Read More</a>
                                <div class="top-hotel-drs-name-of-hotel">
                                    <span>@item2.Name</span>
                                </div>

                                <div class="top-hotel-star-
                                    adr">

                                    <div class="top-hotel-star">
                                        @for (var i = 0; i < @item2.Star; i++)
                                        {
                                            <i class="fad fa-star"></i>
                                        }


                                    </div>
                                    <div class="top-hotel-adr">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <p>@item2.Address</p>
                                    </div>
                                </div>
                                <div class="top-hotel-price">
                                    @for (var i = 0; i < @ViewBag.Room.Count; i++)
                                    {
                                        @if (@item2.HotelID == @ViewBag.Room[i].HotelID)
                                        {
                                            <h5>$: <span> @ViewBag.Room[i].Price</span></h5>
                                            break;
                                        }
                                        @if (i == @ViewBag.Room.Count - 1)
                                        {
                                             <h5>$: <span> 0</span></h5>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="hometabcontent " id="@ViewBag.topHotel[1].City">
                    @foreach (var item3 in @ViewBag.topHotel[1].HotelList)
                    {
                        <div class="home-top-hotel-item" id="@item3.HotelID">
                            <div class="top-hotel-img">
                                <img src="@item3.Img1" alt="">
                                <div class="top-hotel-rating">
                                    <div class="top-hotel-rating-star">
                                        <i class="fas fa-star fa-3x"></i>
                                        <p>@item3.Point</p>
                                    </div>

                                </div>
                            </div>
                            <div class="top-hotel-drs">
                                <a href="#">
                                    <span>
                                        @item3.Description.Substring(0, 100)
                                        <span id="dotsreed"> ...... </span>
                                    </span>
                                </a>
                                <a href="#">Read More</a>
                                <div class="top-hotel-drs-name-of-hotel">
                                    <span>@item3.Name</span>
                                </div>
                                <div class="top-hotel-s
                                tar-adr">
                                    <div class="top-hotel-star">
                                        @for (var i = 0; i < @item3.Star; i++)
                                        {
                                            <i class="fad fa-star"></i>
                                        }


                                    </div>
                                    <div class="top-hotel-adr">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <p>@item3.Address</p>
                                    </div>
                                </div>
                                <div class="top-hotel-price">
                                     @for (var i = 0; i < @ViewBag.Room.Count; i++)
                                    {
                                        @if (@item3.HotelID == @ViewBag.Room[i].HotelID)
                                        {
                                            <h5>$: <span> @ViewBag.Room[i].Price</span></h5>
                                            break;
                                        }
                                        @if (i == @ViewBag.Room.Count - 1)
                                        {
                                             <h5>$: <span> 0</span></h5>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="hometabcontent " id="@ViewBag.topHotel[2].City">
                    @foreach (var item4 in @ViewBag.topHotel[2].HotelList)
                    {

                        <div class="home-top-hotel-item" id="@item4.HotelID">
                            <div class="top-hotel-img">
                                <img src="@item4.Img1" alt="">
                                <div class="top-hotel-rating">
                                    <div class="top-hotel-rating-star">
                                        <i class="fas fa-star fa-3x"></i>
                                        <p>@item4.Point</p>
                                    </div>

                                </div>
                            </div>
                            <div class="top-hotel-drs">
                                <a href="#">
                                    <span>
                                        @item4.Description.Substring(0, 100)
                                        <span id="dotsreed"> ...... </span>
                                    </span>
                                </a>
                                <a href="#">Read More</a>
                                <div class="top-hotel-drs-name-of-hotel">
                                    <span>@item4.Name</span>
                                </div>
                                <div class="top-hotel-s
                                tar-adr">
                                    <div class="top-hotel-star">
                                        @for (var i = 0; i < @item4.Star; i++)
                                        {
                                            <i class="fad fa-star"></i>
                                        }


                                    </div>
                                    <div class="top-hotel-adr">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <p>@item4.Address</p>
                                    </div>
                                </div>
                                <div class="top-hotel-price">
                                    @for (var i = 0; i < @ViewBag.Room.Count; i++)
                                    {
                                        @if (@item4.HotelID == @ViewBag.Room[i].HotelID)
                                        {
                                            <h5>$: <span> @ViewBag.Room[i].Price</span></h5>
                                            break;
                                        }
                                        @if (i == @ViewBag.Room.Count - 1)
                                        {
                                             <h5>$: <span> 0</span></h5>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="hometabcontent " id="@ViewBag.topHotel[3].City">


                    @foreach (var item5 in @ViewBag.topHotel[3].HotelList)
                    {

                        <div class="home-top-hotel-item" id="@item5.HotelID">
                            <div class="top-hotel-img">
                                <img src="@item5.Img1" alt="">
                                <div class="top-hotel-rating">
                                    <div class="top-hotel-rating-star">
                                        <i class="fas fa-star fa-3x"></i>
                                        <p>@item5.Point</p>
                                    </div>

                                </div>
                            </div>
                            <div class="top-hotel-drs">
                                <a href="#">
                                    <span>
                                        @item5.Description.Substring(0, 100)
                                        <span id="dotsreed"> ...... </span>
                                    </span>
                                </a>
                                <a href="#">Read More</a>
                                <div class="top-hotel-drs-name-of-hotel">
                                    <span>@item5.Name</span>
                                </div>
                                <div class="top-hotel-s
                                tar-adr">
                                    <div class="top-hotel-star">
                                        @for (var i = 0; i < @item5.Star; i++)
                                        {
                                            <i class="fad fa-star"></i>
                                        }



                                    </div>
                                    <div class="top-hotel-adr">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <p>@item5.Address</p>
                                    </div>
                                </div>
                                <div class="top-hotel-price">
                                    @for (var i = 0; i < @ViewBag.Room.Count; i++)
                                    {
                                        @if (@item5.HotelID == @ViewBag.Room[i].HotelID)
                                        {
                                            <h5>$: <span> @ViewBag.Room[i].Price</span></h5>
                                            break;
                                        }
                                        @if (i == @ViewBag.Room.Count - 1)
                                        {
                                             <h5>$: <span> 0</span></h5>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="hometabcontent " id="@ViewBag.topHotel[4].City">


                    @foreach (var item5 in @ViewBag.topHotel[4].HotelList)
                    {

                        <div class="home-top-hotel-item" id="@item5.HotelID">
                            <div class="top-hotel-img">
                                <img src="@item5.Img1" alt="">
                                <div class="top-hotel-rating">
                                    <div class="top-hotel-rating-star">
                                        <i class="fas fa-star fa-3x"></i>
                                        <p>@item5.Point</p>
                                    </div>

                                </div>
                            </div>
                            <div class="top-hotel-drs">
                                <a href="#">
                                    <span>
                                        @item5.Description.Substring(0, 100)
                                        <span id="dotsreed"> ...... </span>
                                    </span>
                                </a>
                                <a href="#">Read More</a>
                                <div class="top-hotel-drs-name-of-hotel">
                                    <span>@item5.Name</span>
                                </div>
                                <div class="top-hotel-s
                                tar-adr">
                                    <div class="top-hotel-star">
                                        @for (var i = 0; i < @item5.Star; i++)
                                        {
                                            <i class="fad fa-star"></i>
                                        }



                                    </div>
                                    <div class="top-hotel-adr">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <p>@item5.Address</p>
                                    </div>
                                </div>
                                <div class="top-hotel-price">
                                     @for (var i = 0; i < @ViewBag.Room.Count; i++)
                                    {
                                        @if (@item5.HotelID == @ViewBag.Room[i].HotelID)
                                        {
                                            <h5>$: <span> @ViewBag.Room[i].Price</span></h5>
                                            break;
                                        }
                                        @if (i == @ViewBag.Room.Count - 1)
                                        {
                                             <h5>$: <span> 0</span></h5>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        @if (ViewBag.NameLocation != null && ViewBag.NameLocation.Count > 0)
        {

            <div class="home-dear-would-place">

                <h3>Famous destinations outside @ViewBag.location</h3>
                <div class="home-dear-would-image">
                    @foreach (var item in ViewBag.NameLocation)
                    {
                        <div class="would-image">
                            <a href="#"> <img src="@item.Img1" alt=""> </a>
                            <h4 class="would-image-title"> <a href="#">@item.Country</a></h4>
                            <h6 class="would-image-quanlity"> <a href="#"> @item.NumberOfCountry Location </a></h6>
                        </div>

                    }


                </div>
            </div>
        }
        @if (ViewBag.IsLoaction == null)
        {
            <div class="home-dear-box-popup" id="home-dear-box-popup-hide">
                <div class="home-dear-box-popup-elements">
                    <span>Do you want to increase your experience with HolaBooking ? Tell us your exact location</span>
                </div>
                <div class="home-dear-box-popup-elements-nutnhan-all">
                    <button class="home-dear-box-popup-elements-nutnhan" id="home-dear-box-popup-elements-one">Accept</button>
                    <button class="home-dear-box-popup-elements-nutnhan" id="home-dear-box-popup-elements-two" onclick="MyCloseButton()">Cancel</button>
                </div>
            </div>
        }

        <div class="form-popup" id="myForm">
            <div class="form-container">
                <h5>Room setting</h5>
                <label for="room">Room type</label>
                <select id="choice-room-mate">
                    <option value="5">All Room</option>
                    <option value="1">Standard Room</option>
                    <option value="2"> Superior Room</option>
                    <option value="3">Deluxe Room</option>
                    <option value="4">Suite Room</option>
                </select>
                <label for="people">People</label>
            </div>
            <div class="form-container">
                <div id="input_div" class="people-count">
                    <input type="button" value="-" id="moins" onclick="minus()">
                    <input type="text" size="25" value="1" id="count-people">
                    <input type="button" value="+" id="plus" onclick="plus()">
                </div>
                <button type="button" class="btn cancel" onclick="closeForm()">Done</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Home/Hometabs.js" async></script>
<script src="~/js/Home/Home.js" asp-append-version="true" async></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="~/js/Home/app.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

@*<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>*@
@*<script>
    function increment() {
    document.getElementById('demoInput').stepUp();
    }
    function decrement() {
    document.getElementById('demoInput').stepDown();
    }
    </script>*@




