 /* css của header search */


.dotsreed{

    display:none
}
.home-header-circle {
    width: 100%;
    height: 100%;
}

 .home-header-title {
     position: relative;
     background-color: #003580;
     width: 100%;
     height: 400px;
 }

 .home-header-title h1 {
     position: absolute;
     left: 208px;
     bottom: 70px;
     font-size: 48px;
     color: white;
 }

 .home-header-title span {
     font-size: 24px;
 }

.search-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 430px;
    width: 1120px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 11px 0px;
    background-color: #febb02;
    box-shadow: gray 0px 1px 3px 1px;
}

 .Search-Box-Container {
     height: 48px;
     padding: 0 5px;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
 }

 .search-text {
     width: 80%;
     height: 44px;
     line-height: 1.25;
     font-weight: 400;
     padding: 0;
     margin: 0;
     font-size: 16px;
     border: none;
     text-overflow: ellipsis;
     cursor: pointer;
     align-items: center;
 }

 .Search-Box-Container .Search-box {
     background-color: #fff;
     width: 361px;
     border-radius: 6px;
     margin: 0 3px;
     padding: 0 5px;
     height: 48px;
 }

 .Search-Box-Container .check-In-box {
     background-color: #fff;
     border-right-color: #90949c;
     border-right-style: solid;
     border-right-width: 1px;
     width: 177px;
     height: 48px;
     padding: 6px 25px;
     border-radius: 6px 0 0 6px;

 }
.date-homepage input{
    width:127px;
}

.Search-Box-Container .check-Out-box {
    background-color: #fff;
    width: 177px;
    height: 48px;
    padding: 6px 25px;
    border-radius: 0 6px 6px 0;
}
.date-homepage-check-out input{
    width:128px;
}

.Search-Box-Container .occupancy-box {
    height: 48px;
    padding: 0 5px;
    width: 240px;
    border-radius: 6px;
    margin: 0 3px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

 .Searchbox__searchButton {
     color: #fff;
     background-color: #5392f9;
     box-shadow: 0 4px 10px 0 rgb(0 0 0 / 15%);
     position: relative;
     overflow: hidden;
     width: 130px;
     border-radius: 3px;
     font-size: 14px;
     text-transform: uppercase;
     border: none;
     cursor: pointer;
 }

 .Searchbox__searchButton--active {
     z-index: 0;
 }

 .homepaSearch-Box-Container .Searchbox__searchButton {
     height: 48px;
     padding: 10px 0;

 }


.Icon-Box {
    color: #333;
    padding: 13px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-family: icons;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

 .search-date-one {
     display: inline-block;
 }
.search-date-two{
    display:inline-block;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

 /* -============Date========== */

 .dropbtn {
     display: inline-block;
     color: #000000;
     width: 130px;
     border: none;
     cursor: pointer;
 }

 div .check-In-box:hover, .check-Out-box:hover, .occupancy-box:hover, .dropdown:hover .dropbtn {
     background-color: #a7a7a7;
 }

 div.dropdown {
     display: inline-block;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }


 .dropdown-content a:hover {
     background-color: #f1f1f1;
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }

 /* =============Room================= */

 .down-icon {
     margin-left: 85px;
 }

 /* ===========///=========== */

 .container-ssr {
     padding-top: 24px;
     margin-top: 0;
     position: relative;
     width: 1100px;
     clear: both;
     margin: 0 auto;
 }

 .l-col-3 {
     width: 25%;
     padding-left: 16px;
 }

 .l-col-9 {
     width: 75%;
     padding-left: 16px;
 }

 .l-row {
     display: flex;
     margin-right: 5px;
     margin-left: -16px;
     justify-content: center;
 }

 .Searchbox__searchButton:hover {
     font-size: 20px;
     transition: all 0.2s linear;
 }

 .Searchbox__searchButton:focus {
     border: solid rgb(92, 23, 172) 3px;
 }
 /* code of nhat  */
.form-popup {
    display: none;
    position: absolute;
    left: 1078px;
    top: 490px;
    transform: translateX(-50%);
    border-radius: 4px;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 0 rgb(0 0 0/50%);
}
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px 10px 0px 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container select, .form-container select{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form-container .people-count{
      display: flex;
      justify-content: space-between;
  }
  
  .form-container input[type="text"]{
      margin: 5px 0 22px 0;
      width: 50%;
      background: #f1f1f1;
      position: relative;
      align-items: center;
      align-content: center;
      padding-left:38px;
  }
  
  .form-container input[type="button"]{
      margin: 5px 0 22px 0;
      font-size: 25px;
      width: 50px;
      height: 50px;
      background: #f1f1f1;
  }
  
  .form-container input[type="text"]:focus{
      background-color: #e4e4e4;
      outline: none;
  }
  
  .form-container input[type="button"]:hover{
      background-color: #e4e4e4;
  }
  
  .form-container input[type="button"]:active{
      background-color: #00b7ff;
  }
  
  /* When the inputs get focus, do something */
  .form-container select:hover, .form-container select:hover {
    background-color: rgb(207, 207, 207);
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: #5392f9;
    }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  










 /*code tiket*/
 .home-dear {
     margin-top:100px;
     width: 100%;
     height: auto;
 }
 .home-dear-slider {
     width: 100%;
     padding:0 100px;
 }

 .home-dear-img {
     height: 230px;
     z-index: 3;
 }

 .home-dear-img img {
     height: 100%;
     width: 100%;
     object-fit: cover;
     border-radius: 8px;
     line-height: 12px;
     box-shadow: #000000 0px 1px 3px 1px;
 }

 .slick-initialized .slick-slide {
     margin: 0px 14px;
 }

 .slick-arrowx {
     /* chinh sua button cua tiket  */
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     border: none;
     width: 30px;
     height: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 20px;
     line-height: 1;
     z-index: 5;
     border-radius: 100%;
     transition: all 0.2s linear;
 }

 .slick-arrowx:hover {
     background-color: white;
     font-size: 28px;
 }

 .slick-prevx {
     left: 100px;
 }

 .slick-nextx {
     right: 100px;

 }

 .slick-dots {
     /* thanh truot tiket*/
     position: absolute;
     left: 50%;
     transform: translate(-50%, 0);
     display: flex !important;
     align-items: center;
     justify-content: center;
     gap: 0 20px;
 }

 .slick-dots button {
     font-size: 0;
     border-radius: 100px;
     width: 12px;
     height: 12px;
     border: none;
     outline: none;
     background-color: #dde9fd;
     transition: all 0.2s linear;
 }

 .slick-dots .slick-active button {
     background-color: #2cccff;
 }






 /*cac dia diem du lich*/
 .home-dear-location {
     /*transform: translateX(-50%);*/
     width:100%;
     padding: 0 100px;
     margin-top:50px;

 }

 .home-dear-location-image {
     /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
     width: 100%;
     height: 100%;
     /* align-items: center; */
 }

 .location-image img {
     width: 125px;
     height: 125px;
     border-radius: 100%;
     margin:0 auto;
 }

 .location-image img:hover {
     width: 135px;
     height: 135px;
     border-radius: 100%;
     transition: all 0.2s ease-in;
     box-shadow: #000000 0px 2px 9px 2px;
 }

 .location-image {
     /* border: solid black; */
     width: 150px;
     height:200px;
 }

.slick-arrows {
    /* chinh sua button cua cac diem du lich  */
    position: absolute;
    top: 34%;
    transform: translateY(-50%);
    border: none;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 1;
    z-index: 5;
    border-radius: 100%;
    transition: all 0.2s linear;
    opacity: 0.5;
    cursor: pointer;
}

 .slick-nexts {
     right: 0;
 }

 .slick-prevs {
     left: 0;
 }

 .slick-arrows:hover {
     opacity: 1;
     background-color: white;
     font-size: 28px;
     width: 40px;
     height: 40px;
     border-radius: 100%;
     transition: all 0.2s linear;
 }

 .home-dear-location h3 {
     font-size: 24px;
     margin-bottom: 30px;
     text-align:center;
 }

 .location-image-title {
     position: relative;
     left: 4px;
     top: 10px;
     width:138px ;
     text-align:center;
    font-size:18px;

 }

.location-image-quanlity {
    margin-top: 15px;
    margin-left: -4px;
    color: gray;
    text-align:center;
}








 /*code tabs*/
 .home-dear-tabs {
     position: relative;
     width:100%;
     margin-top:60px;
     padding:0 100px;
     
 }

 .tabs {
     position: relative;
     width: 100%;
     height: 30px;
     font-size: 14px;
     display: flex;
     justify-content: center;
     /*code Muc Luc*/
     /*overflow: hidden;*/
     border: none;
     align-items:center;
     text-align: center;
     margin-bottom:10px;    
 }

 .tabs button {
       
     cursor: pointer;
     padding: 8px 16px;
     transition: 0.3s;
 }

 .tabs button:hover {
     background-color: #ddd;
 }

 .tabs button.active {
     background-color: #ccc;
 }










 .hometabcontent {
     display: grid;
     grid-template-columns: repeat(4, auto);
     grid-gap: 8px;
 }

 .home-top-hotel-item {
     min-width:100px;
     width: 100%;
     padding: 5px;
     cursor:pointer;

 }

 .home-top-hotel-item .top-hotel-img {
     position: relative;
     margin-bottom: 5px;
 }

 .home-top-hotel-item .top-hotel-img img {
     width: 100%;
     height: 180px;
 }

 .top-hotel-rating-star {
     position: absolute;
     /* code image*/
     top: 10px;
     right: 10px;
 }

 .top-hotel-rating-star i {
     color: #ffa726;
 }

 .top-hotel-rating-star p {
     position: absolute;
     top: 15px;
     right: 15px;
     color: white;
     font-size: 16px;
 }

 .top-hotel-drs>span {
     font-size: 14px;
     
 }

 .top-hotel-drs .top-hotel-star-adr {
     margin-top: 5px;
     margin-bottom: 10px;
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: space-between;
 }

 .top-hotel-drs .top-hotel-star i {
     color: #ffa726;
 }

 .top-hotel-drs .top-hotel-adr {
     display: flex;
     font-size: 13px;
 }

 .top-hotel-drs .top-hotel-adr i {
     margin-right: 5px;
 }

 .top-hotel-price {
     font-size: 25px;
     color: #e12d2d;
 }





 /* code cmt */
 .home-dear-cmt {
     position: relative;
     padding:0 100px;
     width: 100%;
     margin-top: 60px;
     
 }

 #home-dear-cmt-title {
     font-size: 25px;
     font-weight: 500;
     line-height: 28px;
     text-align:center;
 }

.hone-dear-cmt-elements {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 8px;
}

 .hone-dear-cmt-elements>div {
     margin: 10px;
 }

 .home-dear-cmt-item {
     border-left: 1px solid #adadad;
     border-right: 1px solid #adadad;
     border-top: 1px solid #adadad;
     border-bottom: solid 5px #5392f9;
     text-align: center;
     width: 100%;
     height: 289px;
 }

 #home-dear-cmt-item-name {
     color: #5392f9;
     font-size: 19px;
     font-weight: 700;
     line-height: 30px;
 }

 #home-dear-cmt-item-place {
     color: #737373;
     font-size: 16px;
     line-height: 23px;

 }

 #home-dear-cmt-item-drs {
     display: table-cell;
     font-size: 20px;
     font-weight: 700px;
     line-height: 26px;
 }

 .home-dear-cmt-item p {
     font-size: 16px;
     line-height: 23px;
     padding-top: 54px;
 }




 


 /* code would */
 .home-dear-would-place {
     position: relative;
     width:100%;
     padding:0 100px;
     margin-top:60px;
 }

 .home-dear-would-image {
     width: 100%;
     height: 100%;
 }

 .would-image img {
     width: 125px;
     height: 125px;
     border-radius: 100%;
     margin:0 auto;
 }

 .would-image img:hover {
     width: 135px;
     height: 135px;
     border-radius: 100%;
     transition: all 0.2s ease-in;
     box-shadow: #000000 0px 2px 9px 2px;
 }

 .would-image {
     /* border: solid black; */
     width: 150px;
     height:200px;
 }

.slick-arrowm {
    /* chinh sua button cua cac diem du lich  */
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    border: none;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 1;
    z-index: 5;
    border-radius: 100%;
    transition: all 0.2s linear;
    opacity: 0.5;
    cursor: pointer;
}

 .slick-nextm {
     right: 0;
 }

 .slick-prevm {
     left: 0;
 }

 .slick-arrowm:hover {
     opacity: 1;
     background-color: white;
     font-size: 28px;
     width: 40px;
     height: 40px;
     border-radius: 100%;
     transition: all 0.2s linear;
 }

 .home-dear-would-place h3 {
     font-size: 24px;
     text-align:center;
     margin-bottom: 30px;
 }

 .would-image-title {
     position: relative;
     left: -20px;
     top: 10px;
     text-align:center;
     font-size:18px;
     width:191px;
 }

 .would-image-quanlity {
     margin-top: 15px;
     margin-left: 35px;
     color: gray;
 }




 /* chinh sua popup */


 /* The popup form - hidden by default */
 .home-page-form-popup {
     display: none;
     position: absolute;
     left: 836px;
     top: 60px;
     transform: translateX(-50%);
     border: solid gray 1px;
     border-radius: 12px;
     z-index: inherit;
 }

 /* Add styles to the form container */
 .home-page-form-container {
     width: 250px;
     height: 250px;
     padding: 10px;
     background-color: white;
     border-radius: 12px;

 }

 /* Set a style for the submit/login button */
 .home-page-form-container .btn {
     background-color: #04AA6D;
     color: black;
     padding: 10px auto;
     border: none;
     cursor: pointer;
     width: 60px;
     height: 20px;
     margin-bottom: 10px;
     opacity: 0.8;
     z-index: 9;
 }

 /* Add a red background color to the cancel button */
 .home-page-form-container .cancel {
     background-color: #5392f9;
     border-radius: 8px;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     top: 85%;
     height: 30px;
     width: 200px;



 }

 /* Add some hover effects to buttons */
 .home-page-form-container .btn:hover, .open-button:hover {
     opacity: 1;
 }





 /* setting in popup */
 .home-page-up-down {
     align-items: center;
     margin-top: 10px;
     height: 100%;
     width: 100%;

 }

 .home-page-up-down p {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     font-size: 20px;
     font-weight: 700;
 }

 .home-page-number-cave {
     position: absolute;
     left: 50%;
     top: 60px;
     transform: translateX(-50%);
     /* border: solid black; */
     width: 100%;


 }

 .home-page-number-cave input {
     width: 120px;
     height: 26px;
     border: solid gray 0.01px;
     padding-left: 50px;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     border-radius: 3px;
 }


 #home-page-buton-low {
     height: 30px;
     width: 30px;
     border-radius: 3px;
     cursor: pointer;
     margin-left: 16px;
 }

 #home-page-buton-up {
     height: 30px;
     width: 30px;
     border-radius: 3px;
     cursor: pointer;
     margin-left: 150px;
 }

 #home-page-buton-up:hover {
     background: #dde9fd;
     transition: all 0.2s linear;
 }

 #home-page-buton-low:hover {
     background: #dde9fd;
     transition: all 0.2s linear;
 }

 #home-page-buton-up:active {
     background: #5392f9;
 }

 #home-page-buton-low:active {
     background: #5392f9;
 }

 .home-page-chose {
     top: 100px;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
    width: 100%;
    height: 100%;

 }
 .home-page-chose label{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 700;
 }  
 .home-page-chose select{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 26px;
    font-size: 16px;
    cursor: pointer;
 }
 .home-page-chose select:hover{
    background: #dde9fd;
    transition: all 0.2s linear;
 }
 .home-page-chose select:active{
    background: #5392f9;
 }


.home-dear-box-popup {
    position: fixed;
    bottom: 12px;
    background-color: white;
    border: solid #dddfe2 1px;
    box-shadow: gray 0px 1px 3px 1px;
    width: 370px;
    height: 260px;
    font-size: 20px;
    z-index: 100;
    display: flex;
    align-items:center;
    flex-direction:column;
}
.home-dear-box-popup-elements {
    width: 244px;
    height: 140px;
    text-align: center;
    line-height: 31px;
    margin-top:20px;
}
.home-dear-box-popup-elements-nutnhan {
    border: none;
    user-select: none;
    padding: 12px;
    border-radius: 4px;
    background-color: rgb(83, 146, 249);
    color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 1px;
    transition: all 0.15s ease-in-out 0s;
    margin-left:50px;
    width:100px;
}
.home-dear-box-popup-elements-nutnhan-all{
    margin-top:30px;
    padding-right:56px;
}

.top-hotel-drs-name-of-hotel{
    margin-top:8px;
    font-weight:500;
}

