﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "My Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permissionID = Context.Session.GetString("permissionID");
}

<link rel="stylesheet" href="~/css/MyAccount/MyBooking.css" />
<div class="acc-manager">
    <div class="acc-manager-left">
        <div class="manager-left-item activeMenu" id="booking">
            <i class="fas fa-clipboard-list fa-lg"></i>
            <span>My Booking</span>
        </div>

        <div class="manager-left-item" id="statistical">
            <i class="fab fa-elementor fa-lg"></i>
            <span>Statistical</span>
        </div>
        @if (permissionID == "1")
        {
            <div class="manager-left-item" id="accManager">
                <i class="fas fa-handshake-alt fa-lg"></i>
                <span>Account Manager</span>
            </div>
            <div class="manager-left-item" id="HotelManager">
                <i class="far fa-users fa-lg"></i>
                <span>Hotel Manager</span>
            </div>
        }
        @if (permissionID == "2")
        {
            <div class="manager-left-item" id="MyHotel">
               <i class="fas fa-hotel"></i>
                <span>My Hotel</span>
            </div>
        }

        <div class="manager-left-item" id="profile">
            <i class="far fa-user fa-lg"></i>
            <span>My Profile</span>
        </div>
    </div>
    <div class="acc-manager-right">
        <div class="manager-right-item my-booking">
            <!-- Upcoming -->
            <div class="booking-manager Upcoming activeBooking">
                <div class="booking-manager-nav">
                    <div class="booking-manager-status ">
                        <span class="activeMenuBooking">Upcoming</span>
                        <span>Completed</span>
                        <span>Cancelled</span>
                    </div>
                    <div class="booking-manager-sort">
                        <span>Sort by</span>
                        <span>Booking date</span>
                        <span>Check-in date</span>
                    </div>
                </div>
                <div class="booking-manager-list">
                    @if (@ViewBag.accHotels == null)
                    {
                        <div class="Error">
                            <div class="error-icon"><i class="fa fa-frown"></i></div>
                            <div class="error-text">No Booking here</div>
                        </div>
                    }
                    else
                    {
                        for (var i = 0; i < ViewBag.accHotels.Count; i++)
                        {
                            <div class="booking-manager-list-item">
                                <div class="booking-mn-img">
                                    <img src="@ViewBag.accRooms[i].Image1" alt="">
                                </div>
                                <div class="booking-mn-action">
                                    <div class="booking-mn-info">
                                        <span>@ViewBag.accHotels[i].Name</span>
                                        <div class="hotel-star">
                                            @for (var j = 0; j < @ViewBag.accHotels[i].Star; j++)
                                            {
                                                <i class="fad fa-star"></i>
                                            }
                                        </div>
                                        <p>@ViewBag.accHotels[i].Address @ViewBag.accHotels[i].District @ViewBag.accHotels[i].City @ViewBag.accHotels[i].Country</p>
                                        <div class="booking-mn-time">
                                            <div class="time-check-in mn-time-item">
                                                <span>Check in :</span>
                                                <p>@ViewBag.bookings[i].CheckIn</p>
                                            </div>
                                            <div class="time-check-in mn-time-item">
                                                <span>Check out :</span>
                                                <p>@ViewBag.bookings[i].CheckOut</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="booking-mn-payment">
                                        <div class="booking-mn-price">
                                            <span>$</span>
                                            <p>@ViewBag.accRooms[i].Price</p>
                                        </div>
                                        @*.....................new...........................*@
                                        <div class = "btn-cancel-payment">
                                            <div class="booking-mn-cancel">
                                                <button bookingID = "@ViewBag.bookings[i].BookingID">Cancel</button>
                                            </div>
                                            <div class="booking-mn-pay">
                                                <button hotelID="@ViewBag.accHotels[i].HotelID" roomID="@ViewBag.accRooms[i].RoomId" bookingID = "@ViewBag.bookings[i].BookingID">Payment</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
            <!-- Completed -->
            <div class="booking-manager Completed">
                <div class="booking-manager-nav">
                    <div class="booking-manager-status">
                        <span>Upcoming</span>
                        <span  class="activeMenuBooking">Completed</span>
                        <span>Cancelled</span>
                    </div>
                    <div class="booking-manager-sort">
                        <span>Sort by</span>
                        <span>Booking date</span>
                        <span>Check-in date</span>
                    </div>
                </div>
                <div class="booking-manager-list">
                    @if (@ViewBag.accHotels2 == null)
                    {
                        <div class="Error">
                            <div class="error-icon"><i class="fa fa-frown"></i></div>
                            <div class="error-text">No Booking here</div>
                        </div>
                    }
                    else
                    {
                        for (var i = 0; i < ViewBag.accHotels2.Count; i++)
                        {
                            <div class="booking-manager-list-item">
                                <div class="booking-mn-img">
                                    <img src="@ViewBag.bookings2[i].QRCode" alt="">
                                </div>
                                <div class="booking-mn-action">
                                    <div class="booking-mn-info">
                                        <span>@ViewBag.accHotels2[i].Name</span>
                                        <div class="hotel-star">
                                            @for (var j = 0; j < @ViewBag.accHotels2[i].Star; j++)
                                            {
                                                <i class="fad fa-star"></i>
                                            }
                                        </div>
                                        <p>@ViewBag.accHotels2[i].Address @ViewBag.accHotels2[i].District @ViewBag.accHotels2[i].City @ViewBag.accHotels2[i].Country</p>
                                        <div class="booking-mn-time">
                                            <div class="time-check-in mn-time-item">
                                                <span>Check in :</span>
                                                <p>@ViewBag.bookings2[i].CheckIn</p>
                                            </div>
                                            <div class="time-check-in mn-time-item">
                                                <span>Check out :</span>
                                                <p>@ViewBag.bookings2[i].CheckOut</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="booking-mn-payment">
                                        <div class="booking-mn-price">
                                            <span>$</span>
                                            <p>@ViewBag.accRooms2[i].Price</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
            <!-- Canelled -->
            <div class="booking-manager Canelled">
                <div class="booking-manager-nav">
                    <div class="booking-manager-status">
                        <span>Upcoming</span>
                        <span>Completed</span>
                        <span  class="activeMenuBooking">Cancelled</span>
                    </div>
                    <div class="booking-manager-sort">
                        <span>Sort by</span>
                        <span>Booking date</span>
                        <span>Check-in date</span>
                    </div>
                </div>
                <div class="booking-manager-list">
                    @if (@ViewBag.accHotels3 == null)
                    {
                        <div class="Error">
                            <div class="error-icon"><i class="fa fa-frown"></i></div>
                            <div class="error-text">No Booking here</div>
                        </div>
                    }
                    else
                    {
                        for (var i = 0; i < ViewBag.accHotels3.Count; i++)
                        {
                            <div class="booking-manager-list-item">
                                <div class="booking-mn-img">
                                    <img src="@ViewBag.accRooms3[i].Image1" alt="">
                                </div>
                                <div class="booking-mn-action">
                                    <div class="booking-mn-info">
                                        <span>@ViewBag.accHotels3[i].Name</span>
                                        <div class="hotel-star">
                                            @for (var j = 0; j < @ViewBag.accHotels3[i].Star; j++)
                                            {
                                                <i class="fad fa-star"></i>
                                            }
                                        </div>
                                        <p>@ViewBag.accHotels3[i].Address @ViewBag.accHotels3[i].District @ViewBag.accHotels3[i].City @ViewBag.accHotels3[i].Country</p>
                                        <div class="booking-mn-time">
                                            <div class="time-check-in mn-time-item">
                                                <span>Check in :</span>
                                                <p>@ViewBag.bookings3[i].CheckIn</p>
                                            </div>
                                            <div class="time-check-in mn-time-item">
                                                <span>Check out :</span>
                                                <p>@ViewBag.bookings3[i].CheckOut</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="booking-mn-payment">
                                        <div class="booking-mn-price">
                                            <span>$</span>
                                            <p>@ViewBag.accRooms3[i].Price</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/MyAccount/MyBooking.js"></script>
<script src="~/js/MyAccount/MyAccount.js"></script>
