﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "AllHotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permissionID = Context.Session.GetString("permissionID");
}

<link rel="stylesheet" href="~/css/MyAccount/AccountManager.css" />
<div class="acc-manager">
   <div class="acc-manager-left">
        <div class="manager-left-item" id="booking">
            <i class="fas fa-clipboard-list fa-lg"></i>
            <span>My Booking</span>
        </div>

        <div class="manager-left-item" id="statistical">
            <i class="fab fa-elementor fa-lg"></i>
            <span>Statistical</span>
        </div>
        @if (permissionID == "1")
        {
            <div class="manager-left-item" id="accManager">
                <i class="fas fa-handshake-alt fa-lg"></i>
                <span>Account Manager</span>
            </div>
            <div class="manager-left-item  activeMenu" id="HotelManager">
                <i class="far fa-users fa-lg"></i>
                <span>Hotel Manager</span>
            </div>
        }
        @if (permissionID == "2")
        {
            <div class="manager-left-item" id="MyHotel">
                <i class="far fa-user fa-lg"></i>
                <span>My Hotel</span>
            </div>
        }

        <div class="manager-left-item" id="profile">
            <i class="far fa-user fa-lg"></i>
            <span>My Profile</span>
        </div>
    </div>
    <div class="acc-manager-right">
        <div class="manager-right-item Customer-manager">
            <!--  -->
            <div class="manager-list-customer">
                <!-- title list -->
                <div class="manager-title-customer">
                    <div class="manager-in-title-customer">
                        <div class="title-customer">User Name</div>
                        <div class="title-customer">Full Name</div>
                        <div class="title-customer">Hotel Name</div>
                        <div class="title-customer-star">Star</div>
                        <div class="title-customer-status">Status</div>
                    </div>

                </div>
                <!-- List -->
                @foreach (var item in ViewBag.listhotel)
                {
                    <div class="manager-customer">
                        <div class="manager-in-customer">
                            @foreach (var item2 in ViewBag.users)
                            {
                                @if (item2.Id == item.AccountID)
                                {
                                    <div class="customer">@item2.UserName</div>
                                }
                            }
                            @foreach (var item2 in ViewBag.profiles)
                            {
                                @if (item2.AccountID == item.AccountID)
                                {
                                    <div class="customer">@item2.Lastname @item2.Firstname</div>
                                }
                            }
                            <div class="customer">@item.Name</div>
                            <div class="customer-star">@item.Star</div>

                            <div class="customer-btn"><button class="btn-disable viewHotelInfo" hotelid="@item.HotelID">View</button></div>
                            @*<div class="customer-btn"><button class="btn-disable viewHotelRoom" hotelid="@item.HotelID">View Room</button></div>*@
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/js/MyAccount/AllHotel.js"></script>
<script src="~/js/MyAccount/MyAccount.js"></script>

