﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "MyRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permissionID = Context.Session.GetString("permissionID");
}

<link rel="stylesheet" href="~/css/MyAccount/MyHotelandRoom.css" />
<div class="acc-manager">
    <div class="acc-manager-left">
        <div class="manager-left-item" id="booking">
            <i class="fas fa-clipboard-list fa-lg"></i>
            <span>My Booking</span>
        </div>

        <div class="manager-left-item" id="statistical">
            <i class="fab fa-elementor fa-lg"></i>
            <span>Statistical</span>
        </div>
        @if (permissionID == "1")
        {
            <div class="manager-left-item" id="accManager">
                <i class="fas fa-handshake-alt fa-lg"></i>
                <span>Account Manager</span>
            </div>
            <div class="manager-left-item" id="HotelManager">
                <i class="far fa-users fa-lg"></i>
                <span>Hotel Manager</span>
            </div>
        }
        @if (permissionID == "2")
        {
            <div class="manager-left-item  activeMenu" id="MyHotel">
             <i class="fas fa-hotel"></i>
                <span>My Hotel</span>
            </div>
        }

        <div class="manager-left-item" id="profile">
            <i class="far fa-user fa-lg"></i>
            <span>My Profile</span>
        </div>
    </div>
    <div class="acc-manager-right">
        <div class="manager-right-item room-view">
            <div class="manager-list-hotel-view">
                <!-- title list -->
                <div class="manager-title-hotel">
                    <div class="manager-in-title-hotel">
                        <div class="title-room-view">Room Type</div>
                        <div class="title-hotel-status-view">Status Button</div>
                    </div>

                </div>
                <!-- List -->
                @if (@ViewBag.ListRoom == null)
                {
                    <div class="Error">
                        <div class="error-icon"><i class="fa fa-frown"></i></div>
                        <div class="error-text">No Room here.</div>
                    </div>
                }
                else
                {
                    @foreach (var item in ViewBag.ListRoom)
                    {
                        <div class="manager-hotel">
                            <div class="manager-in-hotel">
                                <div class="room-name-view">@item.RooomType</div>
                                <div class="hotel-btn-view-status"><button HotelID="@ViewBag.HotelID" RoomID="@item.RoomId" class="btn-edit">Edit</button></div>

                                @* <div class="hotel-btn-view-status"><button class="btn-edit">View</button></div>*@
                                <div class="hotel-btn-view-status"><button HotelID="@ViewBag.HotelID" RoomID="@item.RoomId" class="btn-delete deteleRoom">Delete</button></div>
                            </div>

                        </div>
                    }
                }
                <div id="id01" class="modal">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                    <div class="modal-content">
                        <div class="container">
                            <h1>Delete Room</h1>
                            <p>Are you sure you want to delete your room?</p>

                            <div class="clearfix">
                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hotel-view-btn-add"></i><button class="btn-add" HotelID="@ViewBag.HotelID"><i class="fas fa-plus"></i>Add New Room</button></div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/MyAccount/MyAccount.js"></script>
<script src="~/js/MyAccount/MyRoom.js"></script>


