﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permissionID = Context.Session.GetString("permissionID");
}

<link rel="stylesheet" href="~/css/MyAccount/MyAccount.css" />
<div class="acc-manager">
    <div class="acc-manager-left">
        <div class="manager-left-item" id="booking">
            <i class="fas fa-clipboard-list fa-lg"></i>
            <span>My Booking</span>
        </div>

        <div class="manager-left-item" id="statistical">
            <i class="fab fa-elementor fa-lg"></i>
            <span>Statistical</span>
        </div>
        @if (permissionID == "1")
        {
            <div class="manager-left-item" id="accManager">
                <i class="fas fa-handshake-alt fa-lg"></i>
                <span>Account Manager</span>
            </div>
            <div class="manager-left-item" id="HotelManager">
                <i class="far fa-users fa-lg"></i>
                <span>Hotel Manager</span>
            </div>
        }
        @if (permissionID == "2")
        {
            <div class="manager-left-item" id="MyHotel">
              <i class="fas fa-hotel"></i>

                <span>My Hotel</span>
            </div>
        }

        <div class="manager-left-item  activeMenu" id="profile">
            <i class="far fa-user fa-lg"></i>
            <span>My Profile</span>
        </div>
    </div>
    <div class="acc-manager-right">
        <div class="manager-right-item my-profile ">
            <div class="profile">
                <h3>User details</h3>
                <div class="profile-item profile-name">
                    <div class="profile-name-avatar">
                        <div class="profile-img">
                           <label for="avatar"> <img src="@ViewBag.Profile.Avatar" id="avatarImg"alt=""></label>
                           <input type="file" id="avatar" accept="image/*"/>
                        </div>
                        <div class="profile-name">
                            <span>Name</span>
                            <p>@ViewBag.Profile.Firstname @ViewBag.Profile.Lastname</p>
                        </div>
                    </div>
                    <div class="profile-edit ">
                        <span class="userName">Edit</span>
                    </div>
                </div>
                <div class="profile-item profile-edit-infor">

                    <div class="profile-information">
                        <span>First Name</span>
                        <input type="text" id="firstName" value="@ViewBag.Profile.Firstname">
                    </div>
                    <div class="profile-information">
                        <span>Last Name</span>
                        <input type="text" id="lastName" value="@ViewBag.Profile.Lastname">
                    </div>
                    <div class="profile-information-save">
                        <button class="saveInformation">Save</button>
                        <button class="cancel cancelInfor">Cancel</button>
                    </div>
                </div>
                <div class="profile-item profile-mail">
                    <div class="profile-same-item">
                        <div class="profile-infor">
                            <span>Email</span>
                            <input type="text" value="@ViewBag.Profile.Email" disabled id="email">
                        </div>
                        <div class="profile-edit">
                            <span class="emailEdit">Edit</span>
                        </div>
                    </div>
                </div>
                <div class="profile-item profile-phone">
                    <div class="profile-same-item">
                        <div class="profile-infor">
                            <span>Phone</span>
                            <input type="text" value="@ViewBag.Profile.Phone" disabled id="phone">
                        </div>
                        <div class="profile-edit">
                            <span class="phone">Edit</span>
                        </div>
                    </div>
                </div>
                <div class="profile-item profile-pass">
                    <div class="profile-same-item">
                        <div class="profile-infor">
                            <span>Password</span>
                            <input type="password" value="@ViewBag.Account.Password" disabled id="pass">
                        </div>

                        <div class="profile-edit">
                            <span class="editPass">Edit</span>
                        </div>
                    </div>

                </div>
                <div class="profile-item profile-edit-pass">

                    <div class="profile-information">
                        <span>New Password</span>
                        <input type="password" id="newPassword" value="">
                    </div>
                    <div class="profile-information">
                        <span>Confirm password</span>
                        <input type="password" id="RePassword" value="">
                    </div>
                    <div class="profile-information-save">
                        <button id="savePass">Save</button>
                        <button class="cancel cancelPass">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="~/js/MyAccount/MyAccount.js"></script>
<script src="~/js/MyAccount/Profile.js"></script>