﻿@{
    ViewData["Title"] = "RoomSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/css/Partner/image-upload.css">
<link rel="stylesheet" href="~/css/Partner/room-setup.css">

<div style="display:none">
    <p class="roomID">@ViewBag.roomID</p>
    @foreach (var item in @ViewBag.Devices)
    {
        <p class="DeviceItem" id="@item.DeviceID">@item.DeviceName</p>
    }

    @foreach (var item in @ViewBag.Services)
    {
        <p class="ServiceItem" id="@item.ServiceId">@item.ServiceName</p>
        <p class="ASevID">@item.ServiceId</p>
        <p class="ASevName">@item.ServiceName</p>
        <p class="ASevPrice">@item.ServicePrice</p>
    }
    @foreach (var item in ViewBag.RoomTypes)
    {
        <p class="TypeBedName">@item.BedName</p>
        <p class="TypeSleep">@item.Sleep</p>
        <p class="TypeBed">@item.Bed</p>
    }
</div>
<div class="container">
    <div class="roomsetup-header">
        <span class="title">Room Settings</span>
        <div class="control-button">
            <button type="button" class="btn btn-success add-room-btn SaveRoom" id="@ViewBag.HotelID">Save changes</button>
            @*<button type="button" class="btn btn-warning add-room-btn">Add New Room</button>*@
        </div>
    </div>
    <div class="roomsetup-content">
        <div class="basic-info">
            <span class="title-setting">Basic Settings</span>
            <div class="content-setting">
                <div class="bag-div Country">
                    <div id="mrt-01" class="input-group-select mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Room Type</label>
                        <div class="step"></div>
                        <div class="selectSearch Room-Type-option">
                            <datalist id="TypeSuggestions">
                                @foreach (var item in ViewBag.RoomTypes)
                                {
                                    <option data-value="@item.RoomTypeID" class="TypeItem">@item.Name</option>
                                }
                            </datalist>
                            <input autoComplete="on" list="TypeSuggestions"
                                   placeholder="Choose Room Type......" class="RoomType" value="@ViewBag.roomInfo.RooomType" />
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3 ">
                    <div id="mrt-01" class="input-group-select mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Room Price                   </label>
                        <div class="step"></div>
                        <div class=" selectSearch">
                            <input type="number" class="RoomPrice" placeholder="USD.." value="@ViewBag.roomInfo.Price" />
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3 ">
                    <div id="mrt-01" class="input-group-select mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Room Size</label>
                        <div class="step"></div>
                        <div class=" selectSearch">
                            <input type="number" class="RoomSize" placeholder="Meter.." value="@ViewBag.roomInfo.RoomSize" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basic-info">
            <span class="title-setting">Occupancy Settings</span>
            <div class="content-setting">
                <div class="input-group mb-3">
                    <div id="mrt-01" class="input-group-select mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Bed Name</label>
                        <div class="step"></div>
                        <div class=" selectSearch">
                            <input autoComplete="on" class="BedName" value="@ViewBag.roomInfo.BedName" disabled />
                        </div>
                    </div>
                </div>
                <div class="bag-div">
                    <div class="input-group-select mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Persons</label>
                        <div class="step"></div>
                        <div class=" selectSearch">
                            <datalist id="PersonsSuggestions">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </datalist>
                            <input autoComplete="on" list="PersonsSuggestions" placeholder="Choose Amount of people......"
                                   class="Persons" value="@ViewBag.roomInfo.Sleep" disabled />
                        </div>
                    </div>
                </div>
                <div class="input-group-select mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Extra Beds</label>
                    <div class="step"></div>
                    <div class=" selectSearch">
                        <datalist id="BedSuggestions">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </datalist>
                        <input autoComplete="on" list="BedSuggestions" placeholder="Choose Extra Beds......"
                               class="ExtraBeds" value="@ViewBag.roomInfo.Bed" disabled />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="basic-info">
        <span class="title-setting">Content</span>
        <div class="content-setting">
            <div class="mb-3 room-image-title">
                <span class="input-group-text" id="inputGroup-sizing-default">Room Image</span>
                <div id="myform" class="room-image-setting">
                    <div class="yes">
                        <span class="btn_upload">
                            <input type="file" id="imag" title="" class="input-img" />
                            <label for="imag">
                                <img id="ImgPreview" src="@ViewBag.roomInfo.Image1"
                                     class="preview1" />
                            </label>
                        </span>
                    </div>
                    <div class="yes">
                        <span class="btn_upload">
                            <input type="file" id="imag2" title="" class="input-img" />
                            <label for="imag2">
                                <img id="ImgPreview2" src="@ViewBag.roomInfo.Image2"
                                     class="preview2" />
                            </label>
                        </span>
                    </div>
                    <div class="yes">
                        <span class="btn_upload">
                            <input type="file" id="imag3" title="" class="input-img" />
                            <label for="imag3">
                                <img id="ImgPreview3" src="@ViewBag.roomInfo.Image3"
                                     class="preview3" />
                            </label>
                        </span>
                    </div>
                    <div class="yes">
                        <span class="btn_upload">
                            <input type="file" id="imag4" title="" class="input-img" />
                            <label for="imag4">
                                <img id="ImgPreview4" src="@ViewBag.roomInfo.Image4"
                                     class="preview4" />
                            </label>
                        </span>
                    </div>
                    <div class="yes">
                        <span class="btn_upload">
                            <input type="file" id="imag5" title="" class="input-img" />
                            <label for="imag5">
                                <img id="ImgPreview5" src="@ViewBag.roomInfo.Image5"
                                     class="preview5" />
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="basic-info">
        <span class="title-setting">Choose device for your room</span>
        <div class="title-enter-add">Please click the button below to add device to your room!</div>
        <div id="content-setting-service-device" class="packaging">
            @if (ViewBag.allDevice != null)
            {
                @foreach (var item in ViewBag.allDevice)
                {
                    <div class="content-setting-addnew">
                        <div class="content-setting-addnew">
                            <div class=" selectSearch">
                                <datalist id="DeviceName">
                                    @foreach (var item2 in @ViewBag.Devices)
                                    {
                                        <option data-value="@item2.DeviceID" value="@item2.DeviceName" />
                                    }
                                </datalist>
                                <input autoComplete="on" list="DeviceName" placeholder="Choose Device......" class="DeviceName" value="@item.DeviceName" />
                                <button class="remove-content">
                                    <i class="fal fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="packaging-all-btn">
            <div class="btn-p">
                <p class="btn-in-p">Add New Device</p>
            </div>
            <div class="packaging-btn">
                <button class="add-content" onclick="addnewContentDevice();">
                    <i class="far fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="basic-info">
        <span class="title-setting">
            Select the sevice for your room
        </span>
        <div class="title-enter-add">Please click the button below to add service to your room!</div>
        <div id="content-setting-service" class="packaging">
            @if (@ViewBag.allService != null)
            {
                @foreach (var item in @ViewBag.allService)
                {
                    <div class="content-setting-addnew">
                        <div class="content-setting-addnew">
                            <div class="selectSearch Service-Option">
                                <datalist id="ServiceName">
                                    @foreach (var item2 in @ViewBag.Services)
                                    {
                                        <option data-value="@item2.ServiceId" value="@item2.ServiceName" />
                                    }
                                </datalist>
                                <input autoComplete="on" list="ServiceName" placeholder="Choose Service......"
                               class="SeviceName" value="@item.ServiceName" />
                                <input type="number" class="ServicePrice" placeholder="Price USD.." value="@item.ServicePrice" disabled />
                                <label class="input-group-text" for="inputGroupSelect01">
                                    <select id="ServiceDefault">
                                        @if (item.ServiceDefault)
                                        {
                                            <option selected value="0">Default</option>
                                            <option value="1">Option</option>
                                        }
                                        else
                                        {
                                            <option value="0">Default</option>
                                            <option selected value="1">Option</option>
                                        }
                                    </select>
                                </label>
                                <button class="remove-content">
                                    <i class="fal fa-times"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="packaging-all-btn">
            <div class="btn-p">
                <p class="btn-in-p">Add New Services </p>
            </div>
            <div class="packaging-btn">
                <button class="add-content" onclick="addnewContentSevice();">
                    <i class="far fa-plus"></i>
                </button>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js" async></script>
    <script src="~/js/RoomSetup/add-content.js"></script>
    <script src="~/js/RoomSetup/image-upload.js"></script>
    <script src="~/js/MyAccount/EditRoom.js"></script>


