﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Statistical";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permissionID = Context.Session.GetString("permissionID");
}
<link rel="stylesheet" href="~/css/MyAccount/MyAccount.css" />

<div class="acc-manager">
    <div class="acc-manager-left">
        <div class="manager-left-item" id="booking">
            <i class="fas fa-clipboard-list fa-lg"></i>
            <span>My Booking</span>
        </div>

        <div class="manager-left-item  activeMenu" id="statistical">
            <i class="fab fa-elementor fa-lg"></i>
            <span>Statistical</span>
        </div>
        @if (permissionID == "1")
        {
            <div class="manager-left-item" id="accManager">
                <i class="fas fa-handshake-alt fa-lg"></i>
                <span>Account Manager</span>
            </div>
            <div class="manager-left-item" id="HotelManager">
                <i class="far fa-users fa-lg"></i>
                <span>Hotel Manager</span>
            </div>
        }
        @if (permissionID == "2")
        {
            <div class="manager-left-item" id="MyHotel">
               <i class="fas fa-hotel"></i>
                <span>My Hotel</span>
            </div>
        }

        <div class="manager-left-item" id="profile">
            <i class="far fa-user fa-lg"></i>
            <span>My Profile</span>
        </div>
    </div>
    <div class="acc-manager-right">

        <div class="manager-right-item" id="statisticalItem">
            <button class="statisticalBtn">Show Statistical</button>
        </div>

    </div>
</div>
<div class="chartDisplay">
    <div id="chart">
        <canvas id="myChart"></canvas>
    </div>
    <div class="exitChart">
        <i class="fal fa-times fa-2x"></i>
    </div>
</div>
<div class="InComming" style="display: none;">
    @foreach (var item in ViewBag.InComming)
    {

        <p id=@item></p>


    }
</div>
<div class="Complete" style="display: none;">
@foreach (var item in ViewBag.Complete)
{

    <p id=@item></p>
}
</div>
<div class="Cancel" style="display: none;">
    @foreach (var item in ViewBag.Cancel)
    {

        <p id=@item></p>

    }
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script src="~/js/MyAccount/MyAccount.js"></script>
<script src="~/js/MyAccount/Chart.js"></script>
<script src="~/js/MyAccount/Statistical.js"></script>
