/* .popup-toast{
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 2px;
	min-width: 400px;
	max-width: 450px;
	max-height: 50px;
	padding: 20px 0px;
	border-left: 4px solid;
	box-shadow: 0 5px 8px rgba(0,0,0,0.08);
	animation: msgInleft ease .5s, closemsg linear 1s 2s forwards;
}
@keyframes msgInleft{
	from{
		opacity: 0;
		transform: translateX(calc(100% + 25px));
	}
	to{
		opacity: 1;
		transform: translateX(0);

	}
}
@keyframes closemsg{
	to{
		opacity: 0;
	}
}
.toast-success{
	border-color: #47d864;
}
.toast-success .icon{
	color: #47d864;
}
.toast-error{
	border-color: #ff623d;
}
.toast-error .icon{
	color: #ff623d;
}
.popup-toast + .popup-toast{
	margin-top: 24px;
}
.icon{
	font-size: 24px;
}
.title-popup{
	font-size: 16px;
	font-weight: 600;
	color: #333;
}
.msg-popup{
	font-size: 14px;
	color: #888;
	margin-top: 6px;
	line-height: 1.5;
}
.body-popup{
	flex-grow: 1;
}
.icon, .close{
	padding: 0 16px;
}
.close{
	font-size: 20px;
	color: rgba(0,0,0,.3);
	cursor: pointer;
}
#all-popup{
	position: fixed;
	top: 25px;
	right: 25px;
} */
#toast{
	position: fixed;
	top: 25px;
	right: 25px;
	z-index: 3009;
}
.toast{
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 2px;
	min-width: 400px;
	max-width: 450px;
	max-height: 50px;
	padding: 20px 0px;
	border-left: 4px solid;
	box-shadow: 0 5px 8px rgba(0,0,0,0.08);
}
@keyframes msgInleft{
	from{
		opacity: 0;
		transform: translateX(calc(100% + 25px));
	}
	to{
		opacity: 1;
		transform: translateX(0);

	}
}
@keyframes closemsg{
	to{
		opacity: 0;
	}
}
.toast--success{
border-color: #47d864;
}
.toast--success .toast__icon{
 color: #47d864;
}

.toast--error{
	border-color: #ff632d;
}
.toast--error .toast__icon{
	color: #ff632d;
}
.toast--warning{
	border-color: #ffc021;
}
.toast--warning .toast__icon{
	color:  #ffc021;
}
.toast--info{
	border-color: #2f86eb;
}
.toast--info .toast__icon{
	color: #2f86eb; 
}
.toast + .toast {
	margin-top: 24px;
}
.toast__icon{
	font-size: 24px;
}
.toast__icon, .toast__close{
	padding: 0 16px;
}
.toast__body{
	flex-grow: 1;
}
.toast__title{
	font-size: 16px;
	font-weight: 600;
	color: #333;
}
.toast__msg{
	font-size: 14px;
	color: #888;
	margin-top: 6px;
	line-height: 1.5;
}
.toast__close{
	font-size: 20px;
	color: rgba(0,0,0,.3);
	cursor: pointer;
}
