*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.8rem;
	text-shadow: 2px 2px #00FF00;
}
.login-content h2.title_signUp{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.8rem;
	text-shadow: -3px -3px #00FF00;
}
.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #38d39f;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}
.checkbox{
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
#check{
	width: 20px;
	height: 20px;
}
.labelcheck{
	margin-left: 10px;
}
.create_forgot{
	display: flex;
}
.forgot{
	margin-left: 116px;
}
.google{
	text-align: center;
	margin: auto;
	margin-top: 50px;
    width: 120px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 6px rgba(0,0,0,.3);
    transition: all .35s;
  }
#gg{
	margin-top: 16px;
	font-size: 20px;
}
#sp{
	margin-top: 14px;
	font-size: 16px;
}
.google{
	background-color: #ea4335;
}

.google span{
	color: #ea4335;
}

.google:nth-child(2){
	margin: 0 10px;
}

.google span{
	font-size: 14px;
	position: absolute;
	background: #fff;
	top:0;
	left: 0;
	width: 150px;
	height: 100%;
	border-radius: 40px;
	align-items: center;
	justify-content: center;
	transform: translateX(100%);
	transition: all .35s;
}

.google:hover{
	width: 150px;
}

.google:hover span{
	transform: translateX(0);
}
/* *********************Popup-m*************************** */
/* .popup-arrow{
		content: "";
		position: absolute;
		top: -20px;
		left: 50%;
		margin-left: 40px;
		border-width: 10px;
		border-style: solid;
		border-color: transparent transparent #555 transparent;
}
.popup-all{
	position: absolute;
	top: 10px;
	right: 5px;
	display:block;
	border: 1px solid white;
	width: 150px;
	height: 140px;
	background-color:white;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
}
.fa-times{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}
.boder-check-popup{
	margin-left: 45px;
	height: 60px;
	width: 60px;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 50%;
	border-left-color: #5cb85c;
	animation: boderanimation 1.2s linear infinite;
	z-index: -1;
}
@keyframes boderanimation {
	25%{
		border-left-color: #9b59b6;
	}
	50% {
		border-left-color: #99CC00;
	}
	75% {
		border-left-color: #e76e22;
	}
	100% {
		transform: rotate(360deg);
	}
}
.popup-contains-icon .fa-times{
	position: absolute;
	font-size: 30px;
	color: red;
	font-weight: bold;
	height: 80px;
	width: 80px;
	top: 40px;
	left: 35px;
	box-sizing: border-box;
	z-index: 1;
	animation: timeanimation 0.5s linear infinite;
}
@keyframes timeanimation {
	50% {
		color: red;
	}
	75% {
		color: #333;
		top: 38px;
	}
	100% {
		color: red;
	}
}
.fa-check{
	position: absolute;
	font-size: 30px;
	color: #00FF00;
	font-weight: bold;
	height: 80px;
	width: 80px;
	top: 40px;
	left: 35px;
	box-sizing: border-box;
	z-index: 1;
	animation: checkanimation 0.5s linear infinite;
}
@keyframes checkanimation {
	50% {
		color: #009966;
	}
	75% {
		color: #333;
		top: 38px;
	}
	100% {
		color: #009966;
	}
}
.popup-all .popup-p{
	margin: 20px 0 15px 0;
	font-size: 10px;
	box-shadow: none;
} */

/********************Phần Popup**********************/
#toast{
	position: fixed;
	top: 25px;
	right: 25px;
	z-index: 3009;
}
.toast{
	display: flex;
	align-items: center;
	text-align: left;
	background-color: #fff;
	border-radius: 2px;
	min-width: 400px;
	max-width: 450px;
	min-height: 50px;
	padding: 20px 0px;
	border-left: 4px solid;
	box-shadow: 0 5px 8px rgba(0,0,0,0.08);
}
@keyframes msgInleft{
	from{
		opacity: 0;
		transform: translateX(calc(100% + 25px));
	}
	to{
		opacity: 1;
		transform: translateX(0);

	}
}
@keyframes closemsg{
	to{
		opacity: 0;
	}
}
.toast--success{
border-color: #47d864;
}
.toast--success .toast__icon{
 color: #47d864;
}

.toast--error{
	border-color: #ff632d;
}
.toast--error .toast__icon{
	color: #ff632d;
}
.toast--warning{
	border-color: #ffc021;
}
.toast--warning .toast__icon{
	color:  #ffc021;
}
.toast--info{
	border-color: #2f86eb;
}
.toast--info .toast__icon{
	color: #2f86eb; 
}
.toast + .toast {
	margin-top: 24px;
}
.toast__icon{
	font-size: 24px;
}
.toast__icon, .toast__close{
	padding: 0 16px;
}
.toast__body{
	flex-grow: 1;
}
.toast__title{
	font-size: 16px;
	font-weight: 600;
	color: #333;
}
.toast__msg{
	font-size: 14px;
	color: #888;
	margin-top: 6px;
	line-height: 1.5;
}
.toast__close{
	font-size: 20px;
	color: rgba(0,0,0,.3);
	cursor: pointer;
}
