<link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/search.css">
<link rel="stylesheet" href="css/base.css">
<link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet" />




<div id="input_div">
	<input type="button" value="-" id="moins" onclick="minus()">
	<input type="text" size="25" value="1" id="count-people">
	<input type="button" value="+" id="plus" onclick="plus()">
</div>



<script src="js/main.js" type="text/javascript"></script>
















<!-- 
<div class="search-box">
	<div class="container Search-Box-Container">
		<form action="" class="l-row">
			<div class="Search-box">
				<div class="Icon-Box">
					<i class="fas fa-search"></i>
				</div>
				<input type="search" id="form1" class="search-text" placeholder="Input text..." />
			</div>
			<div class="check-In-box dropdown dropbtn">
				<div class="Icon-Box">
					<i class="far fa-calendar-check"></i>
				</div>
				Arrival date
				<div class="dropdown-content">
					<input type="date" id="form2" class="search-date" placeholder="date">
				</div>
			</div>
			<div class="check-Out-box dropdown dropbtn">
				<div class="Icon-Box">
					<i class="far fa-calendar-times"></i>
				</div>
				Departure date
				<div class="dropdown-content">
					<input type="date" id="form2" class="search-date" placeholder="date">
				</div>
			</div>

			<div class="occupancy-box dropdown dropbtn">
				<div class="Icon-Box">
					<i class="fas fa-users"></i>
				</div>
				<span class="occupancy-box-title">Room</span>
				<div class="dropdown-content">
					<select class="search-room" id="form4">
						<option selected>Room type</option>
						<option value="1">Standard Room</option>
						<option value="2"> Superior Room</option>
						<option value="3">Deluxe Room</option>Suite Room
						<option value="3">Suite Room</option>
					</select>
					<select class="search-room" id="form4">
						<option selected>People</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
				<div class="Icon-Box down-icon">
					<i class="fas fa-chevron-down"></i>
				</div>
			</div>
			<button type="button" class="Searchbox__searchButton">Search</button>
		</form>
	</div>
</div> -->