﻿@{
    Layout = null;
}

<link rel="stylesheet" href="/css/SearchAdvanced/searchAdvanced.css">
@if (@ViewBag.fltr == null)
{
    <div class="Error">
        <div class="error-icon"><i class="fa fa-frown"></i></div>
        <div class="error-text">No hotels found here. Please look for another value.</div>
    </div>
}
else
{
    @foreach (var itemname in @ViewBag.fltr)
    {
        <div class="maxPagef" id="@ViewBag.coutPage">
        </div>
        <div class="JacketContent">
            <div class="content-img">
                <div class="Gallery">
                    <div class="Overlay">
                        <img src="@itemname.Img1" alt="Ngoại cảnh" class="HeroImage">
                        <div class="Overlay-topleft">
                            @if (@itemname.Star == 5)
                            {
                                <div class="topleft-box">
                                    Five Stars Hotel
                                </div>
                            }
                            else if (@itemname.Star == 4)
                            {
                                <div class="topleft-box">
                                    Four Stars Hotel
                                </div>
                            }
                            else if (@itemname.Star == 3)
                            {
                                <div class="topleft-box">
                                    Three Stars Hotel
                                </div>
                            }
                            else if (@itemname.Star == 2)
                            {
                                <div class="topleft-box">
                                    Two Stars Hotel
                                </div>
                            }
                            else
                            {
                                <div class="topleft-box">
                                    One Star Hotel
                                </div>
                            }
                            @*<div class="topleft-box">
                                Wifi included
                                </div>*@
                        </div>
                    </div>
                    <span class="Overlay Gallery-Thumbnail">
                        <img src="@itemname.Img2" alt="phòng ốc" class="Thumbnail-Image">
                    </span>
                    <span class="Overlay Gallery-Thumbnail">
                        <img src="@itemname.Img3" alt="giường" class="Thumbnail-Image">
                    </span>
                    <span class="Overlay Gallery-Thumbnail">
                        <img src="@itemname.Img4" alt="phòng tắm" class="Thumbnail-Image">
                    </span>
                    <span class="Overlay Gallery-Thumbnail">
                        <img src="@itemname.Img5" alt="" class="Thumbnail-Image">
                        <div class="overlay-seeall">
                            <div class="seeall-container">
                                <div class="seeall-text">See All</div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="content-text">
                <div class="text-box">
                    <div class="box-info">
                        <h3 class="hotel-name">
                            @itemname.Name
                        </h3>
                        <div class="box-location">
                            <span class="Address-Container">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="Address-Text">
                                    @itemname.Address
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="box-sv">
                        <ol class="Pills">
                            @foreach (var faciList in @ViewBag.Faci)
                            {
                                @if (@itemname.HotelID == @faciList.HotelID)
                                {
                                    <li class="Pills-outlined">@faciList.FacilitiesName</li>
                                }
                            }
                        </ol>
                    </div>
                    <aside class="box-con">
                        @itemname.District
                    </aside>
                </div>
            </div>
            <div class="content-info">
                <div class="box-info">
                    <div class="box-review">
                        <div class="Review-Container">
                            <div class="Review">
                                <div class="text">
                                    @if (@itemname.Point >= 9)
                                    {
                                        <span class="review-evaluate">
                                            Exceptional
                                        </span>
                                    }
                                    else if (@itemname.Point >= 7 && @itemname.Point < 9)
                                    {
                                        <span class="review-evaluate">
                                            Good
                                        </span>
                                    }
                                    else if (@itemname.Point >= 4 && @itemname.Point < 7)
                                    {
                                        <span class="review-evaluate">
                                            Not Bad
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="review-evaluate">
                                            Very Bad
                                        </span>
                                    }
                                    <span class="review-count">
                                        540 reviews
                                    </span>
                                </div>
                                <div class="stars">
                                    <div class="star-number">
                                        <i class="fas fa-star fa-3x"></i>
                                        <div>
                                            <p>@itemname.Point</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="box-room">
                        <ul>
                            <li>
                                <div class="available">
                                    <p>ROOM PRICE</p>
                                </div>
                            </li>
                            <li>
                                <div class="check-out">
                                    <div class="icon">
                                        <i class="fas fa-arrow-down"></i>
                                    </div>
                                    <p>BOOK TODAY</p>
                                </div>
                            </li>
                        </ul>
                    </aside>
                    <div class="box-price">
                        <aside class="price">
                            <ul>
                                <li>
                                    <div class="final-price">
                                        @for (var i = 0; i < @ViewBag.Room.Count; i++)
                                        {
                                            @if (@itemname.HotelID == @ViewBag.Room[i].HotelID)
                                            {
                                                <span class="cost">
                                                    @ViewBag.Room[i].Price
                                                </span>
                                                break;
                                            }
                                            @if (i == @ViewBag.Room.Count - 1)
                                            {
                                                <span class="cost">
                                                    0
                                                </span>
                                            }
                                        }
                                        <span>&nbsp;</span>
                                        <span class="currency">$</span>
                                    </div>
                                </li>
                            </ul>
                        </aside>
                    </div>
                    <div class="box-booking">
                        <button class="booking-bnt" id="@itemname.HotelID">
                            <div>
                                <div class="box-text">
                                    <span>
                                        Choose a room
                                    </span>
                                    <div>
                                        <i class="fas fa-chevron-right"></i>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
}


<script src="/js/SearchAdvanced/searchAdvanced.js"></script>
