﻿@{
    ViewData["Title"] = "SearchAdvanced";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/SearchAdvanced/price_rangs.css">
<link rel="stylesheet" href="~/css/SearchAdvanced/searchAdvanced.css">
<div class="seachName" id="@ViewBag.searchName">
</div>
<div class="maxPage" id="@ViewBag.coutPage">
</div>
<div class="AllFaci" id="@ViewBag.AllFaci">

</div>
<div class="container-fluid">
    <div class="row">
        <div class="search-box">
            <div class="container Search-Box-Container">
                <div action="" class="l-row">
                    <div class="Search-box">
                        <div class="Icon-Box">
                            <i class="fas fa-search"></i>
                        </div>
                        <input type="search" id="hotel-search-text" class="search-text" placeholder="Input text..." value="@ViewBag.searchName" />
                    </div>
                    <div class="check-In-box dropdown dropbtn">
                        <span>Arrival date</span>
                        <div class="dropdown-content">
                            <input type="date" id="form2" class="search-date" placeholder="date">
                        </div>
                    </div>
                    <div class="check-Out-box dropdown dropbtn">
                       <span> Departure date</span>
                        <div class="dropdown-content">
                            <input type="date" id="form2" class="search-date" placeholder="date">
                        </div>
                    </div>

                    <div class="occupancy-box dropdown dropbtn" onclick="openForm()">
                        <div class="Icon-Box">
                            <i class="fas fa-users"></i>
                        </div>
                        <span class="occupancy-box-title">Room</span>
                        <div class="Icon-Box down-icon">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <button type="button" class="Searchbox__searchButton" onclick="searchInput()">Search</button>
                </div>
                <div class="form-popup" id="myForm">
                    <div action="#" class="form-container">
                        <h5>Room setting</h5>
                        <label for="room">Room type</label>
                        <select id="roomTypeID">
                            @if (ViewBag.type == "10")
                            {
                                <option value="5">All Room</option>
                                <option value="1">Standard Room</option>
                                <option value="2"> Superior Room</option>
                                <option value="3">Deluxe Room</option>
                                <option value="4">Suite Room</option>
                            }
                            else
                            {
                                @if (ViewBag.type == "5")
                                {
                                    <option selected value="5">All Room</option>
                                }
                                else
                                {
                                    <option value="5">All Room</option>
                                }
                                @if (ViewBag.type == "1")
                                {
                                    <option selected value="1">Standard Room</option>
                                }
                                else
                                {
                                    <option value="1">Standard Room</option>
                                }
                                @if (ViewBag.type == "2")
                                {
                                    <option selected value="2"> Superior Room</option>
                                }
                                else
                                {
                                    <option value="2"> Superior Room</option>
                                }
                                @if (ViewBag.type == "3")
                                {
                                    <option selected value="3">Deluxe Room</option>
                                }
                                else
                                {
                                    <option value="3">Deluxe Room</option>
                                }
                                @if (ViewBag.type == "4")
                                {
                                    <option selected value="4">Suite Room</option>
                                }
                                else
                                {
                                    <option value="4">Suite Room</option>
                                }
                            }

                            @*<option value="1">Standard Room</option>
                                <option value="2"> Superior Room</option>
                                <option value="3">Deluxe Room</option>
                                <option value="4">Suite Room</option>*@
                        </select>
                        <label for="people">People</label>
                    </div>
                    <div class="form-container">
                        <div id="input_div" class="people-count">
                            <input type="button" value="-" id="moins" onclick="minus()">
                            <input type="text" size="25" value="1" id="count-people">
                            <input type="button" value="+" id="plus" onclick="plus()">
                        </div>
                        <button type="button" class="btn cancel" onclick="closeForm()">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-ssr">
            <div class="l-row">
                <!-- Filter -->
                <div class="l-col-3">
                    <div class="filter-box">
                        <div class="Box-list">
                            <div class="filter-menu">
                                <span>Popular filters for Nha Trang</span>
                            </div>
                            <div class="PriceFilterRange">
                                <div class="filter-menu sidebar">
                                    <span>Price per night</span>
                                    <button type="button" class="btn btn-outline-primary apply-price" >Apply</button>
                                </div>

                                <div class="RangeSliderContainer">
                                    <div class="slider-with-marks">
                                        <div class="range-slider">
                                            <input value="0" min="0" max="@ViewBag.maxPrice" step="10" type="range" />
                                            <input value="@ViewBag.maxPrice" min="0" max="@ViewBag.maxPrice" step="10" type="range" />
                                            <span class="step">
                                                <Span>MIN $</Span>
                                                <Span>MAX $</Span>
                                            </span>
                                            <span>
                                                <input type="number" value="0" min="0" max="@ViewBag.maxPrice" class="min-price" />
                                                <input type="number" value="@ViewBag.maxPrice" min="0" max="@ViewBag.maxPrice" class="max-price" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-items">
                                    <ul class="filter-list-item">
                                        <li class="filter-item-react">
                                            <span class="filter-item-info">
                                                <span>
                                                    <input type="checkbox" id="star-filter" value="5" class="apply-price">
                                                    <span class="checkbox-icon "></span>
                                                </span>
                                                <span class="filter-item-body">
                                                    <span>
                                                        <span class="filter-item-content">
                                                            <i class="fas fa-star fa-3x"></i>
                                                            <i class="fas fa-star fa-3x"></i>
                                                            <i class="fas fa-star fa-3x"></i>
                                                            <i class="fas fa-star fa-3x"></i>
                                                            <i class="fas fa-star fa-3x"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li class="filter-item-react">
                                            <span class="filter-item-info">
                                                <span>
                                                    <input type="checkbox" id="star-filter" value="4" class="apply-price">
                                                    <span class="checkbox-icon"></span>
                                                </span>
                                                <span class="filter-item-body">
                                                    <span>
                                                        <span class="filter-item-content">
                                                            <i class="fas fa-star fa-3x"></i>
                                                            <i class="fas fa-star fa-3x"></i>
                                                            <i class="fas fa-star fa-3x"></i>
                                                            <i class="fas fa-star fa-3x"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <span id="dots1"></span>
                                <span id="more1">
                                    <div class="filter-items">
                                        <ul class="filter-list-item">
                                            <li class="filter-item-react">
                                                <span class="filter-item-info">
                                                    <span>
                                                        <input type="checkbox" id="star-filter" value="3" class="apply-price">
                                                        <span class="checkbox-icon"></span>
                                                    </span>
                                                    <span class="filter-item-body">
                                                        <span>
                                                            <span class="filter-item-content">
                                                                <i class="fas fa-star fa-3x"></i>
                                                                <i class="fas fa-star fa-3x"></i>
                                                                <i class="fas fa-star fa-3x"></i>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li class="filter-item-react">
                                                <span class="filter-item-info">
                                                    <span>
                                                        <input type="checkbox" id="star-filter" value="2" class="apply-price">
                                                        <span class="checkbox-icon"></span>
                                                    </span>
                                                    <span class="filter-item-body">
                                                        <span>
                                                            <span class="filter-item-content">
                                                                <i class="fas fa-star fa-3x"></i>
                                                                <i class="fas fa-star fa-3x"></i>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li class="filter-item-react">
                                                <span class="filter-item-info">
                                                    <span>
                                                        <input type="checkbox" id="star-filter" value="1" class="apply-price">
                                                        <span class="checkbox-icon"></span>
                                                    </span>
                                                    <span class="filter-item-body">
                                                        <span>
                                                            <span class="filter-item-content">
                                                                <i class="fas fa-star fa-3x"></i>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                            <div class="Filters__ExpansionButton">
                                <a class="more-less-btn" onclick="showMoreLessButton(1)" id="myBtn1">
                                    Show more
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </div>
                            <div class="FilterSeparator"></div>
                        </div>
                        <div class="Box-list">
                            <div class="filter-menu">
                                <span>Hotel Facilities</span>
                                
                            </div>
                            <div class="filter-items">
                                <ul class="filter-list-item">
                                    @{
                                        int cout = 0;
                                    }
                                    @foreach (var item in ViewBag.AllFaci)
                                    {
                                        if (cout < 3)
                                        {
                                            <li class="filter-item-react">
                                                <span class="filter-item-info">
                                                    <span>
                                                        <input type="checkbox" id="star-filter" value="@item.FacilitiesID" class="apply-price">
                                                        <span class="checkbox-icon"></span>
                                                    </span>
                                                    <span class="filter-item-body">
                                                        <span>
                                                            <span class="filter-item-content">@item.FacilitiesName</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                        }
                                        cout++;
                                    }

                                    @*<li class="filter-item-react">
                                        <span class="filter-item-info">
                                        <span>
                                        <input type="checkbox">
                                        <span class="checkbox-icon"></span>
                                        </span>
                                        <span class="filter-item-body">
                                        <span>
                                        <span class="filter-item-content">Spa</span>
                                        </span>
                                        </span>
                                        </span>
                                        </li>
                                        <li class="filter-item-react">
                                        <span class="filter-item-info">
                                        <span>
                                        <input type="checkbox">
                                        <span class="checkbox-icon"></span>
                                        </span>
                                        <span class="filter-item-body">
                                        <span>
                                        <span class="filter-item-content">Car parking</span>
                                        <span class="filter-count">(28)</span>
                                        </span>
                                        </span>
                                        </span>
                                        </li>
                                        <li class="filter-item-react">
                                        <span class="filter-item-info">
                                        <span>
                                        <input type="checkbox">
                                        <span class="checkbox-icon"></span>
                                        </span>
                                        <span class="filter-item-body">
                                        <span>
                                        <span class="filter-item-content">Swimming pool</span>
                                        <span class="filter-count">(5)</span>
                                        </span>
                                        </span>
                                        </span>
                                        </li>*@
                                </ul>
                            </div>
                            <span id="dots2"></span>
                            <span id="more2">
                                <div class="filter-items">
                                    <ul class="filter-list-item">
                                        @{
                                            cout = 0;
                                        }
                                        @foreach (var item in ViewBag.AllFaci)
                                        {
                                            if (cout >= 3)
                                            {
                                                <li class="filter-item-react">
                                                    <span class="filter-item-info">
                                                        <span>
                                                            <input type="checkbox" id="star-filter" value="@item.FacilitiesID" class="apply-price">
                                                            <span class="checkbox-icon"></span>
                                                        </span>
                                                        <span class="filter-item-body">
                                                            <span>
                                                                <span class="filter-item-content">@item.FacilitiesName</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </li>
                                            }
                                            cout++;
                                        }
                                    </ul>
                                </div>
                            </span>
                            <div class="Filters__ExpansionButton">
                                <a class="more-less-btn" onclick="showMoreLessButton(2)" id="myBtn2">
                                    Show more
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </div>
                            <div class="FilterSeparator"></div>
                        </div>
                        <div class="Box-list">
                            <div class="filter-menu">
                                <span>Guest Service</span>
                            </div>
                            <div class="filter-items">
                                <ul class="filter-list-item">
                                    @{
                                        cout = 0;
                                    }
                                    @foreach (var item in ViewBag.AllSev)
                                    {
                                        if (cout < 3)
                                        {
                                            <li class="filter-item-react">
                                                <span class="filter-item-info">
                                                    <span>
                                                        <input type="checkbox" id="star-filter" value="@item.ServiceId" class="apply-price">
                                                        <span class="checkbox-icon"></span>
                                                    </span>
                                                    <span class="filter-item-body">
                                                        <span>
                                                            <span class="filter-item-content">@item.ServiceName</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                        }
                                        cout++;
                                    }
                                </ul>
                            </div>
                            <span id="dots3"></span>
                            <span id="more3">
                                <div class="filter-items">
                                    <ul class="filter-list-item">
                                        @{
                                            cout = 0;
                                        }
                                        @foreach (var item in ViewBag.AllSev)
                                        {
                                            if (cout >= 3)
                                            {
                                                <li class="filter-item-react">
                                                    <span class="filter-item-info">
                                                        <span>
                                                            <input type="checkbox" id="star-filter" value="@item.ServiceId" class="apply-price">
                                                            <span class="checkbox-icon"></span>
                                                        </span>
                                                        <span class="filter-item-body">
                                                            <span>
                                                                <span class="filter-item-content">@item.ServiceName</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </li>
                                            }
                                            cout++;
                                        }
                                    </ul>
                                </div>
                            </span>
                            <div class="Filters__ExpansionButton">
                                <a class="more-less-btn" onclick="showMoreLessButton(3)" id="myBtn3">
                                    Show more
                                    <i class="fas fa-sort-down"></i>
                                </a>
                            </div>
                            <div class="FilterSeparator"></div>
                        </div>
                    </div>
                </div>

                <!-- Content -->
                <div class="l-col-9">
                    <div class="content-box">
                        @if (@ViewBag.Name == null)
                        {
                            <div class="Error">
                                <div class="error-icon"><i class="fa fa-frown"></i></div>
                                <div class="error-text">No hotels found here. Please look for another value.</div>
                            </div>
                        }
                        else
                        {
                            @foreach (var itemname in @ViewBag.Name)
                            {
                                <div class="JacketContent">
                                    <div class="content-img">
                                        <div class="Gallery">
                                            <div class="Overlay">
                                                <img src="@itemname.Img1" alt="Ngoại cảnh" class="HeroImage">
                                                <div class="Overlay-topleft">
                                                    @if (@itemname.Star == 5)
                                                    {
                                                        <div class="topleft-box">
                                                            Five Stars Hotel
                                                        </div>
                                                    }
                                                    else if (@itemname.Star == 4)
                                                    {
                                                        <div class="topleft-box">
                                                            Four Stars Hotel
                                                        </div>
                                                    }
                                                    else if (@itemname.Star == 3)
                                                    {
                                                        <div class="topleft-box">
                                                            Three Stars Hotel
                                                        </div>
                                                    }
                                                    else if (@itemname.Star == 2)
                                                    {
                                                        <div class="topleft-box">
                                                            Two Stars Hotel
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="topleft-box">
                                                            One Star Hotel
                                                        </div>
                                                    }
                                                    @*<div class="topleft-box">
                                                        Wifi included
                                                        </div>*@
                                                </div>
                                            </div>
                                            <span class="Overlay Gallery-Thumbnail">
                                                <img src="@itemname.Img2" alt="phòng ốc" class="Thumbnail-Image">
                                            </span>
                                            <span class="Overlay Gallery-Thumbnail">
                                                <img src="@itemname.Img3" alt="giường" class="Thumbnail-Image">
                                            </span>
                                            <span class="Overlay Gallery-Thumbnail">
                                                <img src="@itemname.Img4" alt="phòng tắm" class="Thumbnail-Image">
                                            </span>
                                            <span class="Overlay Gallery-Thumbnail">
                                                <img src="@itemname.Img5" alt="" class="Thumbnail-Image">
                                                <div class="overlay-seeall">
                                                    <div class="seeall-container">
                                                        <div class="seeall-text">See All</div>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="content-text">
                                        <div class="text-box">
                                            <div class="box-info">
                                                <h3 class="hotel-name">
                                                    @itemname.Name
                                                </h3>
                                                <div class="box-location">
                                                    <span class="Address-Container">
                                                        <i class="fas fa-map-marker-alt"></i>
                                                        <span class="Address-Text">
                                                            @itemname.Address
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="box-sv">
                                                <ol class="Pills">
                                                    @foreach (var faciList in @ViewBag.Faci)
                                                    {
                                                        @if (@itemname.HotelID == @faciList.HotelID)
                                                        {
                                                            <li class="Pills-outlined">@faciList.FacilitiesName</li>
                                                        }
                                                    }
                                                </ol>
                                            </div>
                                            <aside class="box-con">
                                                @itemname.District
                                            </aside>
                                        </div>
                                    </div>
                                    <div class="content-info">
                                        <div class="box-info">
                                            <div class="box-review">
                                                <div class="Review-Container">
                                                    <div class="Review">
                                                        <div class="text">
                                                            @if (@itemname.Point >= 9)
                                                            {
                                                                <span class="review-evaluate">
                                                                    Exceptional
                                                                </span>
                                                            }
                                                            else if (@itemname.Point >= 7 && @itemname.Point < 9)
                                                            {
                                                                <span class="review-evaluate">
                                                                    Good
                                                                </span>
                                                            }
                                                            else if (@itemname.Point >= 4 && @itemname.Point < 7)
                                                            {
                                                                <span class="review-evaluate">
                                                                    Not Bad
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="review-evaluate">
                                                                    Very Bad
                                                                </span>
                                                            }
                                                            <span class="review-count">
                                                                540 reviews
                                                            </span>
                                                        </div>
                                                        <div class="stars">
                                                            <div class="star-number">
                                                                <i class="fas fa-star fa-3x"></i>
                                                                <div>
                                                                    <p>@itemname.Point</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <aside class="box-room">
                                                <ul>
                                                    <li>
                                                        <div class="available">
                                                            <p>ROOM PRICE</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="check-out">
                                                            <div class="icon">
                                                                <i class="fas fa-arrow-down"></i>
                                                            </div>
                                                            <p>BOOK TODAY</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </aside>
                                            <div class="box-price">
                                                <aside class="price">
                                                    <ul>
                                                        <li>
                                                            <div class="final-price">
                                                                @for (var i = 0; i < @ViewBag.Room.Count; i++)
                                                                {
                                                                    @if (@itemname.HotelID == @ViewBag.Room[i].HotelID)
                                                                    {
                                                                        <span class="cost">
                                                                            @ViewBag.Room[i].Price
                                                                        </span>
                                                                        break;
                                                                    }
                                                                    @if (i == @ViewBag.Room.Count-1)
                                                                    {
                                                                        <span class="cost">
                                                                            0
                                                                        </span>
                                                                    }
                                                                }
                                                                <span>&nbsp;</span>
                                                                <span class="currency">$</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </aside>
                                            </div>
                                            <div class="box-booking">
                                                <button class="booking-bnt" id ="@itemname.HotelID">
                                                    <div>
                                                        <div class="box-text">
                                                            <span>
                                                                Choose a room
                                                            </span>
                                                            <div>
                                                                <i class="fas fa-chevron-right"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <nav aria-label="...">
                        <ul class="pagination">
                            @for (var i = 1; i <= @ViewBag.coutPage; i++)
                            {
                                @if (@i == 1)
                                {
                                    <li class="page-item">
                                        <a href="#" class="page-link" id="pre" value="0">Previous</a>
                                    </li>
                                }
                                @*=====page======*@
                                @if (@i == 1)
                                {
                                    <li class="page-item active"><a href="#" class="page-link">@i</a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a href="#" class="page-link">@i</a></li>
                                }
                                @if (@i == @ViewBag.coutPage)
                                {
                                    <li class="page-item">
                                        <a href="#" class="page-link" id="nex" value="1">Next</a>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
        function searchInput() {
            let searchtext = document.querySelector("#hotel-search-text").value;
            let searchroom = document.querySelector("#roomTypeID").value;
            //let searchroom document.querySelector("#roomTypeID").value;
            window.location.assign("https://localhost:7251/search?Name=" + searchtext + "&roomtype=" + searchroom);
        }
</script>
<script src="~/js/SearchAdvanced/searchAdvanced.js"></script>
<script src="~/js/SearchAdvanced/price-range.js"></script>
