
.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.login-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.img img {
    width: 500px;
}

.login-form {
    width: 360px;
}

.login-content img {
    height: 100px;
}

.login-content h2 {
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.8rem;
    text-shadow: 2px 2px #00FF00;
}

    .login-content h2.title_signUp {
        margin: 15px 0;
        color: #333;
        text-transform: uppercase;
        font-size: 2.8rem;
        text-shadow: -3px -3px #00FF00;
    }

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

    .login-content .input-div.one {
        margin-top: 0;
    }

.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .i i {
        transition: .3s;
    }

.input-div > div {
    position: relative;
    height: 45px;
}

    .input-div > div > h5 {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #999;
        font-size: 18px;
        transition: .3s;
    }

.input-div:before, .input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #38d39f;
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before, .input-div.focus:after {
    width: 50%;
}

.input-div.focus > div > h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus > .i > i {
    color: #38d39f;
}

.input-div.error > .i > i {
    color: #ff0d0d !important;
}

.error:after, .error:before {
    background-color: #ff0d0d !important;
}

.success:after, .success:before {
    background-color: #38d39f;
}

.input-div > div > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

.input-div.pass {
    margin-bottom: 4px;
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

    a:hover {
        color: #38d39f;
    }

.btn-login, .btn-sign {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

    .btn-login:hover {
        background-position: right;
    }


@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    .login-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .img {
        display: none;
    }

    .wave {
        display: none;
    }

    .login-content {
        justify-content: center;
    }
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#check {
    width: 20px;
    height: 20px;
}

.labelcheck {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

    .labelcheck a {
        margin-left: 2px;
        font-size: 16px;
        color: #212529;
    }

        .labelcheck a:hover {
            cursor: pointer;
            text-decoration: underline;
        }

.create_forgot {
    display: flex;
}

.forgot {
    margin-left: 116px;
}

.google {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 120px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 6px rgba(0,0,0,.3);
    transition: all .35s;
}

#gg {
    margin-top: 16px;
    font-size: 20px;
}

#sp {
    margin-top: 14px;
    font-size: 16px;
}

.google {
    background-color: #ea4335;
}

    .google span {
        color: #ea4335;
    }

    .google:nth-child(2) {
        margin: 0 10px;
    }

    .google span {
        font-size: 14px;
        position: absolute;
        background: #fff;
        top: 0;
        left: 0;
        width: 150px;
        height: 100%;
        border-radius: 40px;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: all .35s;
    }

    .google:hover {
        width: 150px;
    }

        .google:hover span {
            transform: translateX(0);
        }

