*{
    overflow: hidden;
}
body{
    background-color: rgb(172, 51, 15);
}
.Warning-main{
    height: 607px;
    width:  1243px;
    margin: auto;
    margin-top: 62px;

}
.fa-circle-xmark{    
    font-size: 100px;
    color: rgb(255, 255, 255);
    margin-left: 280px;
    margin-top: 60px;
}
.Warning-main-red-light{
    /* border: solid white 3px; */
    background-color: rgb(172, 51, 15);
    height: 600px;
    border-radius: 4px;
}
#Warning-main-red-light-conten{
    color: white;
    font-size: 30px;
    font-weight: 500;
}
.Warning-main-red-light-text{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-top: 10px;
    width:580px ;
    margin-left: 300px;
}
#Warning-main-red-light-conten-two{
    color: white;
    font-size: 14px;
}
#Warning-main-red-light-conten-threes{
    color: white;
    font-size: 14px;
}
.Warning-main-red-light-text-element{
    margin-top: 10px;
    line-height: 20px;
}
.Warning-main-red-light-icon-call i{
    font-size: 24px;
    position: relative;
    top: 8px;
    left: 34px;
}
.Warning-main-red-light-icon-call button{
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(235, 183, 86);
    width: 172px;
    height: 42px;
    font-weight: 500;
}
.Warning-main-red-light-icon-call{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#Warning-main-red-light-conten-four{
    padding-top: 40px;
    color: white;
}

