.acc-manager {
  padding: 60px 0;
  display: flex;
}
.acc-manager-left {
  margin-left: 200px;
  background-color: #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: inset -8px -1px 5px -5px #a6a6a6;
  color: #5392f9;
  font-weight: 400;
}
.manager-left-item {
  padding: 15px 20px;
}
.manager-left-item:hover {
  background-color: #5392f9;
  color: #ffffff;
  cursor: pointer;
}
.activeMenu {
    background-color: #5392f9;
    color: #ffffff;
}
.manager-left-item i {
  margin-right: 10px;
  width: 30px;
}
.acc-manager-right {
  margin-right: 200px;
  background-color: #f9f9f9;
  flex-grow: 1;
  min-height: 500px;

  padding-left: 50px;
}
.manager-right-item {
  padding: 10px;
}
.profile {
  padding: 10px 0;
}
.profile h3 {
  color: #333;
  font-weight: 200;
}
.profile-item {
  min-height: 103px;
  padding: 24px 20px;
  border: 1px solid #f9f9f9;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: #5a5b5b;
}
.profile-name-avatar {
  display: flex;
}
.profile-name-avatar div {
  margin-left: 20px;
}
.profile-name-avatar div span {
  font-weight: bold;
}
.profile-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.profile-edit {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 30px;
}
.profile-edit span:hover {
  color: #5392f9;
}
.profile-name {
  background-color: #fca1a0;
}
.profile-edit-infor {
  display: flex;
  flex-direction: column;
  display: none;
}
.profile-information {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.profile-information span {
  font-weight: bold;
}
.profile-information-save {
  display: flex;
  justify-content: end;
}
.profile-information-save button {
  border: 1px solid;
  border-radius: 5px;
  background-color: #13ff77f7;
  padding: 8px 16px;
}
.profile-information input {
  height: 45px;
  border: 1px solid #000000;
  padding: 5px 10px;
  margin-top: 10px;
}
.profile-same-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-align: start;
}
.profile-infor {
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.profile-infor span {
  font-weight: bold;
}
.profile-infor input {
  padding: 8px 16px;
  border: 1px solid;
  margin-right: 30px;
  margin-top: 5px;
}
.profile-infor input:focus {
  border-color: #5392f9;
}
.profile-edit-pass {
  display: flex;
  flex-direction: column;
  display: none;
}
.booking-manager-nav {
  margin-top: 40px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-manager-status {
  display: flex;
  align-items: center;
  text-align: center;
  width: 250px;
  padding: 10px;
}
.booking-manager-status span {
  padding: 10px;
  border-bottom: 3px solid #f95353;
}
.booking-manager-status span:hover {
  border-bottom: 3px solid #5392f9;
  cursor: pointer;
  color: #5392f9;
}
.booking-manager-sort {
  padding: 5px;
  border: 1px solid #000000;
  background-color: #ffffff;
}
.booking-manager-sort span {
  padding: 5px 10px;
  cursor: pointer;
}
.booking-manager-list-item {
  padding: 10px;
  width: 100%;
  height: 180px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.booking-mn-img img {
  width: 150px;
  height: 150px;
}

.hotel-star {
  color: #ffa726;
}

.booking-mn-action {
  padding: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.booking-mn-payment {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
}
.booking-mn-info {
  padding-top: 20px;
}
.booking-mn-time {
  display: flex;
  justify-content: space-around;
}
.mn-time-item {
  display: flex;
}

.booking-mn-price {
  display: flex;
}
.booking-mn-pay {
  width: 120px;
  height: 35px;
  background-color: rgb(1, 216, 1);
  border: 1px solid rgb(1, 216, 1);
  border-radius: 10px;
}
.booking-mn-pay:hover {
  background-color: rgb(4, 133, 4);
  border: 1px solid rgb(4, 133, 4);
}
.booking-mn-pay button {
  color: #ffffff;
}

.manager-list-partner {
  margin-left: -60px;
  width: 108.5%;
}
.manager-title-partner {
  display: flex;
  background-color: rgba(80, 80, 80, 0.1);
  height: 40px;
}
.manager-in-title {
  display: flex;
  width: 93%;
  margin-left: 3.5%;
}
.manager-apartner {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  height: 60px;
  border: 0px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
}
.manager-in-apartner {
  display: flex;
  width: 93%;
  margin-left: 3.5%;
}
.title {
  width: 14.2857142857%;
  max-width: 20%;
  text-align: left;
  padding-top: 7.5px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.7);
}
.apartner {
  width: 14.2857142857%;
  text-align: left;
  padding-top: 16.5px;
}
.title-status {
  width: 14.2857142857%;
  text-align: right;
  padding-top: 7.5px;
  padding-right: 2%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.title-status-hotel {
  width: 14.2857142857%;
  text-align: right;
  padding-top: 7.5px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.apartner-hotelname {
  width: 14.2857142857%;
  text-align: right;
  padding-top: 16.5px;
  padding-right: 2%;
}
.apartner-btn {
  width: 14.2857142857%;
  text-align: right;
  padding-top: 16.5px;
}
.manager-apartner {
  margin-top: 20px;
}
.btn-disable {
  height: 30px;
  width: 70px;
  border: 1px solid rgba(174, 252, 182, 0.8);
  background-color: rgba(174, 252, 182, 0.8);
  border-radius: 5px;
  font-weight: bolder;
  color: rgba(0, 242, 24, 0.7);
}
.btn-disable:hover {
  background-color: rgba(80, 80, 80, 0.8);
  color: white;
}

.manager-list-customer {
  margin-left: -25px;
  width: 100%;
}
.manager-title-customer {
  display: flex;
  background-color: rgba(80, 80, 80, 0.1);
  height: 40px;
}
.manager-in-title-customer {
  display: flex;
  width: 93%;
  margin-left: 3.5%;
}
.manager-customer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  height: 60px;
  border: 0px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
}
.manager-in-customer {
  display: flex;
  width: 93%;
  margin-left: 3.5%;
}
.title-customer {
  width: 16.6666666667%;
  max-width: 20%;
  text-align: left;
  padding-top: 7.5px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.7);
}
.customer {
  width: 16.6666666667%;
  text-align: left;
  padding-top: 16.5px;
}
.title-customer-status {
  width: 16.6666666667%;
  text-align: right;
  padding-top: 7.5px;
  padding-right: 2%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.customer-btn {
  width: 16.6666666667%;
  text-align: right;
  padding-top: 16.5px;
}
.manager-customer {
  margin-top: 20px;
}
.cancel {
  background-color: #f95353 !important;
  margin-left: 10px;
}
#statisticalItem {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#statisticalItem button {
  padding: 8px 16px;
  border: 1px solid;
  background-color: #5392f9;
  color: #ffffff;
  border-radius: 5px;
}
#chart #myChart {
  width: 100% !important;
  height: 90% !important;
}
#chart {
  height: 800px;
}
.chartDisplay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 888;
  background-color: #ffffff;
}
.exitChart {
  position: absolute;
  width: 25px;
  z-index: 999;
  top: 20px;
  right: 35px;
  cursor: pointer;
}
/****************************************************/
.manager-list-hotel-view {
    margin-left: -25px;
    width: 100%;
}
.manager-title-hotel {
    display: flex;
    background-color: rgba(80, 80, 80, 0.1);
    height: 40px;
}
.manager-in-title-hotel {
    display: flex;
    width: 93%;
    margin-left: 3.5%;
}
.title-hotel-STT {
    width: 10%;
    text-align: left;
    padding-top: 7.5px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.7);
}

.title-hotel-STT-view {
    width: 9%;
    margin-left: 1%;
    text-align: left;
    padding-top: 15px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.7);
}
.title-hotel-view {
    width: 40%;
    text-align: left;
    padding-top: 7.5px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.7);
}
.title-hotel-status-view {
    width: 50%;
    text-align: center;
    padding-top: 7.5px;
    padding-right: 2%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}
