﻿@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Account/Login_SignUp.css">
<img class="wave" src="~/image/Account/wave.png">
<div class="login-container">
    <div class="img">
        <img src="~/image/Account/hotel.svg">
    </div>
    <div class="login-content">
        <div class="login-form">
            <img src="~/image/Account/avatar.svg">
            <h2 class="title">Welcome to <br> HolaBooking</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Username</h5>
                    <input type="text" class="input login-user">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input type="password" class="input login-pass">
                </div>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="check" name="check" value="Bike">
                <label class="labelcheck" for="check">Remember password in 7 days.</label><br>
            </div>
            <input type="submit" class="btn-login" value="Login">
            <div class="create_forgot">
                <a href="/register">Create account</a>
                <a class="forgot" href="#">Forgot Password?</a>
            </div>
            <a href="#" class="google">
                <i id="gg" class="fab fa-google"></i>
                <span>
                    <p id="sp">Login with Google</p>
                </span>
            </a>
        </div>
    </div>
</div>
<script  src="~/js/Account/Login.js"></script>

