﻿
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Account/Login_SignUp.css">
<img class="wave" src="~/image/Account/wave.png">
	<div class="login-container">
		<div class="img">
			<img src="~/image/Account/SignUp.svg">
		</div>
		<div class="login-content">
			<div class="login-form">
				<h2 class="title_signUp">Sign Up</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input sign-up-username">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input sign-up-password">
            	   </div>
            	</div>
                <div class="input-div pass">
                    <div class="i"> 
                         <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                         <h5>Confirm password</h5>
                         <input type="password" class="input sign-up-repassword">
                 </div>
              </div>
			  <div class="checkbox">
				<input type="checkbox" id="check" name="check" value="Bike">
				<label class="labelcheck" for="check">I agree all <a href="/about#terms-conditions"> terms & conditions</a>.</label><br>
			  </div>			  
            	<input type="submit" class="btn-sign" value="Sign Up">
            </div>
        </div>
    </div>
    <script src="~/js/Account/SignUp.js"></script>

