﻿
@{
    ViewData["Title"] = "Warning";
    Layout = null;
}

<link rel="stylesheet" href="~/css/Account/warning.css">

<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
 <div class="Warning-main">

        <div class="Warning-main-red-light icon">
            
            <i class="fa-solid fa-circle-xmark"></i>
            <div class="Warning-main-red-light-text">

                <span id="Warning-main-red-light-conten">Looks like your account is having problems</span>
                <div class="Warning-main-red-light-text-element">

                    <span id="Warning-main-red-light-conten-two">It may be because you are entering the wrong password, please check the password again, or the admin has deactivated your
                         account (can be reopened when there is enough authentication information). 
                        If you have any questions, please contact us in
                        HolaBooking, all problems
                        will be answered (Note: only important issues are dealt with)</span>
                    <span id="Warning-main-red-light-conten-threes">Or you can try using a different account if
                        possible.</span>
                    </div>
                    <span id="Warning-main-red-light-conten-four">Please note that , there is a high chance of something wrong with your account , 
                        so Holabooking will not give a 100% success rate , please make sure you agree before contacting us</span>    
                <div class="Warning-main-red-light-icon-call">
                    <i class="fa-solid fa-phone-volume"></i>
                    <button class="homeBtn">Contact Us</button>
                </div>
            </div>
           
        </div>
    </div>
<script>
document.querySelector(".homeBtn").addEventListener("click",()=>{
    window,location = "/"
})
</script>