﻿@{
    ViewData["Title"] = "HotelEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Partner/image-upload.css">
<link rel="stylesheet" href="~/css/Partner/room-setup.css">

<div class="AllFaci" id="@ViewBag.listString">
</div>
<div style="display:none">
    <div class="accountID">@ViewBag.accountID</div>
    <div class="hotelID">@ViewBag.hotelID</div>

    @foreach (var item in ViewBag.listFaci)
    {
        <p class="FaciItem" id="@item.FacilitiesID">@item.FacilitiesName</p>
    }
</div>
<div class="container">

    <div class="roomsetup-header">
        <span class="title">Hotel Settings</span>
        <div class="control-button">
            <button type="button" class="btn btn-success add-room-btn save">Save changes</button>
            @*<button type="button" class="btn btn-warning add-room-btn add">Add New Hotel</button>*@
        </div>
    </div>
    <div class="roomsetup-content">
        <div class="basic-info">
            <span class="title-setting">Basic Settings</span>
            <div class="content-setting">
                <div class="input-group mb-3">
                    <div id="mrt-01" class="input-group-select mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Hotel Name</label>
                        <div class="step"></div>
                        <div class=" selectSearch">

                            <input autoComplete="on" class="HotelName" value="@ViewBag.Hotel.Name" type="text" />
                        </div>

                    </div>
                </div>
                <div class="input-group mb-3 roomtype-select">
                    <div id="mrt-01" class="input-group-select mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Hotel Star</label>
                        <div class="step"></div>
                        <div class=" selectSearch">
                            <datalist id="HotelStar">
                                <option>5</option>
                                <option>4</option>
                                <option>3</option>
                                <option>2</option>
                                <option>1</option>
                            </datalist>
                            <input autoComplete="on" value=@ViewBag.Hotel.Star list="HotelStar"
                                   placeholder="Choose Hotel Star......" class="HotelStar" />
                        </div>

                    </div>
                </div>
                <div class="input-group mb-3 " style="flex-direction: column;">
                    <div class="input-group mb-3">
                        <div id="mrt-01" class="input-group-select mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Description</label>
                            <div class="step"></div>
                            <div class=" selectSearch">

                                <input autoComplete="on" class="Description" value="@ViewBag.Hotel.Description" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basic-info">
            <span class="title-setting">Hotel location settings</span>
            <div class="content-setting">
                <div class="bag-div Country">
                    <div id="mrt-01" class="input-group-select mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Country name</label>
                        <div class="step"></div>
                        <div class=" selectSearch">
                            <datalist id="CountrySuggestions">
                            </datalist>
                            <input autoComplete="on" list="CountrySuggestions" value="@ViewBag.Hotel.Country"
                                   placeholder="Choose Country Name......" class="CountryName" />
                        </div>

                    </div>
                </div>
                <div class="bag-div">
                    <div class="input-group-select mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">City name</label>
                        <div class="step"></div>
                        <div class=" selectSearch">
                            <datalist id="CitySuggestions">
                            </datalist>
                            <input autoComplete="on" list="CitySuggestions" value="@ViewBag.Hotel.City"
                                   placeholder="Choose City Name......" class="CityName" />
                        </div>
                    </div>
                </div>
                <div class="bag-div">
                    <div class="input-group-select mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">District Name</label>
                        <div class="step"></div>
                        <div class=" selectSearch">
                            <datalist id="DistrictSuggestions">
                            </datalist>
                            <input autoComplete="on" list="DistrictSuggestions" value="@ViewBag.Hotel.District" placeholder="Choose District Name......"
                                   class="DistrictName" />
                        </div>
                    </div>
                </div>
                <div class="bag-div">
                    <div class="input-group-select mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Hotel Address</label>
                        <div class="step"></div>
                        <div class=" selectSearch">
                            <input class="AddressName" value="@ViewBag.Hotel.Address" />
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="basic-info">
        <span class="title-setting">Hotel picture</span>
        <div class="content-setting">
            <div class="mb-3 room-image-title">
                <span class="input-group-text" id="inputGroup-sizing-default">Hotel Image</span>
                <div id="myform" class="room-image-setting">
                    <div class="yes">
                        <span class="btn_upload">
                            <input type="file" id="imag" title="" class="input-img" />
                            <label for="imag">
                                @if (@ViewBag.Hotel.Img1 != null)
                                {
                                    <img id="ImgPreview"
                                     src="@ViewBag.Hotel.Img1"
                                     class="preview1" />
                                }
                                else
                                {
                                    <img id="ImgPreview"
                                     src="~/image/Other/image-files.png"
                                     class="preview1" />
                                }

                            </label>
                        </span>
                    </div>
                    <div class="yes">
                        <span class="btn_upload">
                            <input type="file" id="imag2" title="" class="input-img" />
                            <label for="imag2">
                                @* <img id="ImgPreview2" src="~/image/Other/image-files.png"
                                    class="preview2" />*@
                                @if (@ViewBag.Hotel.Img2 != null)
                                {
                                    <img id="ImgPreview2"
                                     src="@ViewBag.Hotel.Img2"
                                     class="preview2" />
                                }
                                else
                                {
                                    <img id="ImgPreview2"
                                     src="~/image/Other/image-files.png"
                                     class="preview2" />
                                }
                            </label>
                        </span>
                    </div>
                    <div class="yes">
                        <span class="btn_upload">
                            <input type="file" id="imag3" title="" class="input-img" />
                            <label for="imag3">
                                @* <img id="ImgPreview3" src="~/image/Other/image-files.png"
                                    class="preview3" />*@
                                @if (@ViewBag.Hotel.Img3 != null)
                                {
                                    <img id="ImgPreview3"
                                     src="@ViewBag.Hotel.Img3"
                                     class="preview3" />
                                }
                                else
                                {
                                    <img id="ImgPreview3"
                                     src="~/image/Other/image-files.png"
                                     class="preview3" />
                                }
                            </label>
                        </span>
                    </div>
                    <div class="yes">
                        <span class="btn_upload">
                            <input type="file" id="imag4" title="" class="input-img" />
                            <label for="imag4">
                                @*<img id="ImgPreview4" src="~/image/Other/image-files.png"
                                    class="preview4" />*@
                                @if (@ViewBag.Hotel.Img4 != null)
                                {
                                    <img id="ImgPreview4"
                                     src="@ViewBag.Hotel.Img4"
                                     class="preview4" />
                                }
                                else
                                {
                                    <img id="ImgPreview4"
                                     src="~/image/Other/image-files.png"
                                     class="preview4" />
                                }
                            </label>
                        </span>
                    </div>
                    <div class="yes">
                        <span class="btn_upload">
                            <input type="file" id="imag5" title="" class="input-img" />
                            <label for="imag5">
                                @*<img id="ImgPreview5" src="~/image/Other/image-files.png"
                                    class="preview5" />*@
                                @if (@ViewBag.Hotel.Img5 != null)
                                {
                                    <img id="ImgPreview5"
                                     src="@ViewBag.Hotel.Img5"
                                     class="preview5" />
                                }
                                else
                                {
                                    <img id="ImgPreview5"
                                     src="~/image/Other/image-files.png"
                                     class="preview5" />
                                }
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="basic-info">
        <span class="title-setting">Hotel Map</span>
        <div class="content-setting">
            <div class="mb-3 room-map-title">
                <span class="input-group-text mapAddress" id="inputGroup-sizing-default">@ViewBag.Hotel.Address, @ViewBag.Hotel.District, @ViewBag.Hotel.City, @ViewBag.Hotel.Country</span>
                <button type="button" class="btn btn-secondary loadMap">Load Map</button>

            </div>
            <div class="mb-3 room-map-title">
                <span>If you find the map loaded at the above address is not correct, you can <a style="color: blue; " class="currentMap">Load map according to your current location</a></span>

            </div>
            <div id="map"></div>
        </div>
        <div lat="123" lng="123" class="latAndlongtide"></div>
    </div>

    <div class="basic-info">
        <span class="title-setting">
            Select the facilities for your hotel
        </span>
        <div class="title-enter-add">Please click the button below to add facilities to your hotel!</div>
        <div id="content-setting-service-facilities" class="packaging">
            @if (ViewBag.listFacili != null)
            {
                foreach (var item in ViewBag.listFacili)
                {
                    <div class="content-setting-addnew">

                        <div class="content-setting-addnew">
                            <div class=" selectSearch">
                                <datalist id="FacilitiesName">
                                    @foreach (var item2 in ViewBag.listFaci)
                                    {
                                        <option data-value="@item2.FacilitiesID">@item2.FacilitiesName</option>
                                    }
                                </datalist>
                                <input value="@item.FacilitiesName" id="@item.FacilitiesID" autoComplete="on" list="FacilitiesName" placeholder="Choose Facilities ......"
                               class="FacilitiesName CountryName" />
                                <button class="remove-content">
                                    <i class="fal fa-times"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="packaging-all-btn">

            <div class="btn-p">
                <p class="btn-in-p">Add New Facilities</p>
            </div>

            <div class="packaging-btn">
                <button class="add-content" onclick="addnewContentfacilities();">
                    <i class="far fa-plus"></i>
                </button>
            </div>
        </div>


    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js" async></script>
    <script src="~/js/Partner/add-content.js"></script>
    <script src="~/js/Partner/address.js"></script>
    <script src="~/js/Partner/image-upload.js"></script>
    <script src="~/js/Partner/room-setup.js"></script>
    <script src="~/js/MyAccount/EditHotel.js"></script>

