﻿
@{
    ViewData["Title"] = "PartnerView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://css.gg/check.css" rel="stylesheet" />
<link href="https://css.gg/arrow-long-right.css" rel="stylesheet"/>
<link href="~/css/Partner/Partner.css" rel="stylesheet"/>
<div class="partner">
    <div class="partner-left">
      <h2>Post</h2>
      <!-- <h2 class="text">Hotel</h2> -->
      <marquee class="text" behavior="" direction="Left">Apartment, Hotel, Resort, Guesthouse, B&B</marquee>
      <h2>on HolaBooking.com</h2>
      <span>Registration can take as little as 15 minutes to complete – get
        started today</span>
    </div>
    <div class="partner-right">
      <div class="partner-right-frame">
        <div class="partner-right-header">
          <h2>Create new listing</h2>
        </div>
        <div class="partner-right-list">
          <ul>
            <li>
              <i class="gg-check"></i>
              <p>It's free to create a listing</p>
            </li>
            <li>
              <i class="gg-check"></i>
              <p>24/7 support by phone or email</p>
            </li>
            <li>
              <i class="gg-check"></i>
              <p>Set your own house rules for guests</p>
            </li>
            <li>
              <i class="gg-check"></i>
              <p>Sync your calendar with other sites you list on</p>
            </li>
          </ul>
        </div>
        <div class="partner-right-account">
          <span>Create a partner account to get started:</span>
          <p>
            By continuing, you agree to let HolaBooking.com email you regarding
            your property registration.
          </p>
          <button class="btnGetstarted">Get Started <i class="fal fa-arrow-right"></i></button>
        </div>
        <div class="partner-right-register">
          <p>Already started registration?</p>
          <a href="">Continue your registration</a>
        </div>
      </div>
    </div>
  </div>
  <script>
  let partnerRegister = document.querySelector(".btnGetstarted");
  console.log(partnerRegister);
  partnerRegister.addEventListener("click", ()=>{
        let query = new QueryData("account/updatepermission");
        query.addParam("PermissionID", 2);
        query.addEvent("load", function () {
            window.location = "/partner/hotelsetup"; 
        });
        query.send("PUT");
  }) ;
  </script>
