﻿
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/About/About.css">

<div class="about-page">
    <div class="about-section">
        <h1>HolaBooking</h1>
      </div>
      <div class="about-content">
        <h2>About HolaBooking</h2>
        <div class="about-contents">
        <ul class="about-items">
          <li><a href="#introduce">Introduce</a></li>
          <li><a href="#legal">Legal</a></li>
          <li><a href="#terms-conditions">Terms & Conditions</a></li>
          <ol class="terms-items">
            <li><a href="#terms1">1. Accommodation Reservation Facilitation</a></li>
            <li><a href="#terms2">2. A word about star ratings</a></li>
            <li><a href="#terms3">3. Use of the Site</a></li>
            <li><a href="#terms4">4. Prices</a></li>
            <li><a href="#terms5">5. Miscellaneous</a></li>
          </ol>
          <li><a href="#contact">Contact us</a></li>
        </ul>
        </div>
        
        <h2 id="introduce">Introduce</h2>
        <p>The Hola-Booking system is a middleware between the user and the hotel owner. Hola-booking can help users take the initiative in their own time to book hotels and services they desire.</p>
        <p>Hola-booking's fully online booking and service booking function will replace cumbersome and time-consuming manual booking processes for users to find the hotel and services they want for one of their vacations in other locations previously used by the user.</p>

        <h2 id="legal">Legal</h2>
        <p>HolaBooking is registered and based in FPT University ("Holabooking.com", "we", "us" or "our"), from where it renders an online accommodation reservation service (the "Service") on its website (the "Website"), and is supported internationally by its local group companies (the "support companies"). The support companies provide only internal support to Booking.com B.V. The support companies do not render the Service and do not own, operate or manage the Website or any other website.</p>
        <p>For all questions about Holabooking.com, the Service (i.e. the online accommodation reservation service) and the Website or if you wish to send or serve any documents, correspondence, notices or other communications in respect of Holabooking.com, the Service, the Website, or for press enquiries, please contact Holabooking. directly.</p>
        <p>Holabooking.com does not accept or assume any domicile at any place, location or office in the world (also not at the office of its support companies), other than its registered office in FPT University. The support companies do not operate and are not authorized to act as any form of process or service agent of Holabooking.com. No reservation can be made in or through the support companies.</p>
      
        <h2 id="terms-conditions">Terms & Conditions</h2>
        <p>These Terms of Use apply to your use of Holabooking’s Site and the services offered through it. Your use of the Site indicates your acceptance of the Terms of Use, including the polices incorporated into them by reference. If you do not accept the Terms of Use, you must not use the Site or the services.</p>
        <p>Holabooking may amend the Terms of Use from time-to-time by publishing changes on the site. The Terms of Use of constitute the entire agreement between you, Agoda, and Related Companies, and supersede any previous agreement or understanding.</p>
        <h4 id="terms1">1. Accommodation Reservation Facilitation</h4>
        <p>Through the Site, Holabooking provides an online platform through which you can browse different types of lodging and temporary accommodation, including but not necessarily limited to hotels, hostels, serviced apartments, B&Bs, rooms for rent, cottages, ryokans, etc. (collectively, the “Accommodation(s)”) and request to make reservations with such Accommodations, including already making payment for such reservations of Accommodations in advance with a credit card, debit card, e-wallet, or such other payment method to facilitate the processing of such payment (“Payment Instrument”). By making a booking through the Site for the Accommodation, you make an offer to book a reservation at the price listed for such reservation and such other terms and conditions stated on the Site. This shall become a binding contract formed in Viet Nam pursuant to the Terms of Use when accepted by the Accommodation and consequently Holabooking. You will receive proof of the confirmed Accommodation booking via an e-mail confirmation (with a voucher for prepaid Accommodations),which means the reservation has been confirmed by the Accommodation. The “thank you page” means your reservation request has been received and is complete for final processing, no further action is required by you. We reserve the right to reject bookings as set out below.</p>

        <h4 id="terms2">2. A word about star ratings</h4>
        <p>The Accommodation star, other denoted ratings, or any reference on the Site to a rating on the Site (“Accommodation Ratings”) are provided for your information only and are only provided in relation to the Accommodation. The Accommodation Ratings are based on information we have received from our suppliers, including the Accommodations, and may take into account the Accommodation’s facilities, rates, reviews, and services. Accommodation Ratings are unrelated to any other ratings assigned by government tourism authorities. We do not independently verify star ratings. A star rating is only indicative of the level of comfort you can expect to find in a particular Accommodation, with a higher star rating generally being indicative of a higher level of comfort and amenities. For more detailed information, please check the detailed description on the Site. Please be aware that star ratings can vary greatly on the basis of location, available alternatives, local market conditions, practices or other circumstances. Thus, it is possible that a star rating in one particular country or city is not comparable to the same star rating in another country or city due to such circumstances. Star ratings do not necessarily reflect all the amenities or services that might be available at an Accommodation, and some amenities and features may not be available in every room or at every property with a particular star rating. If there are particular amenities or features that are important to you, please contact our Customer Service and inquire as to the availability of such amenities or features.</p>

        <h4 id="terms3">3. Use of the Site</h4>
        <p>Holabooking grants you a limited, restricted, personal, non-transferable, non-sublicensable, revocable license to access and use the Site only as expressly permitted in the Terms of Use. Except for this limited license, we do not grant you any other rights or license with respect to the Site; any rights or licenses not expressly granted herein are reserved. The content and information on the Site, as well as the software and infrastructure used to provide such content and information, is proprietary to Agoda or its suppliers and providers, including the Accommodations and Ancillary Services. You may only use the Site to make bona fide and legitimate enquiries or bookings and you hereby undertake not to make any speculative, false or fraudulent bookings or any reservations in anticipation of demand. You undertake that the payment details you provide us with in making a booking are fully correct. You also undertake to provide correct and accurate e-mail, postal and/or other contact details to Agoda and acknowledge that Agoda may use these details to contact you in the event that this should prove necessary.</p>

        <h4 id="terms4">4. Prices</h4>
        <p>Please note that, unless expressly indicated otherwise, all prices on the Site are for room reservations only, for the specified stay dates and number of people. Without prejudice to what is set out below, before you confirm a reservation, Holabooking will display the total price payable, including taxes and service fees, and what is included. As you select options or specify additional details, we will update the total price.</p>
        
        <h4 id="terms5">5. Miscellaneous</h4>
        <p>Holabooking does not in any way (directly or indirectly, independently or in conjunction with any party) own, manage, operate or control the Accommodations, or any room in such Accommodations. The Accommodations are liable and responsible for providing accommodation services and welcoming people who have booked through the Site as their guests.</p>
        <p>You are at all times bound by the local laws and regulations. Things which are legal in certain countries may be illegal in others. You should enquire about applicable restrictions. Holabooking will not be liable in case an Accommodation refuses to check you in or asks you to leave for legal or regulatory reasons.</p>
        <p>For your convenience, the Site and the Terms of Use exist in a number of languages and local versions (identified by different top level domain names in some cases), but have originally been drawn up in the English language. In case of conflict between the English language version and a translated version, the English language version of the Terms of Use shall prevail.</p>
        <p>Failure by Holabooking to enforce a right does not result in waiver of such right. You may not assign or transfer your rights unless agreed by us. We reserve the right to freely assign the Terms of Use and the rights and obligations hereunder. We may amend the Terms of Use at any time by posting a variation on the Site. The latest version of the Terms of Use will supersede all previous versions. Your bookings will be governed by the then current applicable Terms of Use at the time of your specific bookings.</p>

        <h2 id="contact">Contact us</h2>

        <ul class="about-contact">
          <li>
            <i class="fas fa-phone-alt fa-3x"></i>
            <div>
              <h5>0123456789</h5>
              <p>Hotline & support 24/7</p>
            </div>
          </li>
          <li>
            <i class="fas fa-phone-office fa-3x"></i>
            <div>
              <h5>0123456789</h5>
              <p>Customer care</p>
            </div>
          </li>
          <li>
            <i class="fas fa-envelope fa-3x"></i>
            <div>
              <h5>Holabooking@gmail.com</h5>
              <p>Contact with HolaBooking</p>
            </div>
          </li>
          <li>
            <i class="fas fa-map-marked fa-3x"></i>
            <div>
              <h5>FPT University, Ninh Kieu, Can Tho</h5>
              <p>HolaBooking's office address</p>
            </div>
          </li>
        </ul>
      
      </div>
      <h1 style="text-align:center">Our Team</h1>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="~/image/Profile/Khang.jpg" alt="Khang" style="width:100%">
            <div class="container">
              <h2>Hoàng Khang</h2>
              <p class="title">Project Manager</p>
              <p>Khang@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="~/image/Profile/Doi.jpg" alt="Doi" style="width:100%">
            <div class="container">
              <h2>Văn Đời</h2>
              <p class="title">Deverloper</p>
              <p>Vandoi@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
              <img src="~/image/Profile/Hung.jpg" alt="Hung" style="width:100%">
              <div class="container">
                <h2>Tuấn Hưng</h2>
                <p class="title">Deverloper</p>
                <p>Tuanhung@gmail.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="~/image/Profile/Nguyen.jpg" alt="Nguyen" style="width:100%">
              <div class="container">
                <h2>Tấn Nguyên</h2>
                <p class="title">Deverloper</p>
                <p>Nguyen@gmail.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="~/image/Profile/Nhatreal.jpg" alt="Nhat" style="width:100%">
              <div class="container">
                <h2>Minh Nhật</h2>
                <p class="title">Deverloper</p>
                <p>Minhnhat@gmai.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
      
        <div class="column">
          <div class="card">
            <img src="~/image/Profile/Thang.jpg" alt="Thang" style="width:100%">
            <div class="container">
              <h2>Hữu Thắng</h2>
              <p class="title">Database</p>
              <p>Thang@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>

