﻿@model List<HolaBooking.Models.Review>
@{
    
    Layout = null;
    var userID = HolaBooking.src.Secret.Decode(Context.Session.GetString("userID"));
}

@foreach (var item in Model)
{
    <div class="list-comment-item">
        <div class="comment-point-item-left">
            <div class="comment-point">
                <div class="comment-point-header">
                    <h2>@item.Point</h2>
                    @if (@item.Point >= 9)
                    {
                        <h3>Exceptional</h3>
                    }
                    @if (@item.Point < 9 && @item.Point >= 7)
                    {
                        <h3>Good</h3>
                    }
                    @if (@item.Point < 7 && @item.Point >= 4)
                    {
                        <h3>Bad</h3>
                    }
                    @if (@item.Point < 4)
                    {
                        <h3>Very Bad</h3>
                    }
                </div>
                <div class="comment-point-item">

                    <div class="comment-left-item">
                        <progress id="file" value="@item.Cleanliness" max="10"> 32% </progress>
                        <div class="comment-point-info">
                            <p>Cleanliness</p>
                            <p class="user-poin">@item.Cleanliness</p>
                        </div>
                    </div>
                    <div class="comment-left-item">
                        <progress id="file" value="@item.Facilities" max="10"> 32% </progress>
                        <div class="comment-point-info">
                            <p>Facilities</p>
                            <p class="user-poin">@item.Facilities</p>
                        </div>
                    </div>
                    <div class="comment-left-item">
                        <progress id="file" value="@item.Location" max="10"> 32% </progress>
                        <div class="comment-point-info">
                            <p>Location</p>
                            <p class="user-poin">@item.Location</p>
                        </div>
                    </div>
                    <div class="comment-left-item">
                        <progress id="file" value="@item.Service" max="10"> 32% </progress>
                        <div class="comment-point-info">
                            <p>Service</p>
                            <p class="user-poin">@item.Service</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="comment-point-item-right">
            <div class="comment-user-name">
                <span>@item.FirstName @item.LastName</span>
            </div>
            <div class="comment-user-content">
                <p>@item.Text</p>
            </div>
            <div class="comment-date">
                <span>Reviewed:</span>
                <p>@item.Time</p>

            </div>
            @if (userID.Equals(item.AccountID.ToString()))
            {
                <div class="edit-comment">
                    <i class="fas fa-ellipsis-h-alt fa-lg"></i>

                    <div class="edit-comment-list">
                        <p>Edit</p>
                        <p id="@item.ReviewID"  code="@ViewBag.Hotel">Delete</p>
                    </div>
                </div>
            }

        </div>
    </div>

}


