﻿@model List<HolaBooking.Models.Room>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var hotel = ViewBag.Hotel;
    var Review = ViewData["Review"] as List<HolaBooking.Models.Review>;
    var listFacilities = ViewData["facilities"] as List<HolaBooking.Models.Facilities>;
    ViewData["Title"] = hotel.Name;
    var seesion = Context.Session.GetString("userID");
    var userID = "text";
    if (seesion != null)
    {
        userID = HolaBooking.src.Secret.Decode(seesion);
    }

    var cl = ViewBag.Cleanliness * 10;
    var fac = ViewBag.Faci * 10;
    var loc = ViewBag.Location * 10;
    var ser = ViewBag.Service * 10;
}

<style>
    p {
        margin-bottom: 0 !important;
    }
</style>
<link rel="stylesheet" href="/css/Roomdetail/RoomDetail.css" />

<div class="details">
    <div class="details-photo">
        <div class="hotel-photo">
            <div class="main-photo">
                <img src="@hotel.Img1" alt="" />
                <div class="see-all">
                    <i class="far fa-camera"></i>
                    <p>See all photos</p>
                </div>
                <div id="overlay"></div>
            </div>
            <div class="level-photo">
                <div class="img-level">
                    <img src="@hotel.Img2" alt="" />
                    <div id="overlay"></div>
                </div>
                <div class="img-level">
                    <img src="@hotel.Img3" alt="" />
                    <div id="overlay"></div>
                </div>
                <div class="img-level">
                    <img src="@hotel.Img4" alt="" />
                    <div id="overlay"></div>
                </div>
                <div class="img-level">
                    <img src="@hotel.Img5" alt="" />
                    <div id="overlay"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="details-hotel-nav">
        <div class="hotel-nav-list">
            <a href="#nav1">Overview</a>
            <a href="#nav2">Rooms</a>
            <a href="#nav3">Reviews</a>
            <a class="mini-map">Location</a>
        </div>
        <div class="hotel-nav-price">
            <div class="hotel-price">
                <p>from</p>
                <p>$</p>
                @if (Model != null)
                {
                    <span>@Model[0].Price</span>
                }
                else
                {
                    <span>0</span>

                }

            </div>
            <div class="hotel-view-price">
                <a href="">VIEW THIS DEAL</a>
            </div>
        </div>
    </div>
    <div id="nav1" class="details-hotel-information">
        <div class="details-hotel-info-left">
            <div class="hotel-infor">
                <div class="hotel-name-star">
                    <div class="hotel-name">
                        <h1>@hotel.Name</h1>
                    </div>
                    <div class="hotel-star">
                        @for (var i = 0; i < @hotel.Star; i++)
                        {
                            <i class="fad fa-star"></i>
                        }
                    </div>
                </div>
                <div class="hotel-address">
                    <p class="address">
                        @hotel.Address, @hotel.District, @hotel.City, @hotel.Country
                    <p class="line">-</p><span class="details-map">See Map</span>
                    </p>
                </div>
            </div>
            <div class="hotel-weather-covid">
                <div class="hotel-weather" location="@hotel.City.Trim()">
                    <div class="container-weather-covid">
                        <div class="weather-side">
                            <div class="weather-gradient"></div>
                            <div class="date-container">
                                <h2 class="date-dayname">Tuesday</h2>
                                <span class="location">paris</span>
                                <span class="date-day">15 Jan 2019</span>

                            </div>
                            <div class="weather-container">
                                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="">
                                <h3 class="weather-desc">Sunny</h3>
                            </div>
                            <div class="weather-temp-container">
                                <h1 class="weather-temp">29°C</h1>
                            </div>
                            <div class="weather-other-container">
                                <div class="wind">
                                    <i class="fas fa-wind"></i>
                                    <p>60</p>
                                    <span>m/s</span>
                                </div>
                                <div class="humidity">
                                    <i class="far fa-humidity"></i>
                                    <p>89</p>
                                    <span>%</span>
                                </div>
                                <div class="rain">
                                    <i class="far fa-cloud-rain"></i>
                                    <p>89</p>
                                    <span>mn</span>
                                </div>
                                <div class="snow">
                                    <i class="fas fa-snowflakes"></i>
                                    <p>89</p>
                                    <span>mn</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="hotel-covid" location=@hotel.Country>
                    <div class="container-weather-covid">
                        <div class="weather-side">
                            <div class="covid-gradient"></div>
                            <div class="date-container">
                                <h2 class="date-dayname">Tuesday</h2>
                                <span class="location">Paris</span>
                                <span class="date-day">15 Jan 2019</span>

                            </div>
                            <div class="covid-img">
                                <img src="https://special.vietnamplus.vn/wp-content/uploads/2021/07/coronavirus.png"
                                     alt="" srcset="">
                            </div>
                            <div class="covid-info">
                                <div class="covid-info-item">
                                    <span>Confirmed:</span>
                                    <p>2141422</p>
                                </div>
                                <div class="covid-info-item">
                                    <span>Deaths:</span>
                                    <p>36719</p>
                                </div>
                                <div class="covid-info-item">
                                    <span>Recovered:</span>
                                    <p>0</p>
                                </div>
                                <div class="covid-info-item">
                                    <span>Active:</span>
                                    <p>2104703</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="hotel-facilities">
                <div class="hotel-facilities-header">
                    <h2>Facilities</h2>
                </div>
                <div class="hotel-facilities-list">
                    @if (listFacilities != null)
                    {
                        @foreach (var item in listFacilities)
                        {
                            <div class="facilities-list-item">
                                <i class="fas fa-check"></i>
                                <p>@item.FacilitiesName</p>
                            </div>
                        }

                    }
                    else
                    {
                        <p class="noifor">The hotel does not currently have any facilities</p>
                    }

                </div>

            </div>
        </div>
        <div class="details-hotel-info-right">
            <div class="details-hotel-info-rw">
                <div class="rating">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Antu_rating.svg/1024px-Antu_rating.svg.png"
                         alt="">
                    <div class="poin HotelPoint">@hotel.Point</div>
                </div>
                <div class="rating-poin">
                    <div class="rating-status">
                        <h3>@ViewBag.PointName</h3>
                    </div>
                    <div class="rating-count">
                        <span>From</span>
                        <p>@ViewBag.Count</p>
                        <span>reviews</span>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
            </div>
            <div class="details-hotel-info-map">
                <img src="https://cdn6.agoda.net/images/MAPS-1214/default/property-map-entry-1.svg" alt="">
                <span>See Map</span>
            </div>
        </div>
    </div>
    <div class="details-hotel-description">
        <h3>Description</h3>
        <p>
            @hotel.Description
        </p>
    </div>
    <div id="nav2" class="details-hotel-room">

        @if (Model != null)
        {
            @foreach (var item in Model)
            {

                <div>
                    <div class="hotel-room-item">
                        <div class="room-header">
                            <h2>@item.RooomType</h2>
                        </div>
                        <div class="room-details">
                            <div class="room-details-left">
                                <div class="room-img">
                                    <div class="room-main-img">
                                        <img src="@item.Image1" alt="">
                                    </div>
                                    <div class="room-level-img">
                                        <img src="@item.Image2" alt="">
                                        <img src="@item.Image3" alt="">
                                    </div>
                                </div>
                                <div class="room-infor">
                                    <div class="room-bed">
                                        <i class="fas fa-bed fa-lg"></i>
                                        <p> @item.Bed @item.BedName</p>
                                    </div>
                                    <div class="room-size">
                                        <i class="far fa-home fa-lg"></i>
                                        <p>Room size: @item.RoomSize</p>
                                    </div>
                                </div>
                            </div>
                            <div class="room-details-right">
                                <div class="room-list-header">
                                    <span class="room-list-item1">Benefits</span>
                                    <span class="room-list-item2">Sleeps</span>
                                    <span class="room-list-item3">Price per night</span>
                                    <span class="room-list-item4">Rooms</span>
                                    <span class="room-list-item5">Most booked</span>
                                </div>
                                <div class="room-list-table">
                                    <div class="benefits room-list-item1">
                                        @*<div class="benefits-header">
                                            <p>Lowest price available!</p>
                                            </div>*@
                                        <div class="benefits-list">
                                            <span>Your price includes:</span>
                                            @if (item.ListDevices != null)
                                            {
                                                @foreach (var device in item.ListDevices)
                                                {
                                                    <div class="benefits-list-item">
                                                        <i class="fas fa-check"></i>
                                                        <p>@device.DeviceName</p>
                                                    </div>
                                                }

                                            }
                                            else
                                            {
                                                <p class="noifor">No device.</p>
                                            }



                                        </div>
                                    </div>
                                    <div class="sleeps room-list-item2">
                                        <p>@item.Sleep</p>
                                    </div>
                                    <div class="price room-list-item3">
                                        <div class="room-price">
                                            <p>$</p>
                                            <span>@item.Price</span>
                                        </div>
                                    </div>
                                    <div class="rooms room-list-item4">
                                        <span>1</span>
                                    </div>
                                    <div class="booked room-list-item5">
                                        <a class="reserve bookingBtn" id="@item.RoomId" HotelID="@hotel.HotelID">Booking</a>
                                        <a class="addtocart" id="@item.RoomId" HotelID="@hotel.HotelID">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="show-room-photos">
                        <div class="photos-container">
                            <div class="myRoomSlides">
                                <div class="numbertext">1 / 5</div>
                                <img src="@item.Image1" />
                                <div class="comment-point">
                                    <div class="roomSlideShowBox">
                                        <h4>Devive in Room</h4>
                                        @if (item.ListDevices != null)
                                        {
                                            @foreach (var device in item.ListDevices)
                                            {
                                                <div class="benefits-list-item">
                                                    <i class="fas fa-check"></i>
                                                    <p>@device.DeviceName</p>
                                                </div>
                                            }

                                        }
                                        else
                                        {
                                            <p class="noifor">No device.</p>
                                        }
                                    </div>

                                    <div class="exit-room-slide-show">
                                        <i class="fal fa-times fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="myRoomSlides">
                                <div class="numbertext">2 / 5</div>
                                <img src="@item.Image2" />
                                <div class="comment-point">
                                    <div class="roomSlideShowBox">
                                        <h4>Devive in Room</h4>
                                        @if (item.ListDevices != null)
                                        {
                                            @foreach (var device in item.ListDevices)
                                            {
                                                <div class="benefits-list-item">
                                                    <i class="fas fa-check"></i>
                                                    <p>@device.DeviceName</p>
                                                </div>
                                            }

                                        }
                                        else
                                        {
                                            <p class="noifor">No device.</p>
                                        }
                                    </div>

                                    <div class="exit-room-slide-show">
                                        <i class="fal fa-times fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="myRoomSlides">
                                <div class="numbertext">3 / 5</div>
                                <img src="@item.Image3" />
                                <div class="comment-point">

                                    <div class="roomSlideShowBox">
                                        <h4>Devive in Room</h4>
                                        @if (item.ListDevices != null)
                                        {
                                            @foreach (var device in item.ListDevices)
                                            {
                                                <div class="benefits-list-item">
                                                    <i class="fas fa-check"></i>
                                                    <p>@device.DeviceName</p>
                                                </div>
                                            }

                                        }
                                        else
                                        {
                                            <p class="noifor">No device.</p>
                                        }
                                    </div>
                                    <div class="exit-room-slide-show">
                                        <i class="fal fa-times fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="myRoomSlides">
                                <div class="numbertext">4 / 5</div>
                                <img src="@item.Image4" />
                                <div class="comment-point">

                                    <div class="roomSlideShowBox">
                                        <h4>Devive in Room</h4>
                                        @if (item.ListDevices != null)
                                        {
                                            @foreach (var device in item.ListDevices)
                                            {
                                                <div class="benefits-list-item">
                                                    <i class="fas fa-check"></i>
                                                    <p>@device.DeviceName</p>
                                                </div>
                                            }

                                        }
                                        else
                                        {
                                            <p class="noifor">No device.</p>
                                        }
                                    </div>
                                    <div class="exit-room-slide-show">
                                        <i class="fal fa-times fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="myRoomSlides">
                                <div class="numbertext">5 / 5</div>
                                <img src="@item.Image5" />
                                <div class="comment-point">
                                    <div class="roomSlideShowBox">
                                        <h4>Devive in Room</h4>
                                        @if (item.ListDevices != null)
                                        {
                                            @foreach (var device in item.ListDevices)
                                            {
                                                <div class="benefits-list-item">
                                                    <i class="fas fa-check"></i>
                                                    <p>@device.DeviceName</p>
                                                </div>
                                            }

                                        }
                                        else
                                        {
                                            <p class="noifor">No device.</p>
                                        }
                                    </div>

                                    <div class="exit-room-slide-show">
                                        <i class="fal fa-times fa-2x"></i>
                                    </div>
                                </div>
                            </div>


                            <a class="prev" onclick="plusRoomSlides(-1,this)">❮</a>
                            <a class="next" onclick="plusRoomSlides(1,this)">❯</a>

                            <div class="caption-container">
                                <p id="captionRoom"></p>
                            </div>

                            <div class="photos-row">
                                <div class="photos-column">
                                    <img class="demoRoom cursor" src="@item.Image1" style="width: 100%"
                                 onclick="currentRoomSlide(1,this)" alt="" />
                                </div>
                                <div class="photos-column">
                                    <img class="demoRoom cursor" src="@item.Image2" style="width: 100%"
                                 onclick="currentRoomSlide(2,this)" alt="" />
                                </div>
                                <div class="photos-column">
                                    <img class="demoRoom cursor" src="@item.Image3" style="width: 100%"
                                 onclick="currentRoomSlide(3,this)" alt="" />
                                </div>
                                <div class="photos-column">
                                    <img class="demoRoom cursor" src="@item.Image4" style="width: 100%"
                                 onclick="currentRoomSlide(4,this)" alt="" />
                                </div>
                                <div class="photos-column">
                                    <img class="demoRoom cursor" src="@item.Image5" style="width: 100%"
                                 onclick="currentRoomSlide(5,this)" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            }

        }
        else
        {
            <p class="noifor">
                The hotel has not updated rooms yet. Or all rooms are already booked, please come back later
            </p>
        }
    </div>
    <div id="nav3" class="details-hotel-review">
        <div class="hotel-review-header">
            <div class="details-hotel-info-rw">
                <div class="rating-main-item">
                    <div class="rating">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Antu_rating.svg/1024px-Antu_rating.svg.png"
                             alt="">
                        <div class="poin HotelPoint">@hotel.Point</div>
                    </div>
                    <div class="rating-poin">
                        <div class="rating-status">
                            <h3>@ViewBag.PointName</h3>

                        </div>
                        <div class="rating-count">
                            <span>From</span>
                            <p>@ViewBag.Count</p>
                            <span>reviews</span>
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="rating-item">
                    <h2 class="cl noprogress">@ViewBag.Cleanliness</h2>
                    <h5>Cleanliness</h5>
                </div>
                <div class="rating-item">
                    <h2 class="fan noprogress">@ViewBag.Faci</h2>
                    <h5>Facilities</h5>
                </div>
                <div class="rating-item">
                    <h2 class="lo noprogress">@ViewBag.Location</h2>
                    <h5>Location</h5>
                </div>
                <div class="rating-item">
                    <h2 class="se noprogress">@ViewBag.Service</h2>
                    <h5>Service</h5>
                </div>
            </div>
        </div>
        @if (seesion != null)
        {
            <div class="review-create">
                <div class="review-create-left">

                    <div class="create-left-item">
                        <h3>Cleanliness</h3>
                        <div class="choose-poin">
                            <div class="rating">
                                <i class="fas fa-star fa-3x"></i>
                                <div class="poin">10</div>
                            </div>
                            <div class="list-star">
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">1</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">2</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">3</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">4</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">5</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">6</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">7</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">8</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">9</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">10</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="create-left-item">
                        <h3>Facilities</h3>
                        <div class="choose-poin">
                            <div class="rating">
                                <i class="fas fa-star fa-3x"></i>
                                <div class="poin">10</div>
                            </div>
                            <div class="list-star">
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">1</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">2</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">3</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">4</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">5</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">6</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">7</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">8</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">9</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">10</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="create-left-item">
                        <h3>Location</h3>
                        <div class="choose-poin">
                            <div class="rating">
                                <i class="fas fa-star fa-3x"></i>
                                <div class="poin">10</div>
                            </div>
                            <div class="list-star">
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">1</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">2</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">3</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">4</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">5</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">6</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">7</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">8</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">9</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">10</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="create-left-item">
                        <h3>Service</h3>
                        <div class="choose-poin">
                            <div class="rating">
                                <i class="fas fa-star fa-3x"></i>
                                <div class="poin">10</div>
                            </div>
                            <div class="list-star">
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">1</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">2</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">3</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">4</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">5</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">6</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">7</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">8</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">9</div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star fa-2x"></i>
                                    <div class="poin">10</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="review-create-right">
                    <div class="comment-user-content">
                        <textarea name="" id="user-comment" placeholder="Write your review here......."></textarea>
                    </div>
                    <div class="comment-user-submit">
                        <button id="@hotel.HotelID">Send Review</button>
                    </div>
                </div>
            </div>
            <div class="review-list-comment">
                @if (Review != null)
                {
                    @foreach (var item in Review)
                    {
                        <div class="list-comment-item">
                            <div class="comment-point-item-left">
                                <div class="comment-point">
                                    <div class="comment-point-header">
                                        <h2>@item.Point</h2>
                                        <h3>@ViewBag.PointName</h3>
                                    </div>
                                    <div class="comment-point-item">

                                        <div class="comment-left-item">
                                            <progress id="file" value="@item.Cleanliness" max="10"> 32% </progress>
                                            <div class="comment-point-info">
                                                <p>Cleanliness</p>
                                                <p class="user-poin">@item.Cleanliness</p>
                                            </div>
                                        </div>
                                        <div class="comment-left-item">
                                            <progress id="file" value="@item.Facilities" max="10"> 32% </progress>
                                            <div class="comment-point-info">
                                                <p>Facilities</p>
                                                <p class="user-poin">@item.Facilities</p>
                                            </div>
                                        </div>
                                        <div class="comment-left-item">
                                            <progress id="file" value="@item.Location" max="10"> 32% </progress>
                                            <div class="comment-point-info">
                                                <p>Location</p>
                                                <p class="user-poin">@item.Location</p>
                                            </div>
                                        </div>
                                        <div class="comment-left-item">
                                            <progress id="file" value="@item.Service" max="10"> 32% </progress>
                                            <div class="comment-point-info">
                                                <p>Service</p>
                                                <p class="user-poin">@item.Service</p>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="comment-point-item-right">
                                <div class="comment-user-name">
                                    <span>@item.FirstName @item.LastName</span>
                                </div>
                                <div class="comment-user-content">
                                    <p>@item.Text</p>
                                </div>
                                <div class="comment-date">
                                    <span>Reviewed:</span>
                                    <p>@item.Time</p>

                                </div>
                                @if (userID.Equals(item.AccountID.ToString()))
                                {
                                    <div class="edit-comment">
                                        <i class="fas fa-ellipsis-h-alt fa-lg"></i>

                                        <div class="edit-comment-list">
                                            <p>Edit</p>
                                            <p id="@item.ReviewID" code="@hotel.HotelID">Delete</p>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>

                    }
                }
                else
                {
                    <div class="list-comment-item">
                        <p class="noifor">This hotel doesn't have any reviews yet, be the first to review it</p>
                    </div>
                }
            </div>
        }
    </div>
    <div class="show-photos">
        <div class="photos-container">
            <div class="mySlides">
                <div class="numbertext">1 / 5</div>
                <img src="@hotel.Img1" />
                <div class="comment-point">
                    <div class="comment-point-header">
                        <div class="rating">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Antu_rating.svg/1024px-Antu_rating.svg.png"
                                 alt="">
                            <div class="poin HotelPoint">@hotel.Point</div>
                        </div>
                        <h3>@ViewBag.PointName</h3>
                    </div>
                    <div class="comment-point-item">

                        <div class="comment-left-item">
                            <progress id="file" value="@cl" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Cleanliness</p>
                                <p class="cl">@ViewBag.Cleanliness</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@fac" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Facilities</p>
                                <p class="fan">@ViewBag.Faci</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@loc" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Location</p>
                                <p class="lo">@ViewBag.Location</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@ser" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Service</p>
                                <p class="se">@ViewBag.Service</p>
                            </div>
                        </div>
                    </div>
                    <div class="exit-slide-show">
                        <i class="fal fa-times fa-2x"></i>
                    </div>
                </div>
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 5</div>
                <img src="@hotel.Img2" />
                <div class="comment-point">
                    <div class="comment-point-header">
                        <div class="rating">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Antu_rating.svg/1024px-Antu_rating.svg.png"
                                 alt="">
                            <div class="poin HotelPoint">@hotel.Point</div>
                        </div>
                        <h3>@ViewBag.PointName</h3>
                    </div>
                    <div class="comment-point-item">

                        <div class="comment-left-item">
                            <progress id="file" value="@cl" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Cleanliness</p>
                                <p class="cl">@ViewBag.Cleanliness</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@fac" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Facilities</p>
                                <p class="fan">@ViewBag.Faci</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@loc" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Location</p>
                                <p class="lo">@ViewBag.Location</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@ser" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Service</p>
                                <p class="se">@ViewBag.Service</p>
                            </div>
                        </div>
                    </div>
                    <div class="exit-slide-show">
                        <i class="fal fa-times  fa-2x"></i>
                    </div>
                </div>
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 5</div>
                <img src="@hotel.Img3" />
                <div class="comment-point">
                    <div class="comment-point-header">
                        <div class="rating">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Antu_rating.svg/1024px-Antu_rating.svg.png"
                                 alt="">
                            <div class="poin HotelPoint">@hotel.Point</div>
                        </div>
                        <h3>@ViewBag.PointName</h3>
                    </div>
                    <div class="comment-point-item">

                        <div class="comment-left-item">
                            <progress id="file" value="@cl" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Cleanliness</p>
                                <p class="cl">@ViewBag.Cleanliness</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@fac" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Facilities</p>
                                <p class="fan">@ViewBag.Faci</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@loc" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Location</p>
                                <p class="lo">@ViewBag.Location</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@ser" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Service</p>
                                <p class="se">@ViewBag.Service</p>
                            </div>
                        </div>
                    </div>
                    <div class="exit-slide-show">
                        <i class="fal fa-times fa-2x"></i>
                    </div>
                </div>
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 5</div>
                <img src="@hotel.Img4" />
                <div class="comment-point">
                    <div class="comment-point-header">
                        <div class="rating">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Antu_rating.svg/1024px-Antu_rating.svg.png"
                                 alt="">
                            <div class="poin HotelPoint">@hotel.Point</div>
                        </div>
                        <h3>@ViewBag.PointName</h3>
                    </div>
                    <div class="comment-point-item">

                        <div class="comment-left-item">
                            <progress id="file" value="@cl" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Cleanliness</p>
                                <p class="cl">@ViewBag.Cleanliness</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@fac" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Facilities</p>
                                <p class="fan">@ViewBag.Faci</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@loc" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Location</p>
                                <p class="lo">@ViewBag.Location</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@ser" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Service</p>
                                <p class="se">@ViewBag.Service</p>
                            </div>
                        </div>
                    </div>
                    <div class="exit-slide-show">
                        <i class="fal fa-times  fa-2x"></i>
                    </div>
                </div>
            </div>

            <div class="mySlides">
                <div class="numbertext">5 / 5</div>
                <img src="@hotel.Img5" />
                <div class="comment-point">
                    <div class="comment-point-header">
                        <div class="rating">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Antu_rating.svg/1024px-Antu_rating.svg.png"
                                 alt="">
                            <div class="poin HotelPoint">@hotel.Point</div>
                        </div>
                        <h3>@ViewBag.PointName</h3>
                    </div>
                    <div class="comment-point-item">

                        <div class="comment-left-item">
                            <progress id="file" value="@cl" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Cleanliness</p>
                                <p class="cl">@ViewBag.Cleanliness</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@fac" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Facilities</p>
                                <p class="fan">@ViewBag.Faci</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@loc" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Location</p>
                                <p class="lo">@ViewBag.Location</p>
                            </div>
                        </div>
                        <div class="comment-left-item">
                            <progress id="file" value="@ser" max="100"> 32% </progress>
                            <div class="comment-point-info">
                                <p>Service</p>
                                <p class="se">@ViewBag.Service</p>
                            </div>
                        </div>
                    </div>
                    <div class="exit-slide-show">
                        <i class="fal fa-times  fa-2x"></i>
                    </div>
                </div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <div class="photos-row">
                <div class="photos-column">
                    <img class="demo cursor" src="@hotel.Img1" style="width: 100%" onclick="currentSlide(1)" alt="" />
                </div>
                <div class="photos-column">
                    <img class="demo cursor" src="@hotel.Img2" style="width: 100%" onclick="currentSlide(2)" alt="" />
                </div>
                <div class="photos-column">
                    <img class="demo cursor" src="@hotel.Img3" style="width: 100%" onclick="currentSlide(3)" alt="" />
                </div>
                <div class="photos-column">
                    <img class="demo cursor" src="@hotel.Img4" style="width: 100%" onclick="currentSlide(4)" alt="" />
                </div>
                <div class="photos-column">
                    <img class="demo cursor" src="@hotel.Img5" style="width: 100%" onclick="currentSlide(5)" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="show-map" lat="@hotel.Latitude" lng="@hotel.Longitude">
        <div class="map">
            <div id="map"></div>
        </div>
        <div class="exit-map">
            <i class="fal fa-times  fa-2x"></i>
        </div>
    </div>
</div>
<script src="~/js/Roomdetail/Review.js"></script>
<script src="~/js/Roomdetail/RoomDetail.js"></script>
