.container{
    display: flex;
    flex-direction: column;
    height: 600px;
}

.title{
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(80, 80, 80);
}

.roomsetup-header{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.roomsetup-content{
    display: flex;
    justify-content: space-between;
}

.basic-info{
    margin-top: 20px;
    background-color: white;
    border: 1px solid #adadad;
    width: 100%;
    border-radius: 1px;
    
}

.title-setting{
    display: flex;
    background-color: #49d5ff;
    width: 100%;
    height: 36px;
    justify-content: space-around;
    border-bottom: 1px solid #696969;
    font-weight: bold;
    color: rgb(105, 105, 105);
    align-items: center;
}

.content-setting{
    margin: 10px;
    margin-top: 20px;
}

.input-group-select{
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-group-select .selectpicker{
    margin: 0px;
}

.input-group-select:hover{
    cursor: pointer;
}

.content-setting select{
    border: 1px solid #ced4da;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.room-image-setting{
    display: flex;
    background-color: #d4d4d4;
    padding: 5px;
    justify-content: space-evenly;
}

.image-upload-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mystep{
    margin-left: 300px;
}

.preview1,
.preview2,
.preview3,
.preview4,
.preview5{
    width: 100px;
}

.room-image-title{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.dropdown{
    width: 100% !important;
    border: 1px solid #d4d4d4;
}