.acc-manager {
  padding: 20px 0;
  display: flex;
  margin-top: 100px;
}
.acc-manager-left {
  margin-left: 200px;
  background-color: #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: inset -8px -1px 5px -5px #a6a6a6;
  color: #5392f9;
  font-weight: 400;
}
.manager-left-item {
  padding: 15px 20px;
}
.manager-left-item:hover {
  background-color: #5392f9;
  color: #ffffff;
  cursor: pointer;
}
.manager-left-item i {
  margin-right: 10px;
}
.acc-manager-right {
  margin-right: 200px;
  background-color: #f9f9f9;
  flex-grow: 1;
  min-height: 500px;

  padding-left: 50px;
}
.manager-right-item {
  padding: 10px;
}
.profile {
  padding: 10px 0;
}
.profile h3 {
  color: #333;
  font-weight: 200;
}
.profile-item {
  height: 103px;
  padding: 24px 20px;
  border: 1px solid #f9f9f9;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: #5a5b5b;
}
.profile-name-avatar {
  display: flex;
}
.profile-name-avatar div {
  margin-left: 20px;
}
.profile-name-avatar div span {
  font-weight: bold;
}
.profile-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.profile-edit {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.profile-name {
  background-color: #fca1a0;
}
.profile-same-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-align: start;
}
.profile-infor {
  line-height: 1.1;
}
.profile-infor span {
  font-weight: bold;
}
.profile-infor p {
  margin: 0 !important;
}
.booking-manager-nav {
  margin-top: 40px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-manager-status {
  display: flex;
  align-items: center;
  text-align: center;
  width: 250px;
  padding: 10px;
}
.booking-manager-status span {
  padding: 10px;
  border-bottom: 3px solid #f95353;
}
.booking-manager-status span:hover {
  border-bottom: 3px solid #5392f9;
  cursor: pointer;
  color: #5392f9;
}
.booking-manager-sort {
  padding: 5px;
  border: 1px solid #000000;
  background-color: #ffffff;
}
.booking-manager-sort span {
  padding: 5px 10px;
  cursor: pointer;
}
.booking-manager-list-item {
  padding: 10px;
  width: 100%;
  height: 180px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.booking-mn-img img {
  width: 150px;
  height: 150px;
}

.hotel-star {
  color: #ffa726;
}

.booking-mn-action {
  padding: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.booking-mn-payment{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
}
.booking-mn-info{
  padding-top: 20px;
}
.booking-mn-time{
  display: flex;
  justify-content: space-around;
}
.mn-time-item{
  display: flex;
}


.booking-mn-price{
  display: flex;
}
.booking-mn-pay{
  width: 120px;
  height: 35px;
  background-color: rgb(1, 216, 1);
  border: 1px solid rgb(1, 216, 1);
  border-radius: 10px;
}
.booking-mn-pay:hover{
  background-color: rgb(4, 133, 4);
  border: 1px solid rgb(4, 133, 4);
}
.booking-mn-pay button {
  color: #ffffff;
}

.manager-list-partner{
  margin-left: -60px;
  width: 108.5%;
}
.manager-title-partner{
  display: flex;
  background-color: rgba(80, 80, 80, 0.1);
  height: 40px;
}
.manager-in-title{
  display: flex;
  width: 93%;
  margin-left: 3.5%;

}
.manager-apartner{
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  height: 60px;
  border: 0px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
}
.manager-in-apartner{
  display: flex;
  width: 93%;
  margin-left: 3.5%;
}
.title{
  width: 14.2857142857%;
  max-width: 20%;
  text-align: left;
  padding-top: 7.5px;
  font-weight: bolder;
color: rgba(0, 0, 0, 0.7);
}
.apartner{
  width: 14.2857142857%;
  text-align: left;
  padding-top: 16.5px;

}
.title-status{
  width: 14.2857142857%;
  text-align: right;
  padding-top: 7.5px;
  padding-right: 2%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.title-status-hotel{
  width: 14.2857142857%;
  text-align: right;
  padding-top: 7.5px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.apartner-hotelname{
  width: 14.2857142857%;
  text-align: right;
  padding-top: 16.5px;
  padding-right: 2%;
}
.apartner-btn{
  width: 14.2857142857%;
  text-align: right;
  padding-top: 16.5px;
}
.manager-apartner{
  margin-top: 20px;
}
.btn-disable{
  height: 30px;
  width: 70px;
  border: 1px solid rgba(252, 174, 174, 0.8);
  background-color: rgba(252, 174, 174, 0.8);
  border-radius: 5px;
  font-weight: bolder;
  color: rgba(242, 0, 0, 0.7);
}
.btn-disable:hover{
  background-color: rgba(252, 42, 42, 0.8);
  color: white;
}
.btn-edit{
  height: 30px;
  width: 70px;
  border: 1px solid rgba(128, 250, 141, 0.8);
  background-color: rgba(128, 250, 141, 0.8);
  border-radius: 5px;
  font-weight: bolder;
  color: rgba(0, 242, 24, 0.7);
}
.btn-edit:hover{
  background-color: rgba(66, 248, 42, 0.8);
  color: white;
}

.manager-list-customer{
  margin-left: -25px;
  width: 100%;
}
.manager-list-hotel{
  margin-left: -25px;
  width: 100%;
}
.manager-title-customer, .manager-title-hotel{
  display: flex;
  background-color: rgba(80, 80, 80, 0.1);
  height: 40px;
}

.manager-in-title-customer,.manager-in-title-hotel{
  display: flex;
  width: 93%;
  margin-left: 3.5%;

}
.manager-customer, .manager-hotel{
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  height: 60px;
  border: 0px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  margin-top: 20px;
}
.manager-in-customer,.manager-in-hotel{
  display: flex;
  width: 93%;
  margin-left: 3.5%;
}
.title-customer{
  width: 25%;
  text-align: left;
  padding-top: 7.5px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.7);
}
.title-hotel{
  width: 35%;
  text-align: left;
  padding-top: 7.5px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.7);
}
.title-hotel-star{
  width: 15%;
  text-align: left;
  padding-top: 7.5px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.7);
}
.customer{
  width: 25%;
  text-align: left;
  padding-top: 16.5px;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
}
.hotel{
  width: 35%;
  text-align: left;
  padding-top: 16.5px;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
}
.hotel-star-manager{
  width: 15%;
  text-align: left;
  padding-top: 16.5px;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
}
.title-customer-status{
  width: 25%;
  text-align: right;
  padding-top: 7.5px;
  padding-right: 2%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.title-hotel-status{
  width: 15%;
  text-align: right;
  padding-top: 7.5px;
  padding-right: 2%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.customer-btn, .hotel-btn{
  width: 25%;
  text-align: right;
  padding-top: 16.5px;
}
.hotel-btn{
  width: 15%;
  text-align: right;
  padding-top: 16.5px;
}








/* .my-booking{
  display: none;
} */
/* .my-profile {
  display: none;
}
.partner-manager{
  display: none;
}
.Customer-manager{
  display: none;
} */